SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[PostGL](
	[AutoIdx] [bigint] IDENTITY(1,1) NOT NULL,
	[TxDate] [smalldatetime] NULL,
	[Id] [varchar](5) COLLATE Latin1_General_CI_AS NOT NULL,
	[AccountLink] [int] NULL,
	[TrCodeID] [int] NULL,
	[Debit] [float] NULL,
	[Credit] [float] NULL,
	[iCurrencyID] [int] NULL,
	[fExchangeRate] [float] NULL,
	[fForeignDebit] [float] NULL,
	[fForeignCredit] [float] NULL,
	[Description] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[TaxTypeID] [int] NULL,
	[Reference] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Order_No] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[ExtOrderNum] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[cAuditNumber] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[Tax_Amount] [float] NULL,
	[fForeignTax] [float] NULL,
	[Project] [int] NULL,
	[Period] [int] NULL,
	[DrCrAccount] [int] NULL,
	[JobCodeLink] [int] NULL,
	[CRCCheck] [float] NULL,
	[DTStamp] [datetime] NULL,
	[UserName] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[iTaxPeriodID] [int] NULL,
	[cPayeeName] [varchar](100) COLLATE Latin1_General_CI_AS NULL,
	[bPrintCheque] [bit] NOT NULL,
	[cReference2] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[RepID] [int] NULL,
	[fJCRepCost] [float] NULL,
	[iMFPID] [int] NULL,
	[bIsJCDocLine] [bit] NOT NULL,
	[bIsSTGLDocLine] [bit] NOT NULL,
	[iInvLineID] [bigint] NOT NULL,
	[iTxBranchID] [int] NULL,
	[cBankRef] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[bPBTPaid] [bit] NOT NULL,
	[iGLTaxAccountID] [int] NULL,
	[bReconciled] [bit] NOT NULL,
	[xAttribute] [xml] NULL,
	[PostGL_iBranchID] [int] NULL,
	[PostGL_dCreatedDate] [datetime] NULL,
	[PostGL_dModifiedDate] [datetime] NULL,
	[PostGL_iCreatedBranchID] [int] NULL,
	[PostGL_iModifiedBranchID] [int] NULL,
	[PostGL_iCreatedAgentID] [int] NULL,
	[PostGL_iModifiedAgentID] [int] NULL,
	[PostGL_iChangeSetID] [int] NULL,
	[PostGL_Checksum] [binary](20) NULL,
	[iMajorIndustryCodeID] [int] NULL,
	[iImportDeclarationID] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
