SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dbo].[Accounts](
	[AccountLink] [int] IDENTITY(1,1) NOT NULL,
	[Master_Sub_Account] [varchar](91) COLLATE Latin1_General_CI_AS NULL,
	[AccountLevel] [int] NULL,
	[Account] [varchar](91) COLLATE Latin1_General_CI_AS NULL,
	[iAccountType] [int] NOT NULL,
	[SubAccOfLink] [int] NULL,
	[Dept] [varchar](10) COLLATE Latin1_General_CI_AS NULL,
	[Brch] [varchar](10) COLLATE Latin1_General_CI_AS NULL,
	[Jr] [bit] NOT NULL,
	[Description] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[CaseAcc] [varchar](10) COLLATE Latin1_General_CI_AS NULL,
	[ActiveAccount] [bit] NOT NULL,
	[dAccountsTimeStamp] [datetime] NULL,
	[cNextChequeNum] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[iGLSegment0ID] [int] NULL,
	[iGLSegment1ID] [int] NULL,
	[iGLSegment2ID] [int] NULL,
	[iGLSegment3ID] [int] NULL,
	[iGLSegment4ID] [int] NULL,
	[iGLSegment5ID] [int] NULL,
	[iGLSegment6ID] [int] NULL,
	[iGLSegment7ID] [int] NULL,
	[iGLSegment8ID] [int] NULL,
	[iGLSegment9ID] [int] NULL,
	[iReportCategoryID] [int] NULL,
	[fBankStatementBalance] [float] NULL,
	[cExtDescription] [varchar](255) COLLATE Latin1_General_CI_AS NULL,
	[iTaxTypeINVID] [int] NULL,
	[iTaxTypeCRNID] [int] NULL,
	[iTaxTypeGRVID] [int] NULL,
	[iTaxTypeRTSID] [int] NULL,
	[iAllowICSales] [bit] NOT NULL,
	[iAllowICPurchases] [bit] NOT NULL,
	[iMBReportingCategoryID] [int] NULL,
	[iMBCashFlowCategoryID] [int] NULL,
	[bMBIsAsset] [bit] NOT NULL,
	[bMBIsGrant] [bit] NOT NULL,
	[iMBAssetClassificationID] [int] NULL,
	[iMBAssetCategoryID] [int] NULL,
	[iMBAssetTypeID] [int] NULL,
	[iMBGrantLevel1TypeID] [int] NULL,
	[iMBGrantLevel2TypeID] [int] NULL,
	[iMBGrantLevel3TypeID] [int] NULL,
	[bIsBranchLoanAccount] [bit] NOT NULL,
	[iForeignBankCurrencyID] [int] NULL,
	[iForeignBankPEXAccID] [int] NULL,
	[iForeignBankLEXAccID] [int] NULL,
	[bRevalueWithSellingRate] [bit] NOT NULL,
	[bPaymentsBasedTax] [bit] NOT NULL,
	[cBankName] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[cBankAccountName] [varchar](50) COLLATE Latin1_General_CI_AS NULL,
	[cBankCode] [varchar](15) COLLATE Latin1_General_CI_AS NULL,
	[cBankAccountNumber] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[cBranchName] [varchar](30) COLLATE Latin1_General_CI_AS NULL,
	[cSEPABranchCode] [varchar](30) COLLATE Latin1_General_CI_AS NULL,
	[cBankRefNr] [varchar](30) COLLATE Latin1_General_CI_AS NULL,
	[iAttributeGroupID] [int] NOT NULL,
	[xAttribute] [xml] NULL,
	[bForeignBankAcc] [bit] NOT NULL,
	[Accounts_iBranchID] [int] NULL,
	[Accounts_dCreatedDate] [datetime] NULL,
	[Accounts_dModifiedDate] [datetime] NULL,
	[Accounts_iCreatedBranchID] [int] NULL,
	[Accounts_iModifiedBranchID] [int] NULL,
	[Accounts_iCreatedAgentID] [int] NULL,
	[Accounts_iModifiedAgentID] [int] NULL,
	[Accounts_iChangeSetID] [int] NULL,
	[Accounts_Checksum] [binary](20) NULL,
	[cBCloudBankAccountID] [varchar](50) COLLATE Latin1_General_CI_AS NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
