SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON




CREATE VIEW [CSG_1_FOODS].[PostAR] AS SELECT [AutoIdx]
      ,[TxDate]
      ,[Id]
      ,[AccountLink]
      ,[TrCodeID]
      ,[Debit]
      ,[Credit]
      ,[iCurrencyID]
      ,[fExchangeRate]
      ,[fForeignDebit]
      ,[fForeignCredit]
      ,[Description]
      ,[TaxTypeID]
      ,[Reference]
      ,[Order_No]
      ,[ExtOrderNum]
      ,[cAuditNumber]
      ,[Tax_Amount]
      ,[fForeignTax]
      ,[Project]
      ,[Outstanding]
      ,[fForeignOutstanding]
      ,CAST(NULL AS NVARCHAR(100)) AS [cAllocs]
      ,[InvNumKey]
      ,[RepID]
      ,[LinkAccCode]
      ,[TillID]
      ,[CRCCheck]
      ,[DTStamp]
      ,[UserName]
      ,[iTaxPeriodID]
      ,[cReference2]
      ,[fJCRepCost]
      ,[iAge]
      ,[dDateAged]
      ,[iPostSettlementTermsID]
      ,[iTxBranchID]
      ,[iMBPropertyID]
      ,[iMBPortionID]
      ,[iMBServiceID]
      ,[iMBMeterID]
      ,[iMBPropertyPortionServiceID]
      ,[bPBTPaid]
      ,[iGLTaxAccountID]
      ,[iTransactionType]
      ,[PostAR_iBranchID]
      ,[PostAR_dCreatedDate]
      ,[PostAR_dModifiedDate]
      ,[PostAR_iCreatedBranchID]
      ,[PostAR_iModifiedBranchID]
      ,[PostAR_iCreatedAgentID]
      ,[PostAR_iModifiedAgentID]
      ,[PostAR_iChangeSetID]
      ,[PostAR_Checksum]
      ,[SagePayExtra1]
      ,[SagePayExtra2]
      ,[SagePayExtra3]
      ,[iMajorIndustryCodeID]
      ,[iTaxBadDebtState] FROM [CSG_Foods_M].[dbo].[PostAR]


GO
