SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON





CREATE VIEW [CSG_1_FOODS].[PostAP] AS 
SELECT [AutoIdx]
      ,[TxDate]
      ,[Id]
      ,[AccountLink]
      ,[TrCodeID]
      ,[Debit]
      ,[Credit]
      ,[iCurrencyID]
      ,[fExchangeRate]
      ,[fForeignDebit]
      ,[fForeignCredit]
      ,[Description]
      ,[TaxTypeID]
      ,[Reference]
      ,[Order_No]
      ,[ExtOrderNum]
      ,[cAuditNumber]
      ,[Tax_Amount]
      ,[fForeignTax]
      ,[Project]
      ,[Outstanding]
      ,[fForeignOutstanding]
      ,CAST(NULL AS NVARCHAR(100)) AS [cAllocs]
      ,[InvNumKey]
      ,[CRCCheck]
      ,[DTStamp]
      ,[UserName]
      ,[iTaxPeriodID]
      ,[cReference2]
      ,[iAge]
      ,[dDateAged]
      ,[iPostSettlementTermsID]
      ,[iTxBranchID]
      ,[bPBTPaid]
      ,[iGLTaxAccountID]
      ,[bTxOnHold]
      ,[PostAP_iBranchID]
      ,[PostAP_dCreatedDate]
      ,[PostAP_dModifiedDate]
      ,[PostAP_iCreatedBranchID]
      ,[PostAP_iModifiedBranchID]
      ,[PostAP_iCreatedAgentID]
      ,[PostAP_iModifiedAgentID]
      ,[PostAP_iChangeSetID]
      ,[PostAP_Checksum]
      ,[SagePayExtra1]
      ,[SagePayExtra2]
      ,[SagePayExtra3]
      ,[iTaxBadDebtState]
      ,[bReverseChargeApplied]
      ,[bReverseChargeCustoms]
      ,[cReverseChargeAuditNr] 

FROM [CSG_Foods_M].[dbo].[PostAP]


GO
