SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

CREATE VIEW [CSG_1_FOODS].[PostGL] AS

SELECT 
	[AutoIdx]
      ,[TxDate]
      ,[Id]
      ,[AccountLink]
      ,[TrCodeID]
      ,[Debit]
      ,[Credit]
      ,[iCurrencyID]
      ,[fExchangeRate]
      ,[fForeignDebit]
      ,[fForeignCredit]
      ,[Description]
      ,[TaxTypeID]
      ,[Reference]
      ,[Order_No]
      ,[ExtOrderNum]
      ,[cAuditNumber]
      ,[Tax_Amount]
      ,[fForeignTax]
      ,[Project]
      ,[Period]
      ,[DrCrAccount]
      ,[JobCodeLink]
      ,[CRCCheck]
      ,[DTStamp]
      ,[UserName]
      ,[iTaxPeriodID]
      ,[cPayeeName]
      ,[bPrintCheque]
      ,[cReference2]
      ,[RepID]
      ,[fJCRepCost]
      ,[iMFPID]
      ,[bIsJCDocLine]
      ,[bIsSTGLDocLine]
      ,[iInvLineID]
      ,[iTxBranchID]
      ,[cBankRef]
      ,[bPBTPaid]
      ,[iGLTaxAccountID]
      ,[bReconciled]
      ,CONVERT(VARCHAR(MAX), [xAttribute]) AS [xAttribute]
      ,[PostGL_iBranchID]
      ,[PostGL_dCreatedDate]
      ,[PostGL_dModifiedDate]
      ,[PostGL_iCreatedBranchID]
      ,[PostGL_iModifiedBranchID]
      ,[PostGL_iCreatedAgentID]
      ,[PostGL_iModifiedAgentID]
      ,[PostGL_iChangeSetID]
      ,[PostGL_Checksum]
      ,[iMajorIndustryCodeID]
      ,[iImportDeclarationID]

FROM [CSG_Foods_M].[dbo].[PostGL]


GO
