SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON

CREATE VIEW [CSG_1_FOODS].[Accounts] 
AS
SELECT 
	[AccountLink]
      ,[Master_Sub_Account]
      ,[AccountLevel]
      ,[Account]
      ,[iAccountType]
      ,[SubAccOfLink]
      ,[Dept]
      ,[Brch]
      ,[Jr]
      ,[Description]
      ,[CaseAcc]
      ,[ActiveAccount]
      ,[dAccountsTimeStamp]
      ,[cNextChequeNum]
      ,[iGLSegment0ID]
      ,[iGLSegment1ID]
      ,[iGLSegment2ID]
      ,[iGLSegment3ID]
      ,[iGLSegment4ID]
      ,[iGLSegment5ID]
      ,[iGLSegment6ID]
      ,[iGLSegment7ID]
      ,[iGLSegment8ID]
      ,[iGLSegment9ID]
      ,[iReportCategoryID]
      ,[fBankStatementBalance]
      ,[cExtDescription]
      ,[iTaxTypeINVID]
      ,[iTaxTypeCRNID]
      ,[iTaxTypeGRVID]
      ,[iTaxTypeRTSID]
      ,[iAllowICSales]
      ,[iAllowICPurchases]
      ,[iMBReportingCategoryID]
      ,[iMBCashFlowCategoryID]
      ,[bMBIsAsset]
      ,[bMBIsGrant]
      ,[iMBAssetClassificationID]
      ,[iMBAssetCategoryID]
      ,[iMBAssetTypeID]
      ,[iMBGrantLevel1TypeID]
      ,[iMBGrantLevel2TypeID]
      ,[iMBGrantLevel3TypeID]
      ,[bIsBranchLoanAccount]
      ,[iForeignBankCurrencyID]
      ,[iForeignBankPEXAccID]
      ,[iForeignBankLEXAccID]
      ,[bRevalueWithSellingRate]
      ,[bPaymentsBasedTax]
      ,[cBankName]
      ,[cBankAccountName]
      ,[cBankCode]
      ,[cBankAccountNumber]
      ,[cBranchName]
      ,[cSEPABranchCode]
      ,[cBankRefNr]
      ,[iAttributeGroupID]
      ,CONVERT(VARCHAR(MAX), [xAttribute]) AS [xAttribute]
      ,[bForeignBankAcc]
      ,[Accounts_iBranchID]
      ,[Accounts_dCreatedDate]
      ,[Accounts_dModifiedDate]
      ,[Accounts_iCreatedBranchID]
      ,[Accounts_iModifiedBranchID]
      ,[Accounts_iCreatedAgentID]
      ,[Accounts_iModifiedAgentID]
      ,[Accounts_iChangeSetID]
      ,[Accounts_Checksum]
      ,[cBCloudBankAccountID]
FROM 
	[CSG_Foods_M].[dbo].[Accounts]


GO
