SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE VIEW [dv_CSG_1_FOODS].[VW_Client] AS 
	SELECT
		  [TDFT_SRC].[DATATYPE] AS [DATATYPE]
		, [TDFT_SRC].[DCLink] AS [DCLink]
		, [TDFT_SRC].[iClassID] AS [iClassID]
		, [TDFT_SRC].[Account] AS [Account]
		, [TDFT_SRC].[Name] AS [Name]
		, [TDFT_SRC].[Title] AS [Title]
		, [TDFT_SRC].[Init] AS [Init]
		, [TDFT_SRC].[Contact_Person] AS [Contact_Person]
		, [TDFT_SRC].[Physical1] AS [Physical1]
		, [TDFT_SRC].[Physical2] AS [Physical2]
		, [TDFT_SRC].[Physical3] AS [Physical3]
		, [TDFT_SRC].[Physical4] AS [Physical4]
		, [TDFT_SRC].[Physical5] AS [Physical5]
		, [TDFT_SRC].[PhysicalPC] AS [PhysicalPC]
		, [TDFT_SRC].[Addressee] AS [Addressee]
		, [TDFT_SRC].[Post1] AS [Post1]
		, [TDFT_SRC].[Post2] AS [Post2]
		, [TDFT_SRC].[Post3] AS [Post3]
		, [TDFT_SRC].[Post4] AS [Post4]
		, [TDFT_SRC].[Post5] AS [Post5]
		, [TDFT_SRC].[PostPC] AS [PostPC]
		, [TDFT_SRC].[Delivered_To] AS [Delivered_To]
		, [TDFT_SRC].[Telephone] AS [Telephone]
		, [TDFT_SRC].[Telephone2] AS [Telephone2]
		, [TDFT_SRC].[Fax1] AS [Fax1]
		, [TDFT_SRC].[Fax2] AS [Fax2]
		, [TDFT_SRC].[AccountTerms] AS [AccountTerms]
		, [TDFT_SRC].[CT] AS [CT]
		, [TDFT_SRC].[Tax_Number] AS [Tax_Number]
		, [TDFT_SRC].[Registration] AS [Registration]
		, [TDFT_SRC].[Credit_Limit] AS [Credit_Limit]
		, [TDFT_SRC].[RepID] AS [RepID]
		, [TDFT_SRC].[Interest_Rate] AS [Interest_Rate]
		, [TDFT_SRC].[Discount] AS [Discount]
		, [TDFT_SRC].[On_Hold] AS [On_Hold]
		, [TDFT_SRC].[BFOpenType] AS [BFOpenType]
		, [TDFT_SRC].[EMail] AS [EMail]
		, [TDFT_SRC].[BankLink] AS [BankLink]
		, [TDFT_SRC].[BranchCode] AS [BranchCode]
		, [TDFT_SRC].[BankAccNum] AS [BankAccNum]
		, [TDFT_SRC].[BankAccType] AS [BankAccType]
		, [TDFT_SRC].[AutoDisc] AS [AutoDisc]
		, [TDFT_SRC].[DiscMtrxRow] AS [DiscMtrxRow]
		, [TDFT_SRC].[MainAccLink] AS [MainAccLink]
		, [TDFT_SRC].[CashDebtor] AS [CashDebtor]
		, [TDFT_SRC].[DCBalance] AS [DCBalance]
		, [TDFT_SRC].[CheckTerms] AS [CheckTerms]
		, [TDFT_SRC].[UseEmail] AS [UseEmail]
		, [TDFT_SRC].[iIncidentTypeID] AS [iIncidentTypeID]
		, [TDFT_SRC].[iBusTypeID] AS [iBusTypeID]
		, [TDFT_SRC].[iBusClassID] AS [iBusClassID]
		, [TDFT_SRC].[iCountryID] AS [iCountryID]
		, [TDFT_SRC].[iAgentID] AS [iAgentID]
		, [TDFT_SRC].[dTimeStamp] AS [dTimeStamp]
		, [TDFT_SRC].[cAccDescription] AS [cAccDescription]
		, [TDFT_SRC].[cWebPage] AS [cWebPage]
		, [TDFT_SRC].[iAreasID] AS [iAreasID]
		, [TDFT_SRC].[cBankRefNr] AS [cBankRefNr]
		, [TDFT_SRC].[iCurrencyID] AS [iCurrencyID]
		, [TDFT_SRC].[bStatPrint] AS [bStatPrint]
		, [TDFT_SRC].[bStatEmail] AS [bStatEmail]
		, [TDFT_SRC].[cStatEmailPass] AS [cStatEmailPass]
		, [TDFT_SRC].[bForCurAcc] AS [bForCurAcc]
		, [TDFT_SRC].[fForeignBalance] AS [fForeignBalance]
		, [TDFT_SRC].[bTaxPrompt] AS [bTaxPrompt]
		, [TDFT_SRC].[iARPriceListNameID] AS [iARPriceListNameID]
		, [TDFT_SRC].[iSettlementTermsID] AS [iSettlementTermsID]
		, [TDFT_SRC].[bSourceDocPrint] AS [bSourceDocPrint]
		, [TDFT_SRC].[bSourceDocEmail] AS [bSourceDocEmail]
		, [TDFT_SRC].[iEUCountryID] AS [iEUCountryID]
		, [TDFT_SRC].[iDefTaxTypeID] AS [iDefTaxTypeID]
		, [TDFT_SRC].[bCODAccount] AS [bCODAccount]
		, [TDFT_SRC].[iAgeingTermID] AS [iAgeingTermID]
		, [TDFT_SRC].[bElecDocAcceptance] AS [bElecDocAcceptance]
		, [TDFT_SRC].[iBankDetailType] AS [iBankDetailType]
		, [TDFT_SRC].[cBankAccHolder] AS [cBankAccHolder]
		, [TDFT_SRC].[cIDNumber] AS [cIDNumber]
		, [TDFT_SRC].[cPassportNumber] AS [cPassportNumber]
		, [TDFT_SRC].[bInsuranceCustomer] AS [bInsuranceCustomer]
		, [TDFT_SRC].[cBankCode] AS [cBankCode]
		, [TDFT_SRC].[cSwiftCode] AS [cSwiftCode]
		, [TDFT_SRC].[iSPQueueID] AS [iSPQueueID]
		, [TDFT_SRC].[Client_iBranchID] AS [Client_iBranchID]
		, [TDFT_SRC].[Client_dCreatedDate] AS [Client_dCreatedDate]
		, [TDFT_SRC].[Client_dModifiedDate] AS [Client_dModifiedDate]
		, [TDFT_SRC].[Client_iCreatedBranchID] AS [Client_iCreatedBranchID]
		, [TDFT_SRC].[Client_iModifiedBranchID] AS [Client_iModifiedBranchID]
		, [TDFT_SRC].[Client_iCreatedAgentID] AS [Client_iCreatedAgentID]
		, [TDFT_SRC].[Client_iModifiedAgentID] AS [Client_iModifiedAgentID]
		, [TDFT_SRC].[Client_iChangeSetID] AS [Client_iChangeSetID]
		, [TDFT_SRC].[Client_Checksum] AS [Client_Checksum]
		, [TDFT_SRC].[bCustomerZoneEnabled] AS [bCustomerZoneEnabled]
		, [TDFT_SRC].[bOnlineToolsEnabled] AS [bOnlineToolsEnabled]
		, [TDFT_SRC].[bTaxVerified] AS [bTaxVerified]
		, [TDFT_SRC].[dDateTaxVerified] AS [dDateTaxVerified]
		, [TDFT_SRC].[bBadDebtRelief] AS [bBadDebtRelief]
		, [TDFT_SRC].[iTaxState] AS [iTaxState]
		, [TDFT_SRC].[bObjectToProcess] AS [bObjectToProcess]
	FROM [dv_CSG_1_FOODS].[Client] [TDFT_SRC]
	;

GO
