SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE VIEW [dv_CSG_1_FOODS].[VW_PostAP] AS 
	SELECT
		  [TDFT_SRC].[DATATYPE] AS [DATATYPE]
		, [TDFT_SRC].[AutoIdx] AS [AutoIdx]
		, [TDFT_SRC].[AccountLink] AS [AccountLink]
		, [TDFT_SRC].[Project] AS [Project]
		, [TDFT_SRC].[Reference] AS [Reference]
		, [TDFT_SRC].[cAuditNumber] AS [cAuditNumber]
		, [TDFT_SRC].[cReference2] AS [cReference2]
		, [TDFT_SRC].[TxDate] AS [TxDate]
		, [TDFT_SRC].[Id] AS [Id]
		, [TDFT_SRC].[TrCodeID] AS [TrCodeID]
		, [TDFT_SRC].[Debit] AS [Debit]
		, [TDFT_SRC].[Credit] AS [Credit]
		, [TDFT_SRC].[iCurrencyID] AS [iCurrencyID]
		, [TDFT_SRC].[fExchangeRate] AS [fExchangeRate]
		, [TDFT_SRC].[fForeignDebit] AS [fForeignDebit]
		, [TDFT_SRC].[fForeignCredit] AS [fForeignCredit]
		, [TDFT_SRC].[Description] AS [Description]
		, [TDFT_SRC].[TaxTypeID] AS [TaxTypeID]
		, [TDFT_SRC].[Order_No] AS [Order_No]
		, [TDFT_SRC].[ExtOrderNum] AS [ExtOrderNum]
		, [TDFT_SRC].[Tax_Amount] AS [Tax_Amount]
		, [TDFT_SRC].[fForeignTax] AS [fForeignTax]
		, [TDFT_SRC].[Outstanding] AS [Outstanding]
		, [TDFT_SRC].[fForeignOutstanding] AS [fForeignOutstanding]
		, [TDFT_SRC].[cAllocs] AS [cAllocs]
		, [TDFT_SRC].[InvNumKey] AS [InvNumKey]
		, [TDFT_SRC].[CRCCheck] AS [CRCCheck]
		, [TDFT_SRC].[DTStamp] AS [DTStamp]
		, [TDFT_SRC].[UserName] AS [UserName]
		, [TDFT_SRC].[iTaxPeriodID] AS [iTaxPeriodID]
		, [TDFT_SRC].[iAge] AS [iAge]
		, [TDFT_SRC].[dDateAged] AS [dDateAged]
		, [TDFT_SRC].[iPostSettlementTermsID] AS [iPostSettlementTermsID]
		, [TDFT_SRC].[iTxBranchID] AS [iTxBranchID]
		, [TDFT_SRC].[bPBTPaid] AS [bPBTPaid]
		, [TDFT_SRC].[iGLTaxAccountID] AS [iGLTaxAccountID]
		, [TDFT_SRC].[bTxOnHold] AS [bTxOnHold]
		, [TDFT_SRC].[PostAP_iBranchID] AS [PostAP_iBranchID]
		, [TDFT_SRC].[PostAP_dCreatedDate] AS [PostAP_dCreatedDate]
		, [TDFT_SRC].[PostAP_dModifiedDate] AS [PostAP_dModifiedDate]
		, [TDFT_SRC].[PostAP_iCreatedBranchID] AS [PostAP_iCreatedBranchID]
		, [TDFT_SRC].[PostAP_iModifiedBranchID] AS [PostAP_iModifiedBranchID]
		, [TDFT_SRC].[PostAP_iCreatedAgentID] AS [PostAP_iCreatedAgentID]
		, [TDFT_SRC].[PostAP_iModifiedAgentID] AS [PostAP_iModifiedAgentID]
		, [TDFT_SRC].[PostAP_iChangeSetID] AS [PostAP_iChangeSetID]
		, [TDFT_SRC].[PostAP_Checksum] AS [PostAP_Checksum]
		, [TDFT_SRC].[SagePayExtra1] AS [SagePayExtra1]
		, [TDFT_SRC].[SagePayExtra2] AS [SagePayExtra2]
		, [TDFT_SRC].[SagePayExtra3] AS [SagePayExtra3]
		, [TDFT_SRC].[iTaxBadDebtState] AS [iTaxBadDebtState]
		, [TDFT_SRC].[bReverseChargeApplied] AS [bReverseChargeApplied]
		, [TDFT_SRC].[bReverseChargeCustoms] AS [bReverseChargeCustoms]
		, [TDFT_SRC].[cReverseChargeAuditNr] AS [cReverseChargeAuditNr]
	FROM [dv_CSG_1_FOODS].[PostAP] [TDFT_SRC]
	;

GO
