SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE VIEW [dv_CSG_1_FOODS].[VW_PostAR] AS 
	SELECT
		  [TDFT_SRC].[DATATYPE] AS [DATATYPE]
		, [TDFT_SRC].[AutoIdx] AS [AutoIdx]
		, [TDFT_SRC].[AccountLink] AS [AccountLink]
		, [TDFT_SRC].[Project] AS [Project]
		, [TDFT_SRC].[Reference] AS [Reference]
		, [TDFT_SRC].[cAuditNumber] AS [cAuditNumber]
		, [TDFT_SRC].[cReference2] AS [cReference2]
		, [TDFT_SRC].[TxDate] AS [TxDate]
		, [TDFT_SRC].[Id] AS [Id]
		, [TDFT_SRC].[TrCodeID] AS [TrCodeID]
		, [TDFT_SRC].[Debit] AS [Debit]
		, [TDFT_SRC].[Credit] AS [Credit]
		, [TDFT_SRC].[iCurrencyID] AS [iCurrencyID]
		, [TDFT_SRC].[fExchangeRate] AS [fExchangeRate]
		, [TDFT_SRC].[fForeignDebit] AS [fForeignDebit]
		, [TDFT_SRC].[fForeignCredit] AS [fForeignCredit]
		, [TDFT_SRC].[Description] AS [Description]
		, [TDFT_SRC].[TaxTypeID] AS [TaxTypeID]
		, [TDFT_SRC].[Order_No] AS [Order_No]
		, [TDFT_SRC].[ExtOrderNum] AS [ExtOrderNum]
		, [TDFT_SRC].[Tax_Amount] AS [Tax_Amount]
		, [TDFT_SRC].[fForeignTax] AS [fForeignTax]
		, [TDFT_SRC].[Outstanding] AS [Outstanding]
		, [TDFT_SRC].[fForeignOutstanding] AS [fForeignOutstanding]
		, [TDFT_SRC].[cAllocs] AS [cAllocs]
		, [TDFT_SRC].[InvNumKey] AS [InvNumKey]
		, [TDFT_SRC].[RepID] AS [RepID]
		, [TDFT_SRC].[LinkAccCode] AS [LinkAccCode]
		, [TDFT_SRC].[TillID] AS [TillID]
		, [TDFT_SRC].[CRCCheck] AS [CRCCheck]
		, [TDFT_SRC].[DTStamp] AS [DTStamp]
		, [TDFT_SRC].[UserName] AS [UserName]
		, [TDFT_SRC].[iTaxPeriodID] AS [iTaxPeriodID]
		, [TDFT_SRC].[fJCRepCost] AS [fJCRepCost]
		, [TDFT_SRC].[iAge] AS [iAge]
		, [TDFT_SRC].[dDateAged] AS [dDateAged]
		, [TDFT_SRC].[iPostSettlementTermsID] AS [iPostSettlementTermsID]
		, [TDFT_SRC].[iTxBranchID] AS [iTxBranchID]
		, [TDFT_SRC].[iMBPropertyID] AS [iMBPropertyID]
		, [TDFT_SRC].[iMBPortionID] AS [iMBPortionID]
		, [TDFT_SRC].[iMBServiceID] AS [iMBServiceID]
		, [TDFT_SRC].[iMBMeterID] AS [iMBMeterID]
		, [TDFT_SRC].[iMBPropertyPortionServiceID] AS [iMBPropertyPortionServiceID]
		, [TDFT_SRC].[bPBTPaid] AS [bPBTPaid]
		, [TDFT_SRC].[iGLTaxAccountID] AS [iGLTaxAccountID]
		, [TDFT_SRC].[iTransactionType] AS [iTransactionType]
		, [TDFT_SRC].[PostAR_iBranchID] AS [PostAR_iBranchID]
		, [TDFT_SRC].[PostAR_dCreatedDate] AS [PostAR_dCreatedDate]
		, [TDFT_SRC].[PostAR_dModifiedDate] AS [PostAR_dModifiedDate]
		, [TDFT_SRC].[PostAR_iCreatedBranchID] AS [PostAR_iCreatedBranchID]
		, [TDFT_SRC].[PostAR_iModifiedBranchID] AS [PostAR_iModifiedBranchID]
		, [TDFT_SRC].[PostAR_iCreatedAgentID] AS [PostAR_iCreatedAgentID]
		, [TDFT_SRC].[PostAR_iModifiedAgentID] AS [PostAR_iModifiedAgentID]
		, [TDFT_SRC].[PostAR_iChangeSetID] AS [PostAR_iChangeSetID]
		, [TDFT_SRC].[PostAR_Checksum] AS [PostAR_Checksum]
		, [TDFT_SRC].[SagePayExtra1] AS [SagePayExtra1]
		, [TDFT_SRC].[SagePayExtra2] AS [SagePayExtra2]
		, [TDFT_SRC].[SagePayExtra3] AS [SagePayExtra3]
		, [TDFT_SRC].[iMajorIndustryCodeID] AS [iMajorIndustryCodeID]
		, [TDFT_SRC].[iTaxBadDebtState] AS [iTaxBadDebtState]
	FROM [dv_CSG_1_FOODS].[PostAR] [TDFT_SRC]
	;

GO
