SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE VIEW [dv_CSG_1_FOODS].[VW_PostGL] AS 
	SELECT
		  [TDFT_SRC].[DATATYPE] AS [DATATYPE]
		, [TDFT_SRC].[AutoIdx] AS [AutoIdx]
		, [TDFT_SRC].[AccountLink] AS [AccountLink]
		, [TDFT_SRC].[Project] AS [Project]
		, [TDFT_SRC].[Period] AS [Period]
		, [TDFT_SRC].[Description] AS [Description]
		, [TDFT_SRC].[Reference] AS [Reference]
		, [TDFT_SRC].[cReference2] AS [cReference2]
		, [TDFT_SRC].[TxDate] AS [TxDate]
		, [TDFT_SRC].[Id] AS [Id]
		, [TDFT_SRC].[TrCodeID] AS [TrCodeID]
		, [TDFT_SRC].[Debit] AS [Debit]
		, [TDFT_SRC].[Credit] AS [Credit]
		, [TDFT_SRC].[iCurrencyID] AS [iCurrencyID]
		, [TDFT_SRC].[fExchangeRate] AS [fExchangeRate]
		, [TDFT_SRC].[fForeignDebit] AS [fForeignDebit]
		, [TDFT_SRC].[fForeignCredit] AS [fForeignCredit]
		, [TDFT_SRC].[TaxTypeID] AS [TaxTypeID]
		, [TDFT_SRC].[Order_No] AS [Order_No]
		, [TDFT_SRC].[ExtOrderNum] AS [ExtOrderNum]
		, [TDFT_SRC].[cAuditNumber] AS [cAuditNumber]
		, [TDFT_SRC].[Tax_Amount] AS [Tax_Amount]
		, [TDFT_SRC].[fForeignTax] AS [fForeignTax]
		, [TDFT_SRC].[DrCrAccount] AS [DrCrAccount]
		, [TDFT_SRC].[JobCodeLink] AS [JobCodeLink]
		, [TDFT_SRC].[CRCCheck] AS [CRCCheck]
		, [TDFT_SRC].[DTStamp] AS [DTStamp]
		, [TDFT_SRC].[UserName] AS [UserName]
		, [TDFT_SRC].[iTaxPeriodID] AS [iTaxPeriodID]
		, [TDFT_SRC].[cPayeeName] AS [cPayeeName]
		, [TDFT_SRC].[bPrintCheque] AS [bPrintCheque]
		, [TDFT_SRC].[RepID] AS [RepID]
		, [TDFT_SRC].[fJCRepCost] AS [fJCRepCost]
		, [TDFT_SRC].[iMFPID] AS [iMFPID]
		, [TDFT_SRC].[bIsJCDocLine] AS [bIsJCDocLine]
		, [TDFT_SRC].[bIsSTGLDocLine] AS [bIsSTGLDocLine]
		, [TDFT_SRC].[iInvLineID] AS [iInvLineID]
		, [TDFT_SRC].[iTxBranchID] AS [iTxBranchID]
		, [TDFT_SRC].[cBankRef] AS [cBankRef]
		, [TDFT_SRC].[bPBTPaid] AS [bPBTPaid]
		, [TDFT_SRC].[iGLTaxAccountID] AS [iGLTaxAccountID]
		, [TDFT_SRC].[bReconciled] AS [bReconciled]
		, [TDFT_SRC].[xAttribute] AS [xAttribute]
		, [TDFT_SRC].[PostGL_iBranchID] AS [PostGL_iBranchID]
		, [TDFT_SRC].[PostGL_dCreatedDate] AS [PostGL_dCreatedDate]
		, [TDFT_SRC].[PostGL_dModifiedDate] AS [PostGL_dModifiedDate]
		, [TDFT_SRC].[PostGL_iCreatedBranchID] AS [PostGL_iCreatedBranchID]
		, [TDFT_SRC].[PostGL_iModifiedBranchID] AS [PostGL_iModifiedBranchID]
		, [TDFT_SRC].[PostGL_iCreatedAgentID] AS [PostGL_iCreatedAgentID]
		, [TDFT_SRC].[PostGL_iModifiedAgentID] AS [PostGL_iModifiedAgentID]
		, [TDFT_SRC].[PostGL_iChangeSetID] AS [PostGL_iChangeSetID]
		, [TDFT_SRC].[PostGL_Checksum] AS [PostGL_Checksum]
		, [TDFT_SRC].[iMajorIndustryCodeID] AS [iMajorIndustryCodeID]
		, [TDFT_SRC].[iImportDeclarationID] AS [iImportDeclarationID]
	FROM [dv_CSG_1_FOODS].[PostGL] [TDFT_SRC]
	;

GO
