SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE VIEW [dv_CSG_1_FOODS].[VW_Accounts] AS 
	SELECT
		  [TDFT_SRC].[DATATYPE] AS [DATATYPE]
		, [TDFT_SRC].[AccountLink] AS [AccountLink]
		, [TDFT_SRC].[iGLSegment0ID] AS [iGLSegment0ID]
		, [TDFT_SRC].[iGLSegment1ID] AS [iGLSegment1ID]
		, [TDFT_SRC].[iGLSegment2ID] AS [iGLSegment2ID]
		, [TDFT_SRC].[iGLSegment3ID] AS [iGLSegment3ID]
		, [TDFT_SRC].[iGLSegment4ID] AS [iGLSegment4ID]
		, [TDFT_SRC].[iGLSegment5ID] AS [iGLSegment5ID]
		, [TDFT_SRC].[iGLSegment6ID] AS [iGLSegment6ID]
		, [TDFT_SRC].[iGLSegment7ID] AS [iGLSegment7ID]
		, [TDFT_SRC].[iGLSegment8ID] AS [iGLSegment8ID]
		, [TDFT_SRC].[iGLSegment9ID] AS [iGLSegment9ID]
		, [TDFT_SRC].[Master_Sub_Account] AS [Master_Sub_Account]
		, [TDFT_SRC].[AccountLevel] AS [AccountLevel]
		, [TDFT_SRC].[Account] AS [Account]
		, [TDFT_SRC].[iAccountType] AS [iAccountType]
		, [TDFT_SRC].[SubAccOfLink] AS [SubAccOfLink]
		, [TDFT_SRC].[Dept] AS [Dept]
		, [TDFT_SRC].[Brch] AS [Brch]
		, [TDFT_SRC].[Jr] AS [Jr]
		, [TDFT_SRC].[Description] AS [Description]
		, [TDFT_SRC].[CaseAcc] AS [CaseAcc]
		, [TDFT_SRC].[ActiveAccount] AS [ActiveAccount]
		, [TDFT_SRC].[dAccountsTimeStamp] AS [dAccountsTimeStamp]
		, [TDFT_SRC].[cNextChequeNum] AS [cNextChequeNum]
		, [TDFT_SRC].[iReportCategoryID] AS [iReportCategoryID]
		, [TDFT_SRC].[fBankStatementBalance] AS [fBankStatementBalance]
		, [TDFT_SRC].[cExtDescription] AS [cExtDescription]
		, [TDFT_SRC].[iTaxTypeINVID] AS [iTaxTypeINVID]
		, [TDFT_SRC].[iTaxTypeCRNID] AS [iTaxTypeCRNID]
		, [TDFT_SRC].[iTaxTypeGRVID] AS [iTaxTypeGRVID]
		, [TDFT_SRC].[iTaxTypeRTSID] AS [iTaxTypeRTSID]
		, [TDFT_SRC].[iAllowICSales] AS [iAllowICSales]
		, [TDFT_SRC].[iAllowICPurchases] AS [iAllowICPurchases]
		, [TDFT_SRC].[iMBReportingCategoryID] AS [iMBReportingCategoryID]
		, [TDFT_SRC].[iMBCashFlowCategoryID] AS [iMBCashFlowCategoryID]
		, [TDFT_SRC].[bMBIsAsset] AS [bMBIsAsset]
		, [TDFT_SRC].[bMBIsGrant] AS [bMBIsGrant]
		, [TDFT_SRC].[iMBAssetClassificationID] AS [iMBAssetClassificationID]
		, [TDFT_SRC].[iMBAssetCategoryID] AS [iMBAssetCategoryID]
		, [TDFT_SRC].[iMBAssetTypeID] AS [iMBAssetTypeID]
		, [TDFT_SRC].[iMBGrantLevel1TypeID] AS [iMBGrantLevel1TypeID]
		, [TDFT_SRC].[iMBGrantLevel2TypeID] AS [iMBGrantLevel2TypeID]
		, [TDFT_SRC].[iMBGrantLevel3TypeID] AS [iMBGrantLevel3TypeID]
		, [TDFT_SRC].[bIsBranchLoanAccount] AS [bIsBranchLoanAccount]
		, [TDFT_SRC].[iForeignBankCurrencyID] AS [iForeignBankCurrencyID]
		, [TDFT_SRC].[iForeignBankPEXAccID] AS [iForeignBankPEXAccID]
		, [TDFT_SRC].[iForeignBankLEXAccID] AS [iForeignBankLEXAccID]
		, [TDFT_SRC].[bRevalueWithSellingRate] AS [bRevalueWithSellingRate]
		, [TDFT_SRC].[bPaymentsBasedTax] AS [bPaymentsBasedTax]
		, [TDFT_SRC].[cBankName] AS [cBankName]
		, [TDFT_SRC].[cBankAccountName] AS [cBankAccountName]
		, [TDFT_SRC].[cBankCode] AS [cBankCode]
		, [TDFT_SRC].[cBankAccountNumber] AS [cBankAccountNumber]
		, [TDFT_SRC].[cBranchName] AS [cBranchName]
		, [TDFT_SRC].[cSEPABranchCode] AS [cSEPABranchCode]
		, [TDFT_SRC].[cBankRefNr] AS [cBankRefNr]
		, [TDFT_SRC].[iAttributeGroupID] AS [iAttributeGroupID]
		, [TDFT_SRC].[xAttribute] AS [xAttribute]
		, [TDFT_SRC].[bForeignBankAcc] AS [bForeignBankAcc]
		, [TDFT_SRC].[Accounts_iBranchID] AS [Accounts_iBranchID]
		, [TDFT_SRC].[Accounts_dCreatedDate] AS [Accounts_dCreatedDate]
		, [TDFT_SRC].[Accounts_dModifiedDate] AS [Accounts_dModifiedDate]
		, [TDFT_SRC].[Accounts_iCreatedBranchID] AS [Accounts_iCreatedBranchID]
		, [TDFT_SRC].[Accounts_iModifiedBranchID] AS [Accounts_iModifiedBranchID]
		, [TDFT_SRC].[Accounts_iCreatedAgentID] AS [Accounts_iCreatedAgentID]
		, [TDFT_SRC].[Accounts_iModifiedAgentID] AS [Accounts_iModifiedAgentID]
		, [TDFT_SRC].[Accounts_iChangeSetID] AS [Accounts_iChangeSetID]
		, [TDFT_SRC].[Accounts_Checksum] AS [Accounts_Checksum]
		, [TDFT_SRC].[cBCloudBankAccountID] AS [cBCloudBankAccountID]
	FROM [dv_CSG_1_FOODS].[Accounts] [TDFT_SRC]
	;

GO
