SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dc].[EXECEPTION](
	[ATTRIBUTE_BIGINT] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[ATTRIBUTE_BINARY] [varchar](1) COLLATE Latin1_General_CI_AS NULL,
	[ATTRIBUTE_BIT] [varchar](1) COLLATE Latin1_General_CI_AS NULL,
	[ATTRIBUTE_CHAR] [varchar](1) COLLATE Latin1_General_CI_AS NULL,
	[ATTRIBUTE_DATE] [varchar](10) COLLATE Latin1_General_CI_AS NULL,
	[ATTRIBUTE_DATETIME2] [varchar](19) COLLATE Latin1_General_CI_AS NULL,
	[ATTRIBUTE_DECIMAL] [varchar](2) COLLATE Latin1_General_CI_AS NULL,
	[ATTRIBUTE_FLOAT] [varchar](2) COLLATE Latin1_General_CI_AS NULL,
	[ATTRIBUTE_INT] [varchar](11) COLLATE Latin1_General_CI_AS NULL,
	[ATTRIBUTE_NCHAR] [varchar](2) COLLATE Latin1_General_CI_AS NULL,
	[ATTRIBUTE_NUMERIC] [varchar](2) COLLATE Latin1_General_CI_AS NULL,
	[ATTRIBUTE_NVARCHAR] [varchar](2) COLLATE Latin1_General_CI_AS NULL,
	[ATTRIBUTE_SMALLINT] [varchar](6) COLLATE Latin1_General_CI_AS NULL,
	[ATTRIBUTE_TINYINT] [varchar](1) COLLATE Latin1_General_CI_AS NULL,
	[ATTRIBUTE_VARBINARY] [varchar](1) COLLATE Latin1_General_CI_AS NULL,
	[ATTRIBUTE_VARCHAR] [varchar](2) COLLATE Latin1_General_CI_AS NULL,
	[DATATYPE] [varchar](2) COLLATE Latin1_General_CI_AS NULL,
	[KEY_ATTRIBUTE_BIGINT] [varchar](20) COLLATE Latin1_General_CI_AS NULL,
	[KEY_ATTRIBUTE_BINARY] [varchar](1) COLLATE Latin1_General_CI_AS NULL,
	[KEY_ATTRIBUTE_BIT] [varchar](1) COLLATE Latin1_General_CI_AS NULL,
	[KEY_ATTRIBUTE_CHAR] [varchar](1) COLLATE Latin1_General_CI_AS NULL,
	[KEY_ATTRIBUTE_DATE] [varchar](10) COLLATE Latin1_General_CI_AS NULL,
	[KEY_ATTRIBUTE_DATETIME2] [varchar](19) COLLATE Latin1_General_CI_AS NULL,
	[KEY_ATTRIBUTE_DECIMAL] [varchar](2) COLLATE Latin1_General_CI_AS NULL,
	[KEY_ATTRIBUTE_FLOAT] [varchar](2) COLLATE Latin1_General_CI_AS NULL,
	[KEY_ATTRIBUTE_INT] [varchar](11) COLLATE Latin1_General_CI_AS NULL,
	[KEY_ATTRIBUTE_NCHAR] [varchar](2) COLLATE Latin1_General_CI_AS NULL,
	[KEY_ATTRIBUTE_NUMERIC] [varchar](2) COLLATE Latin1_General_CI_AS NULL,
	[KEY_ATTRIBUTE_NVARCHAR] [varchar](2) COLLATE Latin1_General_CI_AS NULL,
	[KEY_ATTRIBUTE_SMALLINT] [varchar](6) COLLATE Latin1_General_CI_AS NULL,
	[KEY_ATTRIBUTE_TINYINT] [varchar](1) COLLATE Latin1_General_CI_AS NULL,
	[KEY_ATTRIBUTE_VARBINARY] [varchar](1) COLLATE Latin1_General_CI_AS NULL,
	[KEY_ATTRIBUTE_VARCHAR] [varchar](2) COLLATE Latin1_General_CI_AS NULL,
	[LOAD_CYCLE_ID] [varchar](2) COLLATE Latin1_General_CI_AS NULL
) ON [PRIMARY]

GO
