SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dv_CSG_1_FOODS].[Accounts](
	[AccountLink] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Master_Sub_Account] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[AccountLevel] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Account] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iAccountType] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[SubAccOfLink] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Dept] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Brch] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Jr] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Description] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[CaseAcc] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[ActiveAccount] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[dAccountsTimeStamp] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cNextChequeNum] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iGLSegment0ID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iGLSegment1ID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iGLSegment2ID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iGLSegment3ID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iGLSegment4ID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iGLSegment5ID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iGLSegment6ID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iGLSegment7ID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iGLSegment8ID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iGLSegment9ID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iReportCategoryID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[fBankStatementBalance] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cExtDescription] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iTaxTypeINVID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iTaxTypeCRNID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iTaxTypeGRVID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iTaxTypeRTSID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iAllowICSales] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iAllowICPurchases] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iMBReportingCategoryID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iMBCashFlowCategoryID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[bMBIsAsset] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[bMBIsGrant] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iMBAssetClassificationID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iMBAssetCategoryID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iMBAssetTypeID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iMBGrantLevel1TypeID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iMBGrantLevel2TypeID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iMBGrantLevel3TypeID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[bIsBranchLoanAccount] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iForeignBankCurrencyID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iForeignBankPEXAccID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iForeignBankLEXAccID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[bRevalueWithSellingRate] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[bPaymentsBasedTax] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cBankName] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cBankAccountName] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cBankCode] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cBankAccountNumber] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cBranchName] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cSEPABranchCode] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cBankRefNr] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iAttributeGroupID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[xAttribute] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[bForeignBankAcc] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Accounts_iBranchID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Accounts_dCreatedDate] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Accounts_dModifiedDate] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Accounts_iCreatedBranchID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Accounts_iModifiedBranchID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Accounts_iCreatedAgentID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Accounts_iModifiedAgentID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Accounts_iChangeSetID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Accounts_Checksum] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cBCloudBankAccountID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[CHANGE_TYPE] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[DATATYPE] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[LOAD_CYCLE_ID] [numeric](18, 0) NULL,
	[LOADDT] [datetime2](7) NULL
) ON [PRIMARY]

GO
