SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dv_CSG_1_FOODS].[PostGL](
	[AutoIdx] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[TxDate] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Id] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[AccountLink] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[TrCodeID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Debit] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Credit] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iCurrencyID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[fExchangeRate] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[fForeignDebit] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[fForeignCredit] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Description] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[TaxTypeID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Reference] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Order_No] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[ExtOrderNum] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cAuditNumber] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Tax_Amount] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[fForeignTax] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Project] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Period] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[DrCrAccount] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[JobCodeLink] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[CRCCheck] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[DTStamp] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[UserName] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iTaxPeriodID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cPayeeName] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[bPrintCheque] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cReference2] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[RepID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[fJCRepCost] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iMFPID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[bIsJCDocLine] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[bIsSTGLDocLine] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iInvLineID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iTxBranchID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cBankRef] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[bPBTPaid] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iGLTaxAccountID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[bReconciled] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[xAttribute] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[PostGL_iBranchID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[PostGL_dCreatedDate] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[PostGL_dModifiedDate] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[PostGL_iCreatedBranchID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[PostGL_iModifiedBranchID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[PostGL_iCreatedAgentID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[PostGL_iModifiedAgentID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[PostGL_iChangeSetID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[PostGL_Checksum] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iMajorIndustryCodeID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iImportDeclarationID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[CHANGE_TYPE] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[DATATYPE] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[LOAD_CYCLE_ID] [numeric](18, 0) NULL,
	[LOADDT] [datetime2](7) NULL
) ON [PRIMARY]

GO
