SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [dv_CSG_1_FOODS].[Vendor](
	[DCLink] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Account] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Name] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Title] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Init] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Contact_Person] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Physical1] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Physical2] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Physical3] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Physical4] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Physical5] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[PhysicalPC] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Addressee] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Post1] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Post2] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Post3] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Post4] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Post5] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[PostPC] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Delivered_To] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Telephone] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Telephone2] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Fax1] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Fax2] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[AccountTerms] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[CT] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Tax_Number] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Registration] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Credit_Limit] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Interest_Rate] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Discount] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[On_Hold] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[BFOpenType] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[EMail] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[BankLink] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[BranchCode] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[BankAccNum] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[BankAccType] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[AutoDisc] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[DiscMtrxRow] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[DCBalance] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[CheckTerms] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[UseEmail] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iBusTypeID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iBusClassID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iCountryID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cAccDescription] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cWebPage] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[dTimeStamp] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iClassID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iAreasID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cBankRefNr] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iCurrencyID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[bStatPrint] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[bStatEmail] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cStatEmailPass] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[bForCurAcc] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[bRemittanceChequeEFTS] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[fForeignBalance] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iSettlementTermsID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[bSourceDocPrint] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[bSourceDocEmail] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iEUCountryID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iDefTaxTypeID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iAgeingTermID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iBankDetailType] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cBankAccHolder] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cIDNumber] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cPassportNumber] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cBankCode] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cSwiftCode] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iSPQueueID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iBankDetailID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Vendor_iBranchID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Vendor_dCreatedDate] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Vendor_dModifiedDate] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Vendor_iCreatedBranchID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Vendor_iModifiedBranchID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Vendor_iCreatedAgentID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Vendor_iModifiedAgentID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Vendor_iChangeSetID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[Vendor_Checksum] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[bTaxVerified] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[dDateTaxVerified] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[cRMCDApprovalNumber] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[dRMCDApprovalDate] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iTaxState] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[bObjectToProcess] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[CHANGE_TYPE] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[DATATYPE] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[LOAD_CYCLE_ID] [numeric](18, 0) NULL,
	[LOADDT] [datetime2](7) NULL
) ON [PRIMARY]

GO
