SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [CSG_1_FOODS_ext].[Client](
	[LOADDT] [datetime2](7) NULL,
	[LOAD_CYCLE_ID] [numeric](18, 0) NULL,
	[CHANGE_TYPE] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[DATATYPE] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[DCLink] [int] NULL,
	[iClassID] [int] NULL,
	[BK_DCLink] [varchar](750) COLLATE Latin1_General_CI_AS NULL,
	[BK_Account] [varchar](750) COLLATE Latin1_General_CI_AS NULL,
	[Account] [varchar](60) COLLATE Latin1_General_CI_AS NULL,
	[BK_FK_IdCliClass_iClassID] [varchar](750) COLLATE Latin1_General_CI_AS NULL,
	[BK_FK_Code_iClassID] [varchar](750) COLLATE Latin1_General_CI_AS NULL,
	[Name] [varchar](450) COLLATE Latin1_General_CI_AS NULL,
	[Title] [varchar](15) COLLATE Latin1_General_CI_AS NULL,
	[Init] [varchar](18) COLLATE Latin1_General_CI_AS NULL,
	[Contact_Person] [varchar](90) COLLATE Latin1_General_CI_AS NULL,
	[Physical1] [varchar](120) COLLATE Latin1_General_CI_AS NULL,
	[Physical2] [varchar](120) COLLATE Latin1_General_CI_AS NULL,
	[Physical3] [varchar](120) COLLATE Latin1_General_CI_AS NULL,
	[Physical4] [varchar](120) COLLATE Latin1_General_CI_AS NULL,
	[Physical5] [varchar](120) COLLATE Latin1_General_CI_AS NULL,
	[PhysicalPC] [varchar](45) COLLATE Latin1_General_CI_AS NULL,
	[Addressee] [varchar](90) COLLATE Latin1_General_CI_AS NULL,
	[Post1] [varchar](120) COLLATE Latin1_General_CI_AS NULL,
	[Post2] [varchar](120) COLLATE Latin1_General_CI_AS NULL,
	[Post3] [varchar](120) COLLATE Latin1_General_CI_AS NULL,
	[Post4] [varchar](120) COLLATE Latin1_General_CI_AS NULL,
	[Post5] [varchar](120) COLLATE Latin1_General_CI_AS NULL,
	[PostPC] [varchar](45) COLLATE Latin1_General_CI_AS NULL,
	[Delivered_To] [varchar](90) COLLATE Latin1_General_CI_AS NULL,
	[Telephone] [varchar](75) COLLATE Latin1_General_CI_AS NULL,
	[Telephone2] [varchar](75) COLLATE Latin1_General_CI_AS NULL,
	[Fax1] [varchar](75) COLLATE Latin1_General_CI_AS NULL,
	[Fax2] [varchar](75) COLLATE Latin1_General_CI_AS NULL,
	[AccountTerms] [int] NULL,
	[CT] [bit] NULL,
	[Tax_Number] [varchar](150) COLLATE Latin1_General_CI_AS NULL,
	[Registration] [varchar](60) COLLATE Latin1_General_CI_AS NULL,
	[Credit_Limit] [float] NULL,
	[RepID] [int] NULL,
	[Interest_Rate] [float] NULL,
	[Discount] [float] NULL,
	[On_Hold] [bit] NULL,
	[BFOpenType] [int] NULL,
	[EMail] [varchar](600) COLLATE Latin1_General_CI_AS NULL,
	[BankLink] [int] NULL,
	[BranchCode] [varchar](90) COLLATE Latin1_General_CI_AS NULL,
	[BankAccNum] [varchar](90) COLLATE Latin1_General_CI_AS NULL,
	[BankAccType] [varchar](90) COLLATE Latin1_General_CI_AS NULL,
	[AutoDisc] [float] NULL,
	[DiscMtrxRow] [int] NULL,
	[MainAccLink] [int] NULL,
	[CashDebtor] [bit] NULL,
	[DCBalance] [float] NULL,
	[CheckTerms] [bit] NULL,
	[UseEmail] [bit] NULL,
	[iIncidentTypeID] [int] NULL,
	[iBusTypeID] [int] NULL,
	[iBusClassID] [int] NULL,
	[iCountryID] [int] NULL,
	[iAgentID] [int] NULL,
	[dTimeStamp] [datetime2](7) NULL,
	[cAccDescription] [varchar](240) COLLATE Latin1_General_CI_AS NULL,
	[cWebPage] [varchar](150) COLLATE Latin1_General_CI_AS NULL,
	[iAreasID] [int] NULL,
	[cBankRefNr] [varchar](90) COLLATE Latin1_General_CI_AS NULL,
	[iCurrencyID] [int] NULL,
	[bStatPrint] [bit] NULL,
	[bStatEmail] [bit] NULL,
	[cStatEmailPass] [varchar](480) COLLATE Latin1_General_CI_AS NULL,
	[bForCurAcc] [bit] NULL,
	[fForeignBalance] [float] NULL,
	[bTaxPrompt] [bit] NULL,
	[iARPriceListNameID] [int] NULL,
	[iSettlementTermsID] [int] NULL,
	[bSourceDocPrint] [bit] NULL,
	[bSourceDocEmail] [bit] NULL,
	[iEUCountryID] [int] NULL,
	[iDefTaxTypeID] [int] NULL,
	[bCODAccount] [bit] NULL,
	[iAgeingTermID] [int] NULL,
	[bElecDocAcceptance] [bit] NULL,
	[iBankDetailType] [tinyint] NULL,
	[cBankAccHolder] [varchar](90) COLLATE Latin1_General_CI_AS NULL,
	[cIDNumber] [varchar](60) COLLATE Latin1_General_CI_AS NULL,
	[cPassportNumber] [varchar](60) COLLATE Latin1_General_CI_AS NULL,
	[bInsuranceCustomer] [bit] NULL,
	[cBankCode] [varchar](45) COLLATE Latin1_General_CI_AS NULL,
	[cSwiftCode] [varchar](33) COLLATE Latin1_General_CI_AS NULL,
	[iSPQueueID] [int] NULL,
	[Client_iBranchID] [int] NULL,
	[Client_dCreatedDate] [datetime2](7) NULL,
	[Client_dModifiedDate] [datetime2](7) NULL,
	[Client_iCreatedBranchID] [int] NULL,
	[Client_iModifiedBranchID] [int] NULL,
	[Client_iCreatedAgentID] [int] NULL,
	[Client_iModifiedAgentID] [int] NULL,
	[Client_iChangeSetID] [int] NULL,
	[Client_Checksum] [binary](20) NULL,
	[bCustomerZoneEnabled] [bit] NULL,
	[bOnlineToolsEnabled] [bit] NULL,
	[bTaxVerified] [bit] NULL,
	[dDateTaxVerified] [datetime2](7) NULL,
	[bBadDebtRelief] [bit] NULL,
	[iTaxState] [int] NULL,
	[bObjectToProcess] [bit] NULL
) ON [PRIMARY]

GO
