SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [SAGE200_EVO_FMC].[FMC_BV_LOAD_WINDOW](
	[FMC_BEGIN_LW_TIMESTAMP] [datetime2](7) NULL,
	[FMC_END_LW_TIMESTAMP] [datetime2](7) NULL
) ON [PRIMARY]

GO
