SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [CSG_1_FOODS_stage].[_etblBudgets](
	[HK_GLBudget] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[HK_FinancialPeriod] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[HK_GLAccount] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[HK_Project] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[HKLINK_GLBudget_FinancialPeriod] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[HKLINK_GLBudget_GLAccount] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[HKLINK_GLBudget_Project] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[LOADDT] [datetime2](7) NULL,
	[SOURCE_SYSTEM] [varchar](200) COLLATE Latin1_General_CI_AS NULL,
	[LOAD_CYCLE_ID] [numeric](18, 0) NULL,
	[CHANGE_TYPE] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[DATATYPE] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[idBudgets] [int] NULL,
	[iBudgetAccountID] [int] NULL,
	[iBudgetPeriodID] [int] NULL,
	[iBudgetProjectID] [int] NULL,
	[BK_idBudgets] [varchar](500) COLLATE Latin1_General_CI_AS NULL,
	[BK_iBudgetAccountID] [varchar](500) COLLATE Latin1_General_CI_AS NULL,
	[BK_iBudgetProjectID] [varchar](500) COLLATE Latin1_General_CI_AS NULL,
	[BK_FK_AccountLink_iBudgetAccountID] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[BK_FK_idPeriod_iBudgetPeriodID] [varchar](750) COLLATE Latin1_General_CI_AS NULL,
	[BK_FK_dPeriodDate_iBudgetPeriodID] [varchar](750) COLLATE Latin1_General_CI_AS NULL,
	[BK_FK_ProjectCode_iBudgetProjectID] [varchar](500) COLLATE Latin1_General_CI_AS NULL,
	[BK_FK_ProjectName_iBudgetProjectID] [varchar](500) COLLATE Latin1_General_CI_AS NULL,
	[BK_FK_ProjectLink_iBudgetProjectID] [varchar](500) COLLATE Latin1_General_CI_AS NULL,
	[iBudgetTxBranchID] [int] NULL,
	[iBudgetAccountType] [int] NULL,
	[fBudget] [float] NULL,
	[fUnprocessedPOValue] [float] NULL,
	[dBudgetDTStamp] [datetime2](7) NULL,
	[fForecast] [float] NULL,
	[fBudgetForeign] [float] NULL,
	[fUnprocessedPOValueForeign] [float] NULL,
	[fForecastForeign] [float] NULL,
	[_etblBudgets_iBranchID] [int] NULL,
	[_etblBudgets_dCreatedDate] [datetime2](7) NULL,
	[_etblBudgets_dModifiedDate] [datetime2](7) NULL,
	[_etblBudgets_iCreatedBranchID] [int] NULL,
	[_etblBudgets_iModifiedBranchID] [int] NULL,
	[_etblBudgets_iCreatedAgentID] [int] NULL,
	[_etblBudgets_iModifiedAgentID] [int] NULL,
	[_etblBudgets_iChangeSetID] [int] NULL,
	[_etblBudgets_Checksum] [binary](20) NULL
) ON [PRIMARY]

GO
