SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [CSG_1_FOODS_stage].[PostAR](
	[HK_ARTransaction] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[HK_Client] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[HK_Project] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[HKLINK_ARTransaction_Client] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[HKLINK_ARTransaction_Project] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[LOADDT] [datetime2](7) NULL,
	[SOURCE_SYSTEM] [varchar](200) COLLATE Latin1_General_CI_AS NULL,
	[LOAD_CYCLE_ID] [numeric](18, 0) NULL,
	[CHANGE_TYPE] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[DATATYPE] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[AutoIdx] [bigint] NULL,
	[AccountLink] [int] NULL,
	[Project] [int] NULL,
	[BK_ARTransaction] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[BK_AutoIdx] [varchar](375) COLLATE Latin1_General_CI_AS NULL,
	[BK_cAuditNumber] [varchar](375) COLLATE Latin1_General_CI_AS NULL,
	[cAuditNumber] [varchar](150) COLLATE Latin1_General_CI_AS NULL,
	[BK_Reference] [varchar](375) COLLATE Latin1_General_CI_AS NULL,
	[Reference] [varchar](150) COLLATE Latin1_General_CI_AS NULL,
	[BK_cReference2] [varchar](375) COLLATE Latin1_General_CI_AS NULL,
	[cReference2] [varchar](150) COLLATE Latin1_General_CI_AS NULL,
	[BK_FK_DCLink_AccountLink] [varchar](750) COLLATE Latin1_General_CI_AS NULL,
	[BK_FK_Account_AccountLink] [varchar](750) COLLATE Latin1_General_CI_AS NULL,
	[BK_FK_ProjectCode_Project] [varchar](500) COLLATE Latin1_General_CI_AS NULL,
	[BK_FK_ProjectName_Project] [varchar](500) COLLATE Latin1_General_CI_AS NULL,
	[BK_FK_ProjectLink_Project] [varchar](500) COLLATE Latin1_General_CI_AS NULL,
	[TxDate] [datetime2](7) NULL,
	[Id] [varchar](15) COLLATE Latin1_General_CI_AS NULL,
	[TrCodeID] [int] NULL,
	[Debit] [float] NULL,
	[Credit] [float] NULL,
	[iCurrencyID] [int] NULL,
	[fExchangeRate] [float] NULL,
	[fForeignDebit] [float] NULL,
	[fForeignCredit] [float] NULL,
	[Description] [varchar](300) COLLATE Latin1_General_CI_AS NULL,
	[TaxTypeID] [int] NULL,
	[Order_No] [varchar](150) COLLATE Latin1_General_CI_AS NULL,
	[ExtOrderNum] [varchar](150) COLLATE Latin1_General_CI_AS NULL,
	[Tax_Amount] [float] NULL,
	[fForeignTax] [float] NULL,
	[Outstanding] [float] NULL,
	[fForeignOutstanding] [float] NULL,
	[cAllocs] [nvarchar](4000) COLLATE Latin1_General_CI_AS NULL,
	[InvNumKey] [bigint] NULL,
	[RepID] [int] NULL,
	[LinkAccCode] [int] NULL,
	[TillID] [int] NULL,
	[CRCCheck] [float] NULL,
	[DTStamp] [datetime2](7) NULL,
	[UserName] [varchar](150) COLLATE Latin1_General_CI_AS NULL,
	[iTaxPeriodID] [int] NULL,
	[fJCRepCost] [float] NULL,
	[iAge] [int] NULL,
	[dDateAged] [datetime2](7) NULL,
	[iPostSettlementTermsID] [int] NULL,
	[iTxBranchID] [int] NULL,
	[iMBPropertyID] [int] NULL,
	[iMBPortionID] [int] NULL,
	[iMBServiceID] [int] NULL,
	[iMBMeterID] [int] NULL,
	[iMBPropertyPortionServiceID] [int] NULL,
	[bPBTPaid] [bit] NULL,
	[iGLTaxAccountID] [int] NULL,
	[iTransactionType] [int] NULL,
	[PostAR_iBranchID] [int] NULL,
	[PostAR_dCreatedDate] [datetime2](7) NULL,
	[PostAR_dModifiedDate] [datetime2](7) NULL,
	[PostAR_iCreatedBranchID] [int] NULL,
	[PostAR_iModifiedBranchID] [int] NULL,
	[PostAR_iCreatedAgentID] [int] NULL,
	[PostAR_iModifiedAgentID] [int] NULL,
	[PostAR_iChangeSetID] [int] NULL,
	[PostAR_Checksum] [binary](20) NULL,
	[SagePayExtra1] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[SagePayExtra2] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[SagePayExtra3] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[iMajorIndustryCodeID] [int] NULL,
	[iTaxBadDebtState] [int] NULL
) ON [PRIMARY]

GO
