SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE TABLE [CSG_1_FOODS_stage].[PostGL](
	[HK_GLTransaction] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[HK_FinancialPeriod] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[HK_GLAccount] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[HK_Project] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[HKLINK_GLTransaction_FinancialPeriod] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[HKLINK_GLTransaction_GLAccount] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[HKLINK_GLTransaction_Project] [varchar](40) COLLATE Latin1_General_CI_AS NULL,
	[LOADDT] [datetime2](7) NULL,
	[SOURCE_SYSTEM] [varchar](200) COLLATE Latin1_General_CI_AS NULL,
	[LOAD_CYCLE_ID] [numeric](18, 0) NULL,
	[CHANGE_TYPE] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[DATATYPE] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[AutoIdx] [bigint] NULL,
	[AccountLink] [int] NULL,
	[Period] [int] NULL,
	[Project] [int] NULL,
	[BK_GLTransaction] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[BK_AutoIdx] [varchar](375) COLLATE Latin1_General_CI_AS NULL,
	[BK_Description] [varchar](375) COLLATE Latin1_General_CI_AS NULL,
	[Description] [varchar](300) COLLATE Latin1_General_CI_AS NULL,
	[BK_Reference] [varchar](375) COLLATE Latin1_General_CI_AS NULL,
	[Reference] [varchar](150) COLLATE Latin1_General_CI_AS NULL,
	[BK_cReference2] [varchar](375) COLLATE Latin1_General_CI_AS NULL,
	[cReference2] [varchar](150) COLLATE Latin1_General_CI_AS NULL,
	[BK_FK_AccountLink_AccountLink] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[BK_FK_idPeriod_Period] [varchar](750) COLLATE Latin1_General_CI_AS NULL,
	[BK_FK_dPeriodDate_Period] [varchar](750) COLLATE Latin1_General_CI_AS NULL,
	[BK_FK_ProjectCode_Project] [varchar](500) COLLATE Latin1_General_CI_AS NULL,
	[BK_FK_ProjectName_Project] [varchar](500) COLLATE Latin1_General_CI_AS NULL,
	[BK_FK_ProjectLink_Project] [varchar](500) COLLATE Latin1_General_CI_AS NULL,
	[TxDate] [datetime2](7) NULL,
	[Id] [varchar](15) COLLATE Latin1_General_CI_AS NULL,
	[TrCodeID] [int] NULL,
	[Debit] [float] NULL,
	[Credit] [float] NULL,
	[iCurrencyID] [int] NULL,
	[fExchangeRate] [float] NULL,
	[fForeignDebit] [float] NULL,
	[fForeignCredit] [float] NULL,
	[TaxTypeID] [int] NULL,
	[Order_No] [varchar](150) COLLATE Latin1_General_CI_AS NULL,
	[ExtOrderNum] [varchar](150) COLLATE Latin1_General_CI_AS NULL,
	[cAuditNumber] [varchar](150) COLLATE Latin1_General_CI_AS NULL,
	[Tax_Amount] [float] NULL,
	[fForeignTax] [float] NULL,
	[DrCrAccount] [int] NULL,
	[JobCodeLink] [int] NULL,
	[CRCCheck] [float] NULL,
	[DTStamp] [datetime2](7) NULL,
	[UserName] [varchar](150) COLLATE Latin1_General_CI_AS NULL,
	[iTaxPeriodID] [int] NULL,
	[cPayeeName] [varchar](300) COLLATE Latin1_General_CI_AS NULL,
	[bPrintCheque] [bit] NULL,
	[RepID] [int] NULL,
	[fJCRepCost] [float] NULL,
	[iMFPID] [int] NULL,
	[bIsJCDocLine] [bit] NULL,
	[bIsSTGLDocLine] [bit] NULL,
	[iInvLineID] [bigint] NULL,
	[iTxBranchID] [int] NULL,
	[cBankRef] [varchar](60) COLLATE Latin1_General_CI_AS NULL,
	[bPBTPaid] [bit] NULL,
	[iGLTaxAccountID] [int] NULL,
	[bReconciled] [bit] NULL,
	[xAttribute] [varchar](1000) COLLATE Latin1_General_CI_AS NULL,
	[PostGL_iBranchID] [int] NULL,
	[PostGL_dCreatedDate] [datetime2](7) NULL,
	[PostGL_dModifiedDate] [datetime2](7) NULL,
	[PostGL_iCreatedBranchID] [int] NULL,
	[PostGL_iModifiedBranchID] [int] NULL,
	[PostGL_iCreatedAgentID] [int] NULL,
	[PostGL_iModifiedAgentID] [int] NULL,
	[PostGL_iChangeSetID] [int] NULL,
	[PostGL_Checksum] [binary](20) NULL,
	[iMajorIndustryCodeID] [int] NULL,
	[iImportDeclarationID] [int] NULL
) ON [PRIMARY]

GO
