SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
-- CREATES INITIAL LOAD CYCLE IDS and date
CREATE   PROCEDURE [01_INIT_001_LOAD_CYCLE_HIST]
AS
BEGIN
    DECLARE @CurrentLoadCycleID INT = (SELECT [LOAD_CYCLE_ID] FROM [dc].[LOAD_CYCLE_HIST])
    IF(@CurrentLoadCycleID IS NULL)
    BEGIN
        SET @CurrentLoadCycleID = 1
    END
    ELSE
    BEGIN
        SET @CurrentLoadCycleID += 1
    END
    TRUNCATE TABLE [dc].[LOAD_CYCLE_HIST]
    INSERT INTO [dc].[LOAD_CYCLE_HIST] ([LOAD_CYCLE_ID], [LOADDT])
    SELECT @CurrentLoadCycleID, GETDATE() 
    FROM [dc].[LOAD_CYCLE_HIST]
END
GO
