SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE PROCEDURE [SAGE200_EVO_PROC].EXT_CSG_1_FOODS_Client_INCR AS 
/*
    ___  ___  ______  |  
   / _ \/ _ \|  ____| |  agile    
  / / \ \/ \ \ |__    |  automation
 / /  /\ \  \ \ __|   |  factory   
/_/  /_/\_\  \_\      | 

Vaultspeed version: 4.1.16.6, generation date: 2020/09/22 13:12:11
DV_NAME: CSG_DV - Release: CSG_DV_V11(11) - Comment: CSG_DV_V11 - Release date: 2020/09/22 12:36:07, 
BV release: init(1) - Comment: initial release - Release date: 2020/09/22 10:44:25, 
SRC_NAME: CSG_1_FOODS - Release: CSG_1_FOODS(6) - Comment: Release 6.0 - Release date: 2020/09/22 12:10:29
 */


BEGIN 
BEGIN -- EXT_TGT

	TRUNCATE TABLE [CSG_1_FOODS_ext].[Client];

	INSERT INTO [CSG_1_FOODS_ext].[Client](
		 [LOAD_CYCLE_ID]
		,[LOADDT]
		,[CHANGE_TYPE]
		,[DATATYPE]
		,[DCLink]
		,[iClassID]
		,[BK_Account]
		,[BK_DCLink]
		,[Account]
		,[Name]
		,[Title]
		,[Init]
		,[Contact_Person]
		,[Physical1]
		,[Physical2]
		,[Physical3]
		,[Physical4]
		,[Physical5]
		,[PhysicalPC]
		,[Addressee]
		,[Post1]
		,[Post2]
		,[Post3]
		,[Post4]
		,[Post5]
		,[PostPC]
		,[Delivered_To]
		,[Telephone]
		,[Telephone2]
		,[Fax1]
		,[Fax2]
		,[AccountTerms]
		,[CT]
		,[Tax_Number]
		,[Registration]
		,[Credit_Limit]
		,[RepID]
		,[Interest_Rate]
		,[Discount]
		,[On_Hold]
		,[BFOpenType]
		,[EMail]
		,[BankLink]
		,[BranchCode]
		,[BankAccNum]
		,[BankAccType]
		,[AutoDisc]
		,[DiscMtrxRow]
		,[MainAccLink]
		,[CashDebtor]
		,[DCBalance]
		,[CheckTerms]
		,[UseEmail]
		,[iIncidentTypeID]
		,[iBusTypeID]
		,[iBusClassID]
		,[iCountryID]
		,[iAgentID]
		,[dTimeStamp]
		,[cAccDescription]
		,[cWebPage]
		,[iAreasID]
		,[cBankRefNr]
		,[iCurrencyID]
		,[bStatPrint]
		,[bStatEmail]
		,[cStatEmailPass]
		,[bForCurAcc]
		,[fForeignBalance]
		,[bTaxPrompt]
		,[iARPriceListNameID]
		,[iSettlementTermsID]
		,[bSourceDocPrint]
		,[bSourceDocEmail]
		,[iEUCountryID]
		,[iDefTaxTypeID]
		,[bCODAccount]
		,[iAgeingTermID]
		,[bElecDocAcceptance]
		,[iBankDetailType]
		,[cBankAccHolder]
		,[cIDNumber]
		,[cPassportNumber]
		,[bInsuranceCustomer]
		,[cBankCode]
		,[cSwiftCode]
		,[iSPQueueID]
		,[Client_iBranchID]
		,[Client_dCreatedDate]
		,[Client_dModifiedDate]
		,[Client_iCreatedBranchID]
		,[Client_iModifiedBranchID]
		,[Client_iCreatedAgentID]
		,[Client_iModifiedAgentID]
		,[Client_iChangeSetID]
		,[Client_Checksum]
		,[bCustomerZoneEnabled]
		,[bOnlineToolsEnabled]
		,[bTaxVerified]
		,[dDateTaxVerified]
		,[bBadDebtRelief]
		,[iTaxState]
		,[bObjectToProcess]
	)
	SELECT 
		  [LCI_SRC].[LOAD_CYCLE_ID] AS [LOAD_CYCLE_ID]
		, dateadd(MICROSECOND, 2*row_number() over (order by [LCI_SRC].[LOADDT]), SYSDATETIME()) AS [LOADDT]
		, [MEX_SRC].[ATTRIBUTE_VARCHAR] AS [CHANGE_TYPE]
		, [TDFV_SRC].[DATATYPE] AS [DATATYPE]
		, CONVERT(INT, [TDFV_SRC].[DCLink] , 1) AS [DCLink]
		, CONVERT(INT, [TDFV_SRC].[iClassID] , 1) AS [iClassID]
		, COALESCE(UPPER(REPLACE([TDFV_SRC].[Account],'|','\' + '|')),[MEX_SRC].[KEY_ATTRIBUTE_VARCHAR]) AS [BK_Account]
		, COALESCE(UPPER([TDFV_SRC].[DCLink]),[MEX_SRC].[KEY_ATTRIBUTE_INT]) AS [BK_DCLink]
		, [TDFV_SRC].[Account]  AS [Account]
		, [TDFV_SRC].[Name]  AS [Name]
		, [TDFV_SRC].[Title]  AS [Title]
		, [TDFV_SRC].[Init]  AS [Init]
		, [TDFV_SRC].[Contact_Person]  AS [Contact_Person]
		, [TDFV_SRC].[Physical1]  AS [Physical1]
		, [TDFV_SRC].[Physical2]  AS [Physical2]
		, [TDFV_SRC].[Physical3]  AS [Physical3]
		, [TDFV_SRC].[Physical4]  AS [Physical4]
		, [TDFV_SRC].[Physical5]  AS [Physical5]
		, [TDFV_SRC].[PhysicalPC]  AS [PhysicalPC]
		, [TDFV_SRC].[Addressee]  AS [Addressee]
		, [TDFV_SRC].[Post1]  AS [Post1]
		, [TDFV_SRC].[Post2]  AS [Post2]
		, [TDFV_SRC].[Post3]  AS [Post3]
		, [TDFV_SRC].[Post4]  AS [Post4]
		, [TDFV_SRC].[Post5]  AS [Post5]
		, [TDFV_SRC].[PostPC]  AS [PostPC]
		, [TDFV_SRC].[Delivered_To]  AS [Delivered_To]
		, [TDFV_SRC].[Telephone]  AS [Telephone]
		, [TDFV_SRC].[Telephone2]  AS [Telephone2]
		, [TDFV_SRC].[Fax1]  AS [Fax1]
		, [TDFV_SRC].[Fax2]  AS [Fax2]
		, CONVERT(INT, [TDFV_SRC].[AccountTerms] , 1) AS [AccountTerms]
		, CONVERT(BIT, [TDFV_SRC].[CT] , 1) AS [CT]
		, [TDFV_SRC].[Tax_Number]  AS [Tax_Number]
		, [TDFV_SRC].[Registration]  AS [Registration]
		, CONVERT(FLOAT, [TDFV_SRC].[Credit_Limit] , 1) AS [Credit_Limit]
		, CONVERT(INT, [TDFV_SRC].[RepID] , 1) AS [RepID]
		, CONVERT(FLOAT, [TDFV_SRC].[Interest_Rate] , 1) AS [Interest_Rate]
		, CONVERT(FLOAT, [TDFV_SRC].[Discount] , 1) AS [Discount]
		, CONVERT(BIT, [TDFV_SRC].[On_Hold] , 1) AS [On_Hold]
		, CONVERT(INT, [TDFV_SRC].[BFOpenType] , 1) AS [BFOpenType]
		, [TDFV_SRC].[EMail]  AS [EMail]
		, CONVERT(INT, [TDFV_SRC].[BankLink] , 1) AS [BankLink]
		, [TDFV_SRC].[BranchCode]  AS [BranchCode]
		, [TDFV_SRC].[BankAccNum]  AS [BankAccNum]
		, [TDFV_SRC].[BankAccType]  AS [BankAccType]
		, CONVERT(FLOAT, [TDFV_SRC].[AutoDisc] , 1) AS [AutoDisc]
		, CONVERT(INT, [TDFV_SRC].[DiscMtrxRow] , 1) AS [DiscMtrxRow]
		, CONVERT(INT, [TDFV_SRC].[MainAccLink] , 1) AS [MainAccLink]
		, CONVERT(BIT, [TDFV_SRC].[CashDebtor] , 1) AS [CashDebtor]
		, CONVERT(FLOAT, [TDFV_SRC].[DCBalance] , 1) AS [DCBalance]
		, CONVERT(BIT, [TDFV_SRC].[CheckTerms] , 1) AS [CheckTerms]
		, CONVERT(BIT, [TDFV_SRC].[UseEmail] , 1) AS [UseEmail]
		, CONVERT(INT, [TDFV_SRC].[iIncidentTypeID] , 1) AS [iIncidentTypeID]
		, CONVERT(INT, [TDFV_SRC].[iBusTypeID] , 1) AS [iBusTypeID]
		, CONVERT(INT, [TDFV_SRC].[iBusClassID] , 1) AS [iBusClassID]
		, CONVERT(INT, [TDFV_SRC].[iCountryID] , 1) AS [iCountryID]
		, CONVERT(INT, [TDFV_SRC].[iAgentID] , 1) AS [iAgentID]
		, CONVERT(DATETIME2, [TDFV_SRC].[dTimeStamp] , 103) AS [dTimeStamp]
		, [TDFV_SRC].[cAccDescription]  AS [cAccDescription]
		, [TDFV_SRC].[cWebPage]  AS [cWebPage]
		, CONVERT(INT, [TDFV_SRC].[iAreasID] , 1) AS [iAreasID]
		, [TDFV_SRC].[cBankRefNr]  AS [cBankRefNr]
		, CONVERT(INT, [TDFV_SRC].[iCurrencyID] , 1) AS [iCurrencyID]
		, CONVERT(BIT, [TDFV_SRC].[bStatPrint] , 1) AS [bStatPrint]
		, CONVERT(BIT, [TDFV_SRC].[bStatEmail] , 1) AS [bStatEmail]
		, [TDFV_SRC].[cStatEmailPass]  AS [cStatEmailPass]
		, CONVERT(BIT, [TDFV_SRC].[bForCurAcc] , 1) AS [bForCurAcc]
		, CONVERT(FLOAT, [TDFV_SRC].[fForeignBalance] , 1) AS [fForeignBalance]
		, CONVERT(BIT, [TDFV_SRC].[bTaxPrompt] , 1) AS [bTaxPrompt]
		, CONVERT(INT, [TDFV_SRC].[iARPriceListNameID] , 1) AS [iARPriceListNameID]
		, CONVERT(INT, [TDFV_SRC].[iSettlementTermsID] , 1) AS [iSettlementTermsID]
		, CONVERT(BIT, [TDFV_SRC].[bSourceDocPrint] , 1) AS [bSourceDocPrint]
		, CONVERT(BIT, [TDFV_SRC].[bSourceDocEmail] , 1) AS [bSourceDocEmail]
		, CONVERT(INT, [TDFV_SRC].[iEUCountryID] , 1) AS [iEUCountryID]
		, CONVERT(INT, [TDFV_SRC].[iDefTaxTypeID] , 1) AS [iDefTaxTypeID]
		, CONVERT(BIT, [TDFV_SRC].[bCODAccount] , 1) AS [bCODAccount]
		, CONVERT(INT, [TDFV_SRC].[iAgeingTermID] , 1) AS [iAgeingTermID]
		, CONVERT(BIT, [TDFV_SRC].[bElecDocAcceptance] , 1) AS [bElecDocAcceptance]
		, CONVERT(TINYINT, [TDFV_SRC].[iBankDetailType] , 1) AS [iBankDetailType]
		, [TDFV_SRC].[cBankAccHolder]  AS [cBankAccHolder]
		, [TDFV_SRC].[cIDNumber]  AS [cIDNumber]
		, [TDFV_SRC].[cPassportNumber]  AS [cPassportNumber]
		, CONVERT(BIT, [TDFV_SRC].[bInsuranceCustomer] , 1) AS [bInsuranceCustomer]
		, [TDFV_SRC].[cBankCode]  AS [cBankCode]
		, [TDFV_SRC].[cSwiftCode]  AS [cSwiftCode]
		, CONVERT(INT, [TDFV_SRC].[iSPQueueID] , 1) AS [iSPQueueID]
		, CONVERT(INT, [TDFV_SRC].[Client_iBranchID] , 1) AS [Client_iBranchID]
		, CONVERT(DATETIME2, [TDFV_SRC].[Client_dCreatedDate] , 103) AS [Client_dCreatedDate]
		, CONVERT(DATETIME2, [TDFV_SRC].[Client_dModifiedDate] , 103) AS [Client_dModifiedDate]
		, CONVERT(INT, [TDFV_SRC].[Client_iCreatedBranchID] , 1) AS [Client_iCreatedBranchID]
		, CONVERT(INT, [TDFV_SRC].[Client_iModifiedBranchID] , 1) AS [Client_iModifiedBranchID]
		, CONVERT(INT, [TDFV_SRC].[Client_iCreatedAgentID] , 1) AS [Client_iCreatedAgentID]
		, CONVERT(INT, [TDFV_SRC].[Client_iModifiedAgentID] , 1) AS [Client_iModifiedAgentID]
		, CONVERT(INT, [TDFV_SRC].[Client_iChangeSetID] , 1) AS [Client_iChangeSetID]
		, CAST([TDFV_SRC].[Client_Checksum]  AS BINARY) AS [Client_Checksum]
		, CONVERT(BIT, [TDFV_SRC].[bCustomerZoneEnabled] , 1) AS [bCustomerZoneEnabled]
		, CONVERT(BIT, [TDFV_SRC].[bOnlineToolsEnabled] , 1) AS [bOnlineToolsEnabled]
		, CONVERT(BIT, [TDFV_SRC].[bTaxVerified] , 1) AS [bTaxVerified]
		, CONVERT(DATETIME2, [TDFV_SRC].[dDateTaxVerified] , 103) AS [dDateTaxVerified]
		, CONVERT(BIT, [TDFV_SRC].[bBadDebtRelief] , 1) AS [bBadDebtRelief]
		, CONVERT(INT, [TDFV_SRC].[iTaxState] , 1) AS [iTaxState]
		, CONVERT(BIT, [TDFV_SRC].[bObjectToProcess] , 1) AS [bObjectToProcess]
	FROM [dv_CSG_1_FOODS].[VW_Client] [TDFV_SRC]
	INNER JOIN [dc].[LOAD_CYCLE_HIST] [LCI_SRC] ON  1 = 1
	INNER JOIN [dc].[EXECEPTION] [MEX_SRC] ON  1 = 1
	WHERE  [MEX_SRC].[DATATYPE] = '#'
	;
END;


END;

 
 


GO
