SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE PROCEDURE [SAGE200_EVO_PROC].[SRC_CSG_1_FOODS_Vendor_TDFT_INCR] AS 
/*
    ___  ___  ______  |  
   / _ \/ _ \|  ____| |  agile    
  / / \ \/ \ \ |__    |  automation
 / /  /\ \  \ \ __|   |  factory   
/_/  /_/\_\  \_\      | 

Vaultspeed version: 4.1.16.6, generation date: 2020/09/22 13:12:11
DV_NAME: CSG_DV - Release: CSG_DV_V11(11) - Comment: CSG_DV_V11 - Release date: 2020/09/22 12:36:07, 
BV release: init(1) - Comment: initial release - Release date: 2020/09/22 10:44:25, 
SRC_NAME: CSG_1_FOODS - Release: CSG_1_FOODS(6) - Comment: Release 6.0 - Release date: 2020/09/22 12:10:29
 */


BEGIN 
BEGIN -- TDFT_TGT

	TRUNCATE TABLE [dv_CSG_1_FOODS].[Vendor];

	WITH [DELTA_VIEW] AS 
	( 
		SELECT 
			  CAST('SRC'  AS VARCHAR) AS [DATATYPE]
			, [CDC_SRC].[DCLink] AS [DCLink]
			, [CDC_SRC].[iClassID] AS [iClassID]
			, [CDC_SRC].[Account] AS [Account]
			, [CDC_SRC].[Name] AS [Name]
			, [CDC_SRC].[Title] AS [Title]
			, [CDC_SRC].[Init] AS [Init]
			, [CDC_SRC].[Contact_Person] AS [Contact_Person]
			, [CDC_SRC].[Physical1] AS [Physical1]
			, [CDC_SRC].[Physical2] AS [Physical2]
			, [CDC_SRC].[Physical3] AS [Physical3]
			, [CDC_SRC].[Physical4] AS [Physical4]
			, [CDC_SRC].[Physical5] AS [Physical5]
			, [CDC_SRC].[PhysicalPC] AS [PhysicalPC]
			, [CDC_SRC].[Addressee] AS [Addressee]
			, [CDC_SRC].[Post1] AS [Post1]
			, [CDC_SRC].[Post2] AS [Post2]
			, [CDC_SRC].[Post3] AS [Post3]
			, [CDC_SRC].[Post4] AS [Post4]
			, [CDC_SRC].[Post5] AS [Post5]
			, [CDC_SRC].[PostPC] AS [PostPC]
			, [CDC_SRC].[Delivered_To] AS [Delivered_To]
			, [CDC_SRC].[Telephone] AS [Telephone]
			, [CDC_SRC].[Telephone2] AS [Telephone2]
			, [CDC_SRC].[Fax1] AS [Fax1]
			, [CDC_SRC].[Fax2] AS [Fax2]
			, [CDC_SRC].[AccountTerms] AS [AccountTerms]
			, [CDC_SRC].[CT] AS [CT]
			, [CDC_SRC].[Tax_Number] AS [Tax_Number]
			, [CDC_SRC].[Registration] AS [Registration]
			, [CDC_SRC].[Credit_Limit] AS [Credit_Limit]
			, [CDC_SRC].[Interest_Rate] AS [Interest_Rate]
			, [CDC_SRC].[Discount] AS [Discount]
			, [CDC_SRC].[On_Hold] AS [On_Hold]
			, [CDC_SRC].[BFOpenType] AS [BFOpenType]
			, [CDC_SRC].[EMail] AS [EMail]
			, [CDC_SRC].[BankLink] AS [BankLink]
			, [CDC_SRC].[BranchCode] AS [BranchCode]
			, [CDC_SRC].[BankAccNum] AS [BankAccNum]
			, [CDC_SRC].[BankAccType] AS [BankAccType]
			, [CDC_SRC].[AutoDisc] AS [AutoDisc]
			, [CDC_SRC].[DiscMtrxRow] AS [DiscMtrxRow]
			, [CDC_SRC].[DCBalance] AS [DCBalance]
			, [CDC_SRC].[CheckTerms] AS [CheckTerms]
			, [CDC_SRC].[UseEmail] AS [UseEmail]
			, [CDC_SRC].[iBusTypeID] AS [iBusTypeID]
			, [CDC_SRC].[iBusClassID] AS [iBusClassID]
			, [CDC_SRC].[iCountryID] AS [iCountryID]
			, [CDC_SRC].[cAccDescription] AS [cAccDescription]
			, [CDC_SRC].[cWebPage] AS [cWebPage]
			, [CDC_SRC].[dTimeStamp] AS [dTimeStamp]
			, [CDC_SRC].[iAreasID] AS [iAreasID]
			, [CDC_SRC].[cBankRefNr] AS [cBankRefNr]
			, [CDC_SRC].[iCurrencyID] AS [iCurrencyID]
			, [CDC_SRC].[bStatPrint] AS [bStatPrint]
			, [CDC_SRC].[bStatEmail] AS [bStatEmail]
			, [CDC_SRC].[cStatEmailPass] AS [cStatEmailPass]
			, [CDC_SRC].[bForCurAcc] AS [bForCurAcc]
			, [CDC_SRC].[bRemittanceChequeEFTS] AS [bRemittanceChequeEFTS]
			, [CDC_SRC].[fForeignBalance] AS [fForeignBalance]
			, [CDC_SRC].[iSettlementTermsID] AS [iSettlementTermsID]
			, [CDC_SRC].[bSourceDocPrint] AS [bSourceDocPrint]
			, [CDC_SRC].[bSourceDocEmail] AS [bSourceDocEmail]
			, [CDC_SRC].[iEUCountryID] AS [iEUCountryID]
			, [CDC_SRC].[iDefTaxTypeID] AS [iDefTaxTypeID]
			, [CDC_SRC].[iAgeingTermID] AS [iAgeingTermID]
			, [CDC_SRC].[iBankDetailType] AS [iBankDetailType]
			, [CDC_SRC].[cBankAccHolder] AS [cBankAccHolder]
			, [CDC_SRC].[cIDNumber] AS [cIDNumber]
			, [CDC_SRC].[cPassportNumber] AS [cPassportNumber]
			, [CDC_SRC].[cBankCode] AS [cBankCode]
			, [CDC_SRC].[cSwiftCode] AS [cSwiftCode]
			, [CDC_SRC].[iSPQueueID] AS [iSPQueueID]
			, [CDC_SRC].[iBankDetailID] AS [iBankDetailID]
			, [CDC_SRC].[Vendor_iBranchID] AS [Vendor_iBranchID]
			, [CDC_SRC].[Vendor_dCreatedDate] AS [Vendor_dCreatedDate]
			, [CDC_SRC].[Vendor_dModifiedDate] AS [Vendor_dModifiedDate]
			, [CDC_SRC].[Vendor_iCreatedBranchID] AS [Vendor_iCreatedBranchID]
			, [CDC_SRC].[Vendor_iModifiedBranchID] AS [Vendor_iModifiedBranchID]
			, [CDC_SRC].[Vendor_iCreatedAgentID] AS [Vendor_iCreatedAgentID]
			, [CDC_SRC].[Vendor_iModifiedAgentID] AS [Vendor_iModifiedAgentID]
			, [CDC_SRC].[Vendor_iChangeSetID] AS [Vendor_iChangeSetID]
			, [CDC_SRC].[Vendor_Checksum] AS [Vendor_Checksum]
			, [CDC_SRC].[bTaxVerified] AS [bTaxVerified]
			, [CDC_SRC].[dDateTaxVerified] AS [dDateTaxVerified]
			, [CDC_SRC].[cRMCDApprovalNumber] AS [cRMCDApprovalNumber]
			, [CDC_SRC].[dRMCDApprovalDate] AS [dRMCDApprovalDate]
			, [CDC_SRC].[iTaxState] AS [iTaxState]
			, [CDC_SRC].[bObjectToProcess] AS [bObjectToProcess]
		FROM [CSG_1_FOODS].[Vendor] [CDC_SRC]
	)
	, [PREPJOINBK] AS 
	( 
		SELECT
			  [DELTA_VIEW].[DATATYPE] AS [DATATYPE]
			, COALESCE(REPLACE([DELTA_VIEW].[DCLink],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_INT]) AS [DCLink]
			, COALESCE(REPLACE([DELTA_VIEW].[iClassID],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_INT]) AS [iClassID]
			, [DELTA_VIEW].[Account] AS [Account]
			, [DELTA_VIEW].[Name] AS [Name]
			, [DELTA_VIEW].[Title] AS [Title]
			, [DELTA_VIEW].[Init] AS [Init]
			, [DELTA_VIEW].[Contact_Person] AS [Contact_Person]
			, [DELTA_VIEW].[Physical1] AS [Physical1]
			, [DELTA_VIEW].[Physical2] AS [Physical2]
			, [DELTA_VIEW].[Physical3] AS [Physical3]
			, [DELTA_VIEW].[Physical4] AS [Physical4]
			, [DELTA_VIEW].[Physical5] AS [Physical5]
			, [DELTA_VIEW].[PhysicalPC] AS [PhysicalPC]
			, [DELTA_VIEW].[Addressee] AS [Addressee]
			, [DELTA_VIEW].[Post1] AS [Post1]
			, [DELTA_VIEW].[Post2] AS [Post2]
			, [DELTA_VIEW].[Post3] AS [Post3]
			, [DELTA_VIEW].[Post4] AS [Post4]
			, [DELTA_VIEW].[Post5] AS [Post5]
			, [DELTA_VIEW].[PostPC] AS [PostPC]
			, [DELTA_VIEW].[Delivered_To] AS [Delivered_To]
			, [DELTA_VIEW].[Telephone] AS [Telephone]
			, [DELTA_VIEW].[Telephone2] AS [Telephone2]
			, [DELTA_VIEW].[Fax1] AS [Fax1]
			, [DELTA_VIEW].[Fax2] AS [Fax2]
			, REPLACE([DELTA_VIEW].[AccountTerms],',','') AS [AccountTerms]
			, REPLACE([DELTA_VIEW].[CT],',','') AS [CT]
			, [DELTA_VIEW].[Tax_Number] AS [Tax_Number]
			, [DELTA_VIEW].[Registration] AS [Registration]
			, REPLACE([DELTA_VIEW].[Credit_Limit],',','') AS [Credit_Limit]
			, REPLACE([DELTA_VIEW].[Interest_Rate],',','') AS [Interest_Rate]
			, REPLACE([DELTA_VIEW].[Discount],',','') AS [Discount]
			, REPLACE([DELTA_VIEW].[On_Hold],',','') AS [On_Hold]
			, REPLACE([DELTA_VIEW].[BFOpenType],',','') AS [BFOpenType]
			, [DELTA_VIEW].[EMail] AS [EMail]
			, REPLACE([DELTA_VIEW].[BankLink],',','') AS [BankLink]
			, [DELTA_VIEW].[BranchCode] AS [BranchCode]
			, [DELTA_VIEW].[BankAccNum] AS [BankAccNum]
			, [DELTA_VIEW].[BankAccType] AS [BankAccType]
			, REPLACE([DELTA_VIEW].[AutoDisc],',','') AS [AutoDisc]
			, REPLACE([DELTA_VIEW].[DiscMtrxRow],',','') AS [DiscMtrxRow]
			, REPLACE([DELTA_VIEW].[DCBalance],',','') AS [DCBalance]
			, REPLACE([DELTA_VIEW].[CheckTerms],',','') AS [CheckTerms]
			, REPLACE([DELTA_VIEW].[UseEmail],',','') AS [UseEmail]
			, REPLACE([DELTA_VIEW].[iBusTypeID],',','') AS [iBusTypeID]
			, REPLACE([DELTA_VIEW].[iBusClassID],',','') AS [iBusClassID]
			, REPLACE([DELTA_VIEW].[iCountryID],',','') AS [iCountryID]
			, [DELTA_VIEW].[cAccDescription] AS [cAccDescription]
			, [DELTA_VIEW].[cWebPage] AS [cWebPage]
			, [DELTA_VIEW].[dTimeStamp] AS [dTimeStamp]
			, REPLACE([DELTA_VIEW].[iAreasID],',','') AS [iAreasID]
			, [DELTA_VIEW].[cBankRefNr] AS [cBankRefNr]
			, REPLACE([DELTA_VIEW].[iCurrencyID],',','') AS [iCurrencyID]
			, REPLACE([DELTA_VIEW].[bStatPrint],',','') AS [bStatPrint]
			, REPLACE([DELTA_VIEW].[bStatEmail],',','') AS [bStatEmail]
			, [DELTA_VIEW].[cStatEmailPass] AS [cStatEmailPass]
			, REPLACE([DELTA_VIEW].[bForCurAcc],',','') AS [bForCurAcc]
			, REPLACE([DELTA_VIEW].[bRemittanceChequeEFTS],',','') AS [bRemittanceChequeEFTS]
			, REPLACE([DELTA_VIEW].[fForeignBalance],',','') AS [fForeignBalance]
			, REPLACE([DELTA_VIEW].[iSettlementTermsID],',','') AS [iSettlementTermsID]
			, REPLACE([DELTA_VIEW].[bSourceDocPrint],',','') AS [bSourceDocPrint]
			, REPLACE([DELTA_VIEW].[bSourceDocEmail],',','') AS [bSourceDocEmail]
			, REPLACE([DELTA_VIEW].[iEUCountryID],',','') AS [iEUCountryID]
			, REPLACE([DELTA_VIEW].[iDefTaxTypeID],',','') AS [iDefTaxTypeID]
			, REPLACE([DELTA_VIEW].[iAgeingTermID],',','') AS [iAgeingTermID]
			, REPLACE([DELTA_VIEW].[iBankDetailType],',','') AS [iBankDetailType]
			, [DELTA_VIEW].[cBankAccHolder] AS [cBankAccHolder]
			, [DELTA_VIEW].[cIDNumber] AS [cIDNumber]
			, [DELTA_VIEW].[cPassportNumber] AS [cPassportNumber]
			, [DELTA_VIEW].[cBankCode] AS [cBankCode]
			, [DELTA_VIEW].[cSwiftCode] AS [cSwiftCode]
			, REPLACE([DELTA_VIEW].[iSPQueueID],',','') AS [iSPQueueID]
			, REPLACE([DELTA_VIEW].[iBankDetailID],',','') AS [iBankDetailID]
			, REPLACE([DELTA_VIEW].[Vendor_iBranchID],',','') AS [Vendor_iBranchID]
			, [DELTA_VIEW].[Vendor_dCreatedDate] AS [Vendor_dCreatedDate]
			, [DELTA_VIEW].[Vendor_dModifiedDate] AS [Vendor_dModifiedDate]
			, REPLACE([DELTA_VIEW].[Vendor_iCreatedBranchID],',','') AS [Vendor_iCreatedBranchID]
			, REPLACE([DELTA_VIEW].[Vendor_iModifiedBranchID],',','') AS [Vendor_iModifiedBranchID]
			, REPLACE([DELTA_VIEW].[Vendor_iCreatedAgentID],',','') AS [Vendor_iCreatedAgentID]
			, REPLACE([DELTA_VIEW].[Vendor_iModifiedAgentID],',','') AS [Vendor_iModifiedAgentID]
			, REPLACE([DELTA_VIEW].[Vendor_iChangeSetID],',','') AS [Vendor_iChangeSetID]
			, [DELTA_VIEW].[Vendor_Checksum] AS [Vendor_Checksum]
			, REPLACE([DELTA_VIEW].[bTaxVerified],',','') AS [bTaxVerified]
			, [DELTA_VIEW].[dDateTaxVerified] AS [dDateTaxVerified]
			, [DELTA_VIEW].[cRMCDApprovalNumber] AS [cRMCDApprovalNumber]
			, [DELTA_VIEW].[dRMCDApprovalDate] AS [dRMCDApprovalDate]
			, REPLACE([DELTA_VIEW].[iTaxState],',','') AS [iTaxState]
			, REPLACE([DELTA_VIEW].[bObjectToProcess],',','') AS [bObjectToProcess]
		FROM [DELTA_VIEW]
		INNER JOIN [dc].[EXECEPTION] [MEX_BK_SRC] ON  1 = 1
		WHERE  [MEX_BK_SRC].[DATATYPE] = '#'
	)
	INSERT INTO [dv_CSG_1_FOODS].[Vendor](
		 [DATATYPE]
		,[DCLink]
		,[iClassID]
		,[Account]
		,[Name]
		,[Title]
		,[Init]
		,[Contact_Person]
		,[Physical1]
		,[Physical2]
		,[Physical3]
		,[Physical4]
		,[Physical5]
		,[PhysicalPC]
		,[Addressee]
		,[Post1]
		,[Post2]
		,[Post3]
		,[Post4]
		,[Post5]
		,[PostPC]
		,[Delivered_To]
		,[Telephone]
		,[Telephone2]
		,[Fax1]
		,[Fax2]
		,[AccountTerms]
		,[CT]
		,[Tax_Number]
		,[Registration]
		,[Credit_Limit]
		,[Interest_Rate]
		,[Discount]
		,[On_Hold]
		,[BFOpenType]
		,[EMail]
		,[BankLink]
		,[BranchCode]
		,[BankAccNum]
		,[BankAccType]
		,[AutoDisc]
		,[DiscMtrxRow]
		,[DCBalance]
		,[CheckTerms]
		,[UseEmail]
		,[iBusTypeID]
		,[iBusClassID]
		,[iCountryID]
		,[cAccDescription]
		,[cWebPage]
		,[dTimeStamp]
		,[iAreasID]
		,[cBankRefNr]
		,[iCurrencyID]
		,[bStatPrint]
		,[bStatEmail]
		,[cStatEmailPass]
		,[bForCurAcc]
		,[bRemittanceChequeEFTS]
		,[fForeignBalance]
		,[iSettlementTermsID]
		,[bSourceDocPrint]
		,[bSourceDocEmail]
		,[iEUCountryID]
		,[iDefTaxTypeID]
		,[iAgeingTermID]
		,[iBankDetailType]
		,[cBankAccHolder]
		,[cIDNumber]
		,[cPassportNumber]
		,[cBankCode]
		,[cSwiftCode]
		,[iSPQueueID]
		,[iBankDetailID]
		,[Vendor_iBranchID]
		,[Vendor_dCreatedDate]
		,[Vendor_dModifiedDate]
		,[Vendor_iCreatedBranchID]
		,[Vendor_iModifiedBranchID]
		,[Vendor_iCreatedAgentID]
		,[Vendor_iModifiedAgentID]
		,[Vendor_iChangeSetID]
		,[Vendor_Checksum]
		,[bTaxVerified]
		,[dDateTaxVerified]
		,[cRMCDApprovalNumber]
		,[dRMCDApprovalDate]
		,[iTaxState]
		,[bObjectToProcess]
	)
	SELECT
		  [PREPJOINBK].[DATATYPE] AS [DATATYPE]
		, [PREPJOINBK].[DCLink] AS [DCLink]
		, [PREPJOINBK].[iClassID] AS [iClassID]
		, [PREPJOINBK].[Account] AS [Account]
		, [PREPJOINBK].[Name] AS [Name]
		, [PREPJOINBK].[Title] AS [Title]
		, [PREPJOINBK].[Init] AS [Init]
		, [PREPJOINBK].[Contact_Person] AS [Contact_Person]
		, [PREPJOINBK].[Physical1] AS [Physical1]
		, [PREPJOINBK].[Physical2] AS [Physical2]
		, [PREPJOINBK].[Physical3] AS [Physical3]
		, [PREPJOINBK].[Physical4] AS [Physical4]
		, [PREPJOINBK].[Physical5] AS [Physical5]
		, [PREPJOINBK].[PhysicalPC] AS [PhysicalPC]
		, [PREPJOINBK].[Addressee] AS [Addressee]
		, [PREPJOINBK].[Post1] AS [Post1]
		, [PREPJOINBK].[Post2] AS [Post2]
		, [PREPJOINBK].[Post3] AS [Post3]
		, [PREPJOINBK].[Post4] AS [Post4]
		, [PREPJOINBK].[Post5] AS [Post5]
		, [PREPJOINBK].[PostPC] AS [PostPC]
		, [PREPJOINBK].[Delivered_To] AS [Delivered_To]
		, [PREPJOINBK].[Telephone] AS [Telephone]
		, [PREPJOINBK].[Telephone2] AS [Telephone2]
		, [PREPJOINBK].[Fax1] AS [Fax1]
		, [PREPJOINBK].[Fax2] AS [Fax2]
		, [PREPJOINBK].[AccountTerms] AS [AccountTerms]
		, [PREPJOINBK].[CT] AS [CT]
		, [PREPJOINBK].[Tax_Number] AS [Tax_Number]
		, [PREPJOINBK].[Registration] AS [Registration]
		, [PREPJOINBK].[Credit_Limit] AS [Credit_Limit]
		, [PREPJOINBK].[Interest_Rate] AS [Interest_Rate]
		, [PREPJOINBK].[Discount] AS [Discount]
		, [PREPJOINBK].[On_Hold] AS [On_Hold]
		, [PREPJOINBK].[BFOpenType] AS [BFOpenType]
		, [PREPJOINBK].[EMail] AS [EMail]
		, [PREPJOINBK].[BankLink] AS [BankLink]
		, [PREPJOINBK].[BranchCode] AS [BranchCode]
		, [PREPJOINBK].[BankAccNum] AS [BankAccNum]
		, [PREPJOINBK].[BankAccType] AS [BankAccType]
		, [PREPJOINBK].[AutoDisc] AS [AutoDisc]
		, [PREPJOINBK].[DiscMtrxRow] AS [DiscMtrxRow]
		, [PREPJOINBK].[DCBalance] AS [DCBalance]
		, [PREPJOINBK].[CheckTerms] AS [CheckTerms]
		, [PREPJOINBK].[UseEmail] AS [UseEmail]
		, [PREPJOINBK].[iBusTypeID] AS [iBusTypeID]
		, [PREPJOINBK].[iBusClassID] AS [iBusClassID]
		, [PREPJOINBK].[iCountryID] AS [iCountryID]
		, [PREPJOINBK].[cAccDescription] AS [cAccDescription]
		, [PREPJOINBK].[cWebPage] AS [cWebPage]
		, [PREPJOINBK].[dTimeStamp] AS [dTimeStamp]
		, [PREPJOINBK].[iAreasID] AS [iAreasID]
		, [PREPJOINBK].[cBankRefNr] AS [cBankRefNr]
		, [PREPJOINBK].[iCurrencyID] AS [iCurrencyID]
		, [PREPJOINBK].[bStatPrint] AS [bStatPrint]
		, [PREPJOINBK].[bStatEmail] AS [bStatEmail]
		, [PREPJOINBK].[cStatEmailPass] AS [cStatEmailPass]
		, [PREPJOINBK].[bForCurAcc] AS [bForCurAcc]
		, [PREPJOINBK].[bRemittanceChequeEFTS] AS [bRemittanceChequeEFTS]
		, [PREPJOINBK].[fForeignBalance] AS [fForeignBalance]
		, [PREPJOINBK].[iSettlementTermsID] AS [iSettlementTermsID]
		, [PREPJOINBK].[bSourceDocPrint] AS [bSourceDocPrint]
		, [PREPJOINBK].[bSourceDocEmail] AS [bSourceDocEmail]
		, [PREPJOINBK].[iEUCountryID] AS [iEUCountryID]
		, [PREPJOINBK].[iDefTaxTypeID] AS [iDefTaxTypeID]
		, [PREPJOINBK].[iAgeingTermID] AS [iAgeingTermID]
		, [PREPJOINBK].[iBankDetailType] AS [iBankDetailType]
		, [PREPJOINBK].[cBankAccHolder] AS [cBankAccHolder]
		, [PREPJOINBK].[cIDNumber] AS [cIDNumber]
		, [PREPJOINBK].[cPassportNumber] AS [cPassportNumber]
		, [PREPJOINBK].[cBankCode] AS [cBankCode]
		, [PREPJOINBK].[cSwiftCode] AS [cSwiftCode]
		, [PREPJOINBK].[iSPQueueID] AS [iSPQueueID]
		, [PREPJOINBK].[iBankDetailID] AS [iBankDetailID]
		, [PREPJOINBK].[Vendor_iBranchID] AS [Vendor_iBranchID]
		, [PREPJOINBK].[Vendor_dCreatedDate] AS [Vendor_dCreatedDate]
		, [PREPJOINBK].[Vendor_dModifiedDate] AS [Vendor_dModifiedDate]
		, [PREPJOINBK].[Vendor_iCreatedBranchID] AS [Vendor_iCreatedBranchID]
		, [PREPJOINBK].[Vendor_iModifiedBranchID] AS [Vendor_iModifiedBranchID]
		, [PREPJOINBK].[Vendor_iCreatedAgentID] AS [Vendor_iCreatedAgentID]
		, [PREPJOINBK].[Vendor_iModifiedAgentID] AS [Vendor_iModifiedAgentID]
		, [PREPJOINBK].[Vendor_iChangeSetID] AS [Vendor_iChangeSetID]
		, [PREPJOINBK].[Vendor_Checksum] AS [Vendor_Checksum]
		, [PREPJOINBK].[bTaxVerified] AS [bTaxVerified]
		, [PREPJOINBK].[dDateTaxVerified] AS [dDateTaxVerified]
		, [PREPJOINBK].[cRMCDApprovalNumber] AS [cRMCDApprovalNumber]
		, [PREPJOINBK].[dRMCDApprovalDate] AS [dRMCDApprovalDate]
		, [PREPJOINBK].[iTaxState] AS [iTaxState]
		, [PREPJOINBK].[bObjectToProcess] AS [bObjectToProcess]
	FROM [PREPJOINBK]
	INNER JOIN [dc].[LOAD_CYCLE_HIST] [LCI_SRC] ON  1 = 1
	LEFT OUTER JOIN [raw].[SAT_CSG_1_FOODS_Vendor] [SAT_SRC1] ON  CONVERT(INT, [PREPJOINBK].[DCLink] , 1) = [SAT_SRC1].[DCLink] AND [SAT_SRC1].[LOAD_CYCLE_ID] =
		[LCI_SRC].[LOAD_CYCLE_ID]
	WHERE  [SAT_SRC1].[HK_Vendor] IS NULL
	;
END;


END;

 
 


GO
