SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE PROCEDURE [SAGE200_EVO_PROC].EXT_CSG_1_FOODS_Accounts_INIT AS 
/*
    ___  ___  ______  |  
   / _ \/ _ \|  ____| |  agile    
  / / \ \/ \ \ |__    |  automation
 / /  /\ \  \ \ __|   |  factory   
/_/  /_/\_\  \_\      | 

Vaultspeed version: 4.1.16.6, generation date: 2020/09/22 13:12:11
DV_NAME: CSG_DV - Release: CSG_DV_V11(11) - Comment: CSG_DV_V11 - Release date: 2020/09/22 12:36:07, 
BV release: init(1) - Comment: initial release - Release date: 2020/09/22 10:44:25, 
SRC_NAME: CSG_1_FOODS - Release: CSG_1_FOODS(6) - Comment: Release 6.0 - Release date: 2020/09/22 12:10:29
 */


BEGIN 
BEGIN -- EXT_TGT

	TRUNCATE TABLE [CSG_1_FOODS_ext].[Accounts];

	WITH [PREP_EXCEP] AS 
	( 
		SELECT 
			  '+' AS [CHANGE_TYPE]
			, 'SRC' AS [DATATYPE]
			, NULL AS [LOAD_CYCLE_ID]
			, COALESCE( CONVERT(INT, REPLACE([INI_SRC].[AccountLink],',','') , 1), CONVERT(INT,
				[MEX_INR_SRC].[KEY_ATTRIBUTE_INT] , 1)) AS [AccountLink]
			, COALESCE( CONVERT(INT, REPLACE([INI_SRC].[iGLSegment0ID],',','') , 1), CONVERT(INT,
				[MEX_INR_SRC].[KEY_ATTRIBUTE_INT] , 1)) AS [iGLSegment0ID]
			, COALESCE( CONVERT(INT, REPLACE([INI_SRC].[iGLSegment1ID],',','') , 1), CONVERT(INT,
				[MEX_INR_SRC].[KEY_ATTRIBUTE_INT] , 1)) AS [iGLSegment1ID]
			, COALESCE( CONVERT(INT, REPLACE([INI_SRC].[iGLSegment2ID],',','') , 1), CONVERT(INT,
				[MEX_INR_SRC].[KEY_ATTRIBUTE_INT] , 1)) AS [iGLSegment2ID]
			, COALESCE( CONVERT(INT, REPLACE([INI_SRC].[iGLSegment3ID],',','') , 1), CONVERT(INT,
				[MEX_INR_SRC].[KEY_ATTRIBUTE_INT] , 1)) AS [iGLSegment3ID]
			, COALESCE( CONVERT(INT, REPLACE([INI_SRC].[iGLSegment4ID],',','') , 1), CONVERT(INT,
				[MEX_INR_SRC].[KEY_ATTRIBUTE_INT] , 1)) AS [iGLSegment4ID]
			, COALESCE( CONVERT(INT, REPLACE([INI_SRC].[iGLSegment5ID],',','') , 1), CONVERT(INT,
				[MEX_INR_SRC].[KEY_ATTRIBUTE_INT] , 1)) AS [iGLSegment5ID]
			, COALESCE( CONVERT(INT, REPLACE([INI_SRC].[iGLSegment6ID],',','') , 1), CONVERT(INT,
				[MEX_INR_SRC].[KEY_ATTRIBUTE_INT] , 1)) AS [iGLSegment6ID]
			, COALESCE( CONVERT(INT, REPLACE([INI_SRC].[iGLSegment7ID],',','') , 1), CONVERT(INT,
				[MEX_INR_SRC].[KEY_ATTRIBUTE_INT] , 1)) AS [iGLSegment7ID]
			, COALESCE( CONVERT(INT, REPLACE([INI_SRC].[iGLSegment8ID],',','') , 1), CONVERT(INT,
				[MEX_INR_SRC].[KEY_ATTRIBUTE_INT] , 1)) AS [iGLSegment8ID]
			, COALESCE( CONVERT(INT, REPLACE([INI_SRC].[iGLSegment9ID],',','') , 1), CONVERT(INT,
				[MEX_INR_SRC].[KEY_ATTRIBUTE_INT] , 1)) AS [iGLSegment9ID]
			, [INI_SRC].[Master_Sub_Account]  AS [Master_Sub_Account]
			, CONVERT(INT, [INI_SRC].[AccountLevel] , 1) AS [AccountLevel]
			, [INI_SRC].[Account]  AS [Account]
			, CONVERT(INT, [INI_SRC].[iAccountType] , 1) AS [iAccountType]
			, CONVERT(INT, [INI_SRC].[SubAccOfLink] , 1) AS [SubAccOfLink]
			, [INI_SRC].[Dept]  AS [Dept]
			, [INI_SRC].[Brch]  AS [Brch]
			, CONVERT(BIT, [INI_SRC].[Jr] , 1) AS [Jr]
			, [INI_SRC].[Description]  AS [Description]
			, [INI_SRC].[CaseAcc]  AS [CaseAcc]
			, CONVERT(BIT, [INI_SRC].[ActiveAccount] , 1) AS [ActiveAccount]
			, CONVERT(DATETIME2, [INI_SRC].[dAccountsTimeStamp] , 103) AS [dAccountsTimeStamp]
			, [INI_SRC].[cNextChequeNum]  AS [cNextChequeNum]
			, CONVERT(INT, [INI_SRC].[iReportCategoryID] , 1) AS [iReportCategoryID]
			, CONVERT(FLOAT, [INI_SRC].[fBankStatementBalance] , 1) AS [fBankStatementBalance]
			, [INI_SRC].[cExtDescription]  AS [cExtDescription]
			, CONVERT(INT, [INI_SRC].[iTaxTypeINVID] , 1) AS [iTaxTypeINVID]
			, CONVERT(INT, [INI_SRC].[iTaxTypeCRNID] , 1) AS [iTaxTypeCRNID]
			, CONVERT(INT, [INI_SRC].[iTaxTypeGRVID] , 1) AS [iTaxTypeGRVID]
			, CONVERT(INT, [INI_SRC].[iTaxTypeRTSID] , 1) AS [iTaxTypeRTSID]
			, CONVERT(BIT, [INI_SRC].[iAllowICSales] , 1) AS [iAllowICSales]
			, CONVERT(BIT, [INI_SRC].[iAllowICPurchases] , 1) AS [iAllowICPurchases]
			, CONVERT(INT, [INI_SRC].[iMBReportingCategoryID] , 1) AS [iMBReportingCategoryID]
			, CONVERT(INT, [INI_SRC].[iMBCashFlowCategoryID] , 1) AS [iMBCashFlowCategoryID]
			, CONVERT(BIT, [INI_SRC].[bMBIsAsset] , 1) AS [bMBIsAsset]
			, CONVERT(BIT, [INI_SRC].[bMBIsGrant] , 1) AS [bMBIsGrant]
			, CONVERT(INT, [INI_SRC].[iMBAssetClassificationID] , 1) AS [iMBAssetClassificationID]
			, CONVERT(INT, [INI_SRC].[iMBAssetCategoryID] , 1) AS [iMBAssetCategoryID]
			, CONVERT(INT, [INI_SRC].[iMBAssetTypeID] , 1) AS [iMBAssetTypeID]
			, CONVERT(INT, [INI_SRC].[iMBGrantLevel1TypeID] , 1) AS [iMBGrantLevel1TypeID]
			, CONVERT(INT, [INI_SRC].[iMBGrantLevel2TypeID] , 1) AS [iMBGrantLevel2TypeID]
			, CONVERT(INT, [INI_SRC].[iMBGrantLevel3TypeID] , 1) AS [iMBGrantLevel3TypeID]
			, CONVERT(BIT, [INI_SRC].[bIsBranchLoanAccount] , 1) AS [bIsBranchLoanAccount]
			, CONVERT(INT, [INI_SRC].[iForeignBankCurrencyID] , 1) AS [iForeignBankCurrencyID]
			, CONVERT(INT, [INI_SRC].[iForeignBankPEXAccID] , 1) AS [iForeignBankPEXAccID]
			, CONVERT(INT, [INI_SRC].[iForeignBankLEXAccID] , 1) AS [iForeignBankLEXAccID]
			, CONVERT(BIT, [INI_SRC].[bRevalueWithSellingRate] , 1) AS [bRevalueWithSellingRate]
			, CONVERT(BIT, [INI_SRC].[bPaymentsBasedTax] , 1) AS [bPaymentsBasedTax]
			, [INI_SRC].[cBankName]  AS [cBankName]
			, [INI_SRC].[cBankAccountName]  AS [cBankAccountName]
			, [INI_SRC].[cBankCode]  AS [cBankCode]
			, [INI_SRC].[cBankAccountNumber]  AS [cBankAccountNumber]
			, [INI_SRC].[cBranchName]  AS [cBranchName]
			, [INI_SRC].[cSEPABranchCode]  AS [cSEPABranchCode]
			, [INI_SRC].[cBankRefNr]  AS [cBankRefNr]
			, CONVERT(INT, [INI_SRC].[iAttributeGroupID] , 1) AS [iAttributeGroupID]
			, [INI_SRC].[xAttribute]  AS [xAttribute]
			, CONVERT(BIT, [INI_SRC].[bForeignBankAcc] , 1) AS [bForeignBankAcc]
			, CONVERT(INT, [INI_SRC].[Accounts_iBranchID] , 1) AS [Accounts_iBranchID]
			, CONVERT(DATETIME2, [INI_SRC].[Accounts_dCreatedDate] , 103) AS [Accounts_dCreatedDate]
			, CONVERT(DATETIME2, [INI_SRC].[Accounts_dModifiedDate] , 103) AS [Accounts_dModifiedDate]
			, CONVERT(INT, [INI_SRC].[Accounts_iCreatedBranchID] , 1) AS [Accounts_iCreatedBranchID]
			, CONVERT(INT, [INI_SRC].[Accounts_iModifiedBranchID] , 1) AS [Accounts_iModifiedBranchID]
			, CONVERT(INT, [INI_SRC].[Accounts_iCreatedAgentID] , 1) AS [Accounts_iCreatedAgentID]
			, CONVERT(INT, [INI_SRC].[Accounts_iModifiedAgentID] , 1) AS [Accounts_iModifiedAgentID]
			, CONVERT(INT, [INI_SRC].[Accounts_iChangeSetID] , 1) AS [Accounts_iChangeSetID]
			, CAST([INI_SRC].[Accounts_Checksum]  AS BINARY) AS [Accounts_Checksum]
			, [INI_SRC].[cBCloudBankAccountID]  AS [cBCloudBankAccountID]
		FROM [CSG_1_FOODS].[Accounts] [INI_SRC]
		INNER JOIN [dc].[EXECEPTION] [MEX_INR_SRC] ON  [MEX_INR_SRC].[DATATYPE] = '#'
		UNION 
		SELECT 
			  '+' AS [CHANGE_TYPE]
			, [MEX_EXT_SRC].[DATATYPE] AS [DATATYPE]
			, CONVERT(int, [MEX_EXT_SRC].[LOAD_CYCLE_ID] ) AS [LOAD_CYCLE_ID]
			, CONVERT(INT, [MEX_EXT_SRC].[KEY_ATTRIBUTE_INT] , 1) AS [AccountLink]
			, CONVERT(INT, [MEX_EXT_SRC].[KEY_ATTRIBUTE_INT] , 1) AS [iGLSegment0ID]
			, CONVERT(INT, [MEX_EXT_SRC].[KEY_ATTRIBUTE_INT] , 1) AS [iGLSegment1ID]
			, CONVERT(INT, [MEX_EXT_SRC].[KEY_ATTRIBUTE_INT] , 1) AS [iGLSegment2ID]
			, CONVERT(INT, [MEX_EXT_SRC].[KEY_ATTRIBUTE_INT] , 1) AS [iGLSegment3ID]
			, CONVERT(INT, [MEX_EXT_SRC].[KEY_ATTRIBUTE_INT] , 1) AS [iGLSegment4ID]
			, CONVERT(INT, [MEX_EXT_SRC].[KEY_ATTRIBUTE_INT] , 1) AS [iGLSegment5ID]
			, CONVERT(INT, [MEX_EXT_SRC].[KEY_ATTRIBUTE_INT] , 1) AS [iGLSegment6ID]
			, CONVERT(INT, [MEX_EXT_SRC].[KEY_ATTRIBUTE_INT] , 1) AS [iGLSegment7ID]
			, CONVERT(INT, [MEX_EXT_SRC].[KEY_ATTRIBUTE_INT] , 1) AS [iGLSegment8ID]
			, CONVERT(INT, [MEX_EXT_SRC].[KEY_ATTRIBUTE_INT] , 1) AS [iGLSegment9ID]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Master_Sub_Account]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [AccountLevel]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Account]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iAccountType]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [SubAccOfLink]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Dept]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Brch]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [Jr]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Description]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [CaseAcc]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [ActiveAccount]
			, CONVERT(DATETIME2, [MEX_EXT_SRC].[ATTRIBUTE_DATETIME2] , 103) AS [dAccountsTimeStamp]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cNextChequeNum]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iReportCategoryID]
			, CONVERT(FLOAT, [MEX_EXT_SRC].[ATTRIBUTE_FLOAT] , 1) AS [fBankStatementBalance]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cExtDescription]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iTaxTypeINVID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iTaxTypeCRNID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iTaxTypeGRVID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iTaxTypeRTSID]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [iAllowICSales]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [iAllowICPurchases]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iMBReportingCategoryID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iMBCashFlowCategoryID]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [bMBIsAsset]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [bMBIsGrant]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iMBAssetClassificationID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iMBAssetCategoryID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iMBAssetTypeID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iMBGrantLevel1TypeID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iMBGrantLevel2TypeID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iMBGrantLevel3TypeID]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [bIsBranchLoanAccount]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iForeignBankCurrencyID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iForeignBankPEXAccID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iForeignBankLEXAccID]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [bRevalueWithSellingRate]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [bPaymentsBasedTax]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cBankName]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cBankAccountName]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cBankCode]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cBankAccountNumber]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cBranchName]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cSEPABranchCode]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cBankRefNr]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iAttributeGroupID]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [xAttribute]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [bForeignBankAcc]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [Accounts_iBranchID]
			, CONVERT(DATETIME2, [MEX_EXT_SRC].[ATTRIBUTE_DATETIME2] , 103) AS [Accounts_dCreatedDate]
			, CONVERT(DATETIME2, [MEX_EXT_SRC].[ATTRIBUTE_DATETIME2] , 103) AS [Accounts_dModifiedDate]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [Accounts_iCreatedBranchID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [Accounts_iModifiedBranchID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [Accounts_iCreatedAgentID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [Accounts_iModifiedAgentID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [Accounts_iChangeSetID]
			, CAST([MEX_EXT_SRC].[ATTRIBUTE_BINARY]  AS BINARY) AS [Accounts_Checksum]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cBCloudBankAccountID]
		FROM [dc].[EXECEPTION] [MEX_EXT_SRC]
	)
	INSERT INTO [CSG_1_FOODS_ext].[Accounts](
		 [LOAD_CYCLE_ID]
		,[LOADDT]
		,[CHANGE_TYPE]
		,[DATATYPE]
		,[AccountLink]
		,[iGLSegment0ID]
		,[iGLSegment1ID]
		,[iGLSegment2ID]
		,[iGLSegment3ID]
		,[iGLSegment4ID]
		,[iGLSegment5ID]
		,[iGLSegment6ID]
		,[iGLSegment7ID]
		,[iGLSegment8ID]
		,[iGLSegment9ID]
		,[BK_AccountLink]
		,[Master_Sub_Account]
		,[AccountLevel]
		,[Account]
		,[iAccountType]
		,[SubAccOfLink]
		,[Dept]
		,[Brch]
		,[Jr]
		,[Description]
		,[CaseAcc]
		,[ActiveAccount]
		,[dAccountsTimeStamp]
		,[cNextChequeNum]
		,[iReportCategoryID]
		,[fBankStatementBalance]
		,[cExtDescription]
		,[iTaxTypeINVID]
		,[iTaxTypeCRNID]
		,[iTaxTypeGRVID]
		,[iTaxTypeRTSID]
		,[iAllowICSales]
		,[iAllowICPurchases]
		,[iMBReportingCategoryID]
		,[iMBCashFlowCategoryID]
		,[bMBIsAsset]
		,[bMBIsGrant]
		,[iMBAssetClassificationID]
		,[iMBAssetCategoryID]
		,[iMBAssetTypeID]
		,[iMBGrantLevel1TypeID]
		,[iMBGrantLevel2TypeID]
		,[iMBGrantLevel3TypeID]
		,[bIsBranchLoanAccount]
		,[iForeignBankCurrencyID]
		,[iForeignBankPEXAccID]
		,[iForeignBankLEXAccID]
		,[bRevalueWithSellingRate]
		,[bPaymentsBasedTax]
		,[cBankName]
		,[cBankAccountName]
		,[cBankCode]
		,[cBankAccountNumber]
		,[cBranchName]
		,[cSEPABranchCode]
		,[cBankRefNr]
		,[iAttributeGroupID]
		,[xAttribute]
		,[bForeignBankAcc]
		,[Accounts_iBranchID]
		,[Accounts_dCreatedDate]
		,[Accounts_dModifiedDate]
		,[Accounts_iCreatedBranchID]
		,[Accounts_iModifiedBranchID]
		,[Accounts_iCreatedAgentID]
		,[Accounts_iModifiedAgentID]
		,[Accounts_iChangeSetID]
		,[Accounts_Checksum]
		,[cBCloudBankAccountID]
	)
	SELECT
		  COALESCE([PREP_EXCEP].[LOAD_CYCLE_ID],[LCI_SRC].[LOAD_CYCLE_ID]) AS [LOAD_CYCLE_ID]
		, [LCI_SRC].[LOADDT] AS [LOADDT]
		, [PREP_EXCEP].[CHANGE_TYPE] AS [CHANGE_TYPE]
		, [PREP_EXCEP].[DATATYPE] AS [DATATYPE]
		, [PREP_EXCEP].[AccountLink] AS [AccountLink]
		, [PREP_EXCEP].[iGLSegment0ID] AS [iGLSegment0ID]
		, [PREP_EXCEP].[iGLSegment1ID] AS [iGLSegment1ID]
		, [PREP_EXCEP].[iGLSegment2ID] AS [iGLSegment2ID]
		, [PREP_EXCEP].[iGLSegment3ID] AS [iGLSegment3ID]
		, [PREP_EXCEP].[iGLSegment4ID] AS [iGLSegment4ID]
		, [PREP_EXCEP].[iGLSegment5ID] AS [iGLSegment5ID]
		, [PREP_EXCEP].[iGLSegment6ID] AS [iGLSegment6ID]
		, [PREP_EXCEP].[iGLSegment7ID] AS [iGLSegment7ID]
		, [PREP_EXCEP].[iGLSegment8ID] AS [iGLSegment8ID]
		, [PREP_EXCEP].[iGLSegment9ID] AS [iGLSegment9ID]
		, COALESCE(UPPER( CONVERT(VARCHAR, [PREP_EXCEP].[AccountLink] , 1)),[MEX_SRC].[KEY_ATTRIBUTE_INT]) AS [BK_AccountLink]
		, [PREP_EXCEP].[Master_Sub_Account] AS [Master_Sub_Account]
		, [PREP_EXCEP].[AccountLevel] AS [AccountLevel]
		, [PREP_EXCEP].[Account] AS [Account]
		, [PREP_EXCEP].[iAccountType] AS [iAccountType]
		, [PREP_EXCEP].[SubAccOfLink] AS [SubAccOfLink]
		, [PREP_EXCEP].[Dept] AS [Dept]
		, [PREP_EXCEP].[Brch] AS [Brch]
		, [PREP_EXCEP].[Jr] AS [Jr]
		, [PREP_EXCEP].[Description] AS [Description]
		, [PREP_EXCEP].[CaseAcc] AS [CaseAcc]
		, [PREP_EXCEP].[ActiveAccount] AS [ActiveAccount]
		, [PREP_EXCEP].[dAccountsTimeStamp] AS [dAccountsTimeStamp]
		, [PREP_EXCEP].[cNextChequeNum] AS [cNextChequeNum]
		, [PREP_EXCEP].[iReportCategoryID] AS [iReportCategoryID]
		, [PREP_EXCEP].[fBankStatementBalance] AS [fBankStatementBalance]
		, [PREP_EXCEP].[cExtDescription] AS [cExtDescription]
		, [PREP_EXCEP].[iTaxTypeINVID] AS [iTaxTypeINVID]
		, [PREP_EXCEP].[iTaxTypeCRNID] AS [iTaxTypeCRNID]
		, [PREP_EXCEP].[iTaxTypeGRVID] AS [iTaxTypeGRVID]
		, [PREP_EXCEP].[iTaxTypeRTSID] AS [iTaxTypeRTSID]
		, [PREP_EXCEP].[iAllowICSales] AS [iAllowICSales]
		, [PREP_EXCEP].[iAllowICPurchases] AS [iAllowICPurchases]
		, [PREP_EXCEP].[iMBReportingCategoryID] AS [iMBReportingCategoryID]
		, [PREP_EXCEP].[iMBCashFlowCategoryID] AS [iMBCashFlowCategoryID]
		, [PREP_EXCEP].[bMBIsAsset] AS [bMBIsAsset]
		, [PREP_EXCEP].[bMBIsGrant] AS [bMBIsGrant]
		, [PREP_EXCEP].[iMBAssetClassificationID] AS [iMBAssetClassificationID]
		, [PREP_EXCEP].[iMBAssetCategoryID] AS [iMBAssetCategoryID]
		, [PREP_EXCEP].[iMBAssetTypeID] AS [iMBAssetTypeID]
		, [PREP_EXCEP].[iMBGrantLevel1TypeID] AS [iMBGrantLevel1TypeID]
		, [PREP_EXCEP].[iMBGrantLevel2TypeID] AS [iMBGrantLevel2TypeID]
		, [PREP_EXCEP].[iMBGrantLevel3TypeID] AS [iMBGrantLevel3TypeID]
		, [PREP_EXCEP].[bIsBranchLoanAccount] AS [bIsBranchLoanAccount]
		, [PREP_EXCEP].[iForeignBankCurrencyID] AS [iForeignBankCurrencyID]
		, [PREP_EXCEP].[iForeignBankPEXAccID] AS [iForeignBankPEXAccID]
		, [PREP_EXCEP].[iForeignBankLEXAccID] AS [iForeignBankLEXAccID]
		, [PREP_EXCEP].[bRevalueWithSellingRate] AS [bRevalueWithSellingRate]
		, [PREP_EXCEP].[bPaymentsBasedTax] AS [bPaymentsBasedTax]
		, [PREP_EXCEP].[cBankName] AS [cBankName]
		, [PREP_EXCEP].[cBankAccountName] AS [cBankAccountName]
		, [PREP_EXCEP].[cBankCode] AS [cBankCode]
		, [PREP_EXCEP].[cBankAccountNumber] AS [cBankAccountNumber]
		, [PREP_EXCEP].[cBranchName] AS [cBranchName]
		, [PREP_EXCEP].[cSEPABranchCode] AS [cSEPABranchCode]
		, [PREP_EXCEP].[cBankRefNr] AS [cBankRefNr]
		, [PREP_EXCEP].[iAttributeGroupID] AS [iAttributeGroupID]
		, [PREP_EXCEP].[xAttribute] AS [xAttribute]
		, [PREP_EXCEP].[bForeignBankAcc] AS [bForeignBankAcc]
		, [PREP_EXCEP].[Accounts_iBranchID] AS [Accounts_iBranchID]
		, [PREP_EXCEP].[Accounts_dCreatedDate] AS [Accounts_dCreatedDate]
		, [PREP_EXCEP].[Accounts_dModifiedDate] AS [Accounts_dModifiedDate]
		, [PREP_EXCEP].[Accounts_iCreatedBranchID] AS [Accounts_iCreatedBranchID]
		, [PREP_EXCEP].[Accounts_iModifiedBranchID] AS [Accounts_iModifiedBranchID]
		, [PREP_EXCEP].[Accounts_iCreatedAgentID] AS [Accounts_iCreatedAgentID]
		, [PREP_EXCEP].[Accounts_iModifiedAgentID] AS [Accounts_iModifiedAgentID]
		, [PREP_EXCEP].[Accounts_iChangeSetID] AS [Accounts_iChangeSetID]
		, [PREP_EXCEP].[Accounts_Checksum] AS [Accounts_Checksum]
		, [PREP_EXCEP].[cBCloudBankAccountID] AS [cBCloudBankAccountID]
	FROM [PREP_EXCEP]
	INNER JOIN [dc].[LOAD_CYCLE_HIST] [LCI_SRC] ON  1 = 1
	INNER JOIN [dc].[EXECEPTION] [MEX_SRC] ON  1 = 1
	WHERE  [MEX_SRC].[DATATYPE] = '#'
	;
END;


END;

 
 


GO
