SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE PROCEDURE [SAGE200_EVO_PROC].EXT_CSG_1_FOODS_Vendor_INIT AS 
/*
    ___  ___  ______  |  
   / _ \/ _ \|  ____| |  agile    
  / / \ \/ \ \ |__    |  automation
 / /  /\ \  \ \ __|   |  factory   
/_/  /_/\_\  \_\      | 

Vaultspeed version: 4.1.16.6, generation date: 2020/09/22 13:12:11
DV_NAME: CSG_DV - Release: CSG_DV_V11(11) - Comment: CSG_DV_V11 - Release date: 2020/09/22 12:36:07, 
BV release: init(1) - Comment: initial release - Release date: 2020/09/22 10:44:25, 
SRC_NAME: CSG_1_FOODS - Release: CSG_1_FOODS(6) - Comment: Release 6.0 - Release date: 2020/09/22 12:10:29
 */


BEGIN 
BEGIN -- EXT_TGT

	TRUNCATE TABLE [CSG_1_FOODS_ext].[Vendor];

	WITH [PREP_EXCEP] AS 
	( 
		SELECT 
			  '+' AS [CHANGE_TYPE]
			, 'SRC' AS [DATATYPE]
			, NULL AS [LOAD_CYCLE_ID]
			, COALESCE( CONVERT(INT, REPLACE([INI_SRC].[DCLink],',','') , 1), CONVERT(INT,
				[MEX_INR_SRC].[KEY_ATTRIBUTE_INT] , 1)) AS [DCLink]
			, COALESCE( CONVERT(INT, REPLACE([INI_SRC].[iClassID],',','') , 1), CONVERT(INT,
				[MEX_INR_SRC].[KEY_ATTRIBUTE_INT] , 1)) AS [iClassID]
			, [INI_SRC].[Account]  AS [Account]
			, [INI_SRC].[Name]  AS [Name]
			, [INI_SRC].[Title]  AS [Title]
			, [INI_SRC].[Init]  AS [Init]
			, [INI_SRC].[Contact_Person]  AS [Contact_Person]
			, [INI_SRC].[Physical1]  AS [Physical1]
			, [INI_SRC].[Physical2]  AS [Physical2]
			, [INI_SRC].[Physical3]  AS [Physical3]
			, [INI_SRC].[Physical4]  AS [Physical4]
			, [INI_SRC].[Physical5]  AS [Physical5]
			, [INI_SRC].[PhysicalPC]  AS [PhysicalPC]
			, [INI_SRC].[Addressee]  AS [Addressee]
			, [INI_SRC].[Post1]  AS [Post1]
			, [INI_SRC].[Post2]  AS [Post2]
			, [INI_SRC].[Post3]  AS [Post3]
			, [INI_SRC].[Post4]  AS [Post4]
			, [INI_SRC].[Post5]  AS [Post5]
			, [INI_SRC].[PostPC]  AS [PostPC]
			, [INI_SRC].[Delivered_To]  AS [Delivered_To]
			, [INI_SRC].[Telephone]  AS [Telephone]
			, [INI_SRC].[Telephone2]  AS [Telephone2]
			, [INI_SRC].[Fax1]  AS [Fax1]
			, [INI_SRC].[Fax2]  AS [Fax2]
			, CONVERT(INT, [INI_SRC].[AccountTerms] , 1) AS [AccountTerms]
			, CONVERT(BIT, [INI_SRC].[CT] , 1) AS [CT]
			, [INI_SRC].[Tax_Number]  AS [Tax_Number]
			, [INI_SRC].[Registration]  AS [Registration]
			, CONVERT(FLOAT, [INI_SRC].[Credit_Limit] , 1) AS [Credit_Limit]
			, CONVERT(FLOAT, [INI_SRC].[Interest_Rate] , 1) AS [Interest_Rate]
			, CONVERT(FLOAT, [INI_SRC].[Discount] , 1) AS [Discount]
			, CONVERT(BIT, [INI_SRC].[On_Hold] , 1) AS [On_Hold]
			, CONVERT(INT, [INI_SRC].[BFOpenType] , 1) AS [BFOpenType]
			, [INI_SRC].[EMail]  AS [EMail]
			, CONVERT(INT, [INI_SRC].[BankLink] , 1) AS [BankLink]
			, [INI_SRC].[BranchCode]  AS [BranchCode]
			, [INI_SRC].[BankAccNum]  AS [BankAccNum]
			, [INI_SRC].[BankAccType]  AS [BankAccType]
			, CONVERT(FLOAT, [INI_SRC].[AutoDisc] , 1) AS [AutoDisc]
			, CONVERT(INT, [INI_SRC].[DiscMtrxRow] , 1) AS [DiscMtrxRow]
			, CONVERT(FLOAT, [INI_SRC].[DCBalance] , 1) AS [DCBalance]
			, CONVERT(BIT, [INI_SRC].[CheckTerms] , 1) AS [CheckTerms]
			, CONVERT(BIT, [INI_SRC].[UseEmail] , 1) AS [UseEmail]
			, CONVERT(INT, [INI_SRC].[iBusTypeID] , 1) AS [iBusTypeID]
			, CONVERT(INT, [INI_SRC].[iBusClassID] , 1) AS [iBusClassID]
			, CONVERT(INT, [INI_SRC].[iCountryID] , 1) AS [iCountryID]
			, [INI_SRC].[cAccDescription]  AS [cAccDescription]
			, [INI_SRC].[cWebPage]  AS [cWebPage]
			, CONVERT(DATETIME2, [INI_SRC].[dTimeStamp] , 103) AS [dTimeStamp]
			, CONVERT(INT, [INI_SRC].[iAreasID] , 1) AS [iAreasID]
			, [INI_SRC].[cBankRefNr]  AS [cBankRefNr]
			, CONVERT(INT, [INI_SRC].[iCurrencyID] , 1) AS [iCurrencyID]
			, CONVERT(BIT, [INI_SRC].[bStatPrint] , 1) AS [bStatPrint]
			, CONVERT(BIT, [INI_SRC].[bStatEmail] , 1) AS [bStatEmail]
			, [INI_SRC].[cStatEmailPass]  AS [cStatEmailPass]
			, CONVERT(BIT, [INI_SRC].[bForCurAcc] , 1) AS [bForCurAcc]
			, CONVERT(BIT, [INI_SRC].[bRemittanceChequeEFTS] , 1) AS [bRemittanceChequeEFTS]
			, CONVERT(FLOAT, [INI_SRC].[fForeignBalance] , 1) AS [fForeignBalance]
			, CONVERT(INT, [INI_SRC].[iSettlementTermsID] , 1) AS [iSettlementTermsID]
			, CONVERT(BIT, [INI_SRC].[bSourceDocPrint] , 1) AS [bSourceDocPrint]
			, CONVERT(BIT, [INI_SRC].[bSourceDocEmail] , 1) AS [bSourceDocEmail]
			, CONVERT(INT, [INI_SRC].[iEUCountryID] , 1) AS [iEUCountryID]
			, CONVERT(INT, [INI_SRC].[iDefTaxTypeID] , 1) AS [iDefTaxTypeID]
			, CONVERT(INT, [INI_SRC].[iAgeingTermID] , 1) AS [iAgeingTermID]
			, CONVERT(TINYINT, [INI_SRC].[iBankDetailType] , 1) AS [iBankDetailType]
			, [INI_SRC].[cBankAccHolder]  AS [cBankAccHolder]
			, [INI_SRC].[cIDNumber]  AS [cIDNumber]
			, [INI_SRC].[cPassportNumber]  AS [cPassportNumber]
			, [INI_SRC].[cBankCode]  AS [cBankCode]
			, [INI_SRC].[cSwiftCode]  AS [cSwiftCode]
			, CONVERT(INT, [INI_SRC].[iSPQueueID] , 1) AS [iSPQueueID]
			, CONVERT(INT, [INI_SRC].[iBankDetailID] , 1) AS [iBankDetailID]
			, CONVERT(INT, [INI_SRC].[Vendor_iBranchID] , 1) AS [Vendor_iBranchID]
			, CONVERT(DATETIME2, [INI_SRC].[Vendor_dCreatedDate] , 103) AS [Vendor_dCreatedDate]
			, CONVERT(DATETIME2, [INI_SRC].[Vendor_dModifiedDate] , 103) AS [Vendor_dModifiedDate]
			, CONVERT(INT, [INI_SRC].[Vendor_iCreatedBranchID] , 1) AS [Vendor_iCreatedBranchID]
			, CONVERT(INT, [INI_SRC].[Vendor_iModifiedBranchID] , 1) AS [Vendor_iModifiedBranchID]
			, CONVERT(INT, [INI_SRC].[Vendor_iCreatedAgentID] , 1) AS [Vendor_iCreatedAgentID]
			, CONVERT(INT, [INI_SRC].[Vendor_iModifiedAgentID] , 1) AS [Vendor_iModifiedAgentID]
			, CONVERT(INT, [INI_SRC].[Vendor_iChangeSetID] , 1) AS [Vendor_iChangeSetID]
			, CAST([INI_SRC].[Vendor_Checksum]  AS BINARY) AS [Vendor_Checksum]
			, CONVERT(BIT, [INI_SRC].[bTaxVerified] , 1) AS [bTaxVerified]
			, CONVERT(DATETIME2, [INI_SRC].[dDateTaxVerified] , 103) AS [dDateTaxVerified]
			, [INI_SRC].[cRMCDApprovalNumber]  AS [cRMCDApprovalNumber]
			, CONVERT(DATETIME2, [INI_SRC].[dRMCDApprovalDate] , 103) AS [dRMCDApprovalDate]
			, CONVERT(INT, [INI_SRC].[iTaxState] , 1) AS [iTaxState]
			, CONVERT(BIT, [INI_SRC].[bObjectToProcess] , 1) AS [bObjectToProcess]
		FROM [CSG_1_FOODS].[Vendor] [INI_SRC]
		INNER JOIN [dc].[EXECEPTION] [MEX_INR_SRC] ON  [MEX_INR_SRC].[DATATYPE] = '#'
		UNION 
		SELECT 
			  '+' AS [CHANGE_TYPE]
			, [MEX_EXT_SRC].[DATATYPE] AS [DATATYPE]
			, CONVERT(int, [MEX_EXT_SRC].[LOAD_CYCLE_ID] ) AS [LOAD_CYCLE_ID]
			, CONVERT(INT, [MEX_EXT_SRC].[KEY_ATTRIBUTE_INT] , 1) AS [DCLink]
			, CONVERT(INT, [MEX_EXT_SRC].[KEY_ATTRIBUTE_INT] , 1) AS [iClassID]
			, [MEX_EXT_SRC].[KEY_ATTRIBUTE_VARCHAR]  AS [Account]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Name]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Title]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Init]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Contact_Person]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Physical1]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Physical2]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Physical3]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Physical4]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Physical5]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [PhysicalPC]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Addressee]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Post1]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Post2]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Post3]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Post4]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Post5]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [PostPC]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Delivered_To]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Telephone]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Telephone2]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Fax1]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Fax2]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [AccountTerms]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [CT]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Tax_Number]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Registration]
			, CONVERT(FLOAT, [MEX_EXT_SRC].[ATTRIBUTE_FLOAT] , 1) AS [Credit_Limit]
			, CONVERT(FLOAT, [MEX_EXT_SRC].[ATTRIBUTE_FLOAT] , 1) AS [Interest_Rate]
			, CONVERT(FLOAT, [MEX_EXT_SRC].[ATTRIBUTE_FLOAT] , 1) AS [Discount]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [On_Hold]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [BFOpenType]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [EMail]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [BankLink]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [BranchCode]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [BankAccNum]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [BankAccType]
			, CONVERT(FLOAT, [MEX_EXT_SRC].[ATTRIBUTE_FLOAT] , 1) AS [AutoDisc]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [DiscMtrxRow]
			, CONVERT(FLOAT, [MEX_EXT_SRC].[ATTRIBUTE_FLOAT] , 1) AS [DCBalance]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [CheckTerms]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [UseEmail]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iBusTypeID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iBusClassID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iCountryID]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cAccDescription]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cWebPage]
			, CONVERT(DATETIME2, [MEX_EXT_SRC].[ATTRIBUTE_DATETIME2] , 103) AS [dTimeStamp]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iAreasID]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cBankRefNr]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iCurrencyID]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [bStatPrint]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [bStatEmail]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cStatEmailPass]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [bForCurAcc]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [bRemittanceChequeEFTS]
			, CONVERT(FLOAT, [MEX_EXT_SRC].[ATTRIBUTE_FLOAT] , 1) AS [fForeignBalance]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iSettlementTermsID]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [bSourceDocPrint]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [bSourceDocEmail]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iEUCountryID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iDefTaxTypeID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iAgeingTermID]
			, CONVERT(TINYINT, [MEX_EXT_SRC].[ATTRIBUTE_TINYINT] , 1) AS [iBankDetailType]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cBankAccHolder]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cIDNumber]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cPassportNumber]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cBankCode]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cSwiftCode]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iSPQueueID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iBankDetailID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [Vendor_iBranchID]
			, CONVERT(DATETIME2, [MEX_EXT_SRC].[ATTRIBUTE_DATETIME2] , 103) AS [Vendor_dCreatedDate]
			, CONVERT(DATETIME2, [MEX_EXT_SRC].[ATTRIBUTE_DATETIME2] , 103) AS [Vendor_dModifiedDate]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [Vendor_iCreatedBranchID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [Vendor_iModifiedBranchID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [Vendor_iCreatedAgentID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [Vendor_iModifiedAgentID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [Vendor_iChangeSetID]
			, CAST([MEX_EXT_SRC].[ATTRIBUTE_BINARY]  AS BINARY) AS [Vendor_Checksum]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [bTaxVerified]
			, CONVERT(DATETIME2, [MEX_EXT_SRC].[ATTRIBUTE_DATETIME2] , 103) AS [dDateTaxVerified]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cRMCDApprovalNumber]
			, CONVERT(DATETIME2, [MEX_EXT_SRC].[ATTRIBUTE_DATETIME2] , 103) AS [dRMCDApprovalDate]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iTaxState]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [bObjectToProcess]
		FROM [dc].[EXECEPTION] [MEX_EXT_SRC]
	)
	INSERT INTO [CSG_1_FOODS_ext].[Vendor](
		 [LOAD_CYCLE_ID]
		,[LOADDT]
		,[CHANGE_TYPE]
		,[DATATYPE]
		,[DCLink]
		,[iClassID]
		,[BK_Account]
		,[BK_DCLink]
		,[Account]
		,[Name]
		,[Title]
		,[Init]
		,[Contact_Person]
		,[Physical1]
		,[Physical2]
		,[Physical3]
		,[Physical4]
		,[Physical5]
		,[PhysicalPC]
		,[Addressee]
		,[Post1]
		,[Post2]
		,[Post3]
		,[Post4]
		,[Post5]
		,[PostPC]
		,[Delivered_To]
		,[Telephone]
		,[Telephone2]
		,[Fax1]
		,[Fax2]
		,[AccountTerms]
		,[CT]
		,[Tax_Number]
		,[Registration]
		,[Credit_Limit]
		,[Interest_Rate]
		,[Discount]
		,[On_Hold]
		,[BFOpenType]
		,[EMail]
		,[BankLink]
		,[BranchCode]
		,[BankAccNum]
		,[BankAccType]
		,[AutoDisc]
		,[DiscMtrxRow]
		,[DCBalance]
		,[CheckTerms]
		,[UseEmail]
		,[iBusTypeID]
		,[iBusClassID]
		,[iCountryID]
		,[cAccDescription]
		,[cWebPage]
		,[dTimeStamp]
		,[iAreasID]
		,[cBankRefNr]
		,[iCurrencyID]
		,[bStatPrint]
		,[bStatEmail]
		,[cStatEmailPass]
		,[bForCurAcc]
		,[bRemittanceChequeEFTS]
		,[fForeignBalance]
		,[iSettlementTermsID]
		,[bSourceDocPrint]
		,[bSourceDocEmail]
		,[iEUCountryID]
		,[iDefTaxTypeID]
		,[iAgeingTermID]
		,[iBankDetailType]
		,[cBankAccHolder]
		,[cIDNumber]
		,[cPassportNumber]
		,[cBankCode]
		,[cSwiftCode]
		,[iSPQueueID]
		,[iBankDetailID]
		,[Vendor_iBranchID]
		,[Vendor_dCreatedDate]
		,[Vendor_dModifiedDate]
		,[Vendor_iCreatedBranchID]
		,[Vendor_iModifiedBranchID]
		,[Vendor_iCreatedAgentID]
		,[Vendor_iModifiedAgentID]
		,[Vendor_iChangeSetID]
		,[Vendor_Checksum]
		,[bTaxVerified]
		,[dDateTaxVerified]
		,[cRMCDApprovalNumber]
		,[dRMCDApprovalDate]
		,[iTaxState]
		,[bObjectToProcess]
	)
	SELECT
		  COALESCE([PREP_EXCEP].[LOAD_CYCLE_ID],[LCI_SRC].[LOAD_CYCLE_ID]) AS [LOAD_CYCLE_ID]
		, [LCI_SRC].[LOADDT] AS [LOADDT]
		, [PREP_EXCEP].[CHANGE_TYPE] AS [CHANGE_TYPE]
		, [PREP_EXCEP].[DATATYPE] AS [DATATYPE]
		, [PREP_EXCEP].[DCLink] AS [DCLink]
		, [PREP_EXCEP].[iClassID] AS [iClassID]
		, COALESCE(UPPER(REPLACE([PREP_EXCEP].[Account],'|','\' + '|')),[MEX_SRC].[KEY_ATTRIBUTE_VARCHAR]) AS [BK_Account]
		, COALESCE(UPPER( CONVERT(VARCHAR, [PREP_EXCEP].[DCLink] , 1)),[MEX_SRC].[KEY_ATTRIBUTE_INT]) AS [BK_DCLink]
		, [PREP_EXCEP].[Account] AS [Account]
		, [PREP_EXCEP].[Name] AS [Name]
		, [PREP_EXCEP].[Title] AS [Title]
		, [PREP_EXCEP].[Init] AS [Init]
		, [PREP_EXCEP].[Contact_Person] AS [Contact_Person]
		, [PREP_EXCEP].[Physical1] AS [Physical1]
		, [PREP_EXCEP].[Physical2] AS [Physical2]
		, [PREP_EXCEP].[Physical3] AS [Physical3]
		, [PREP_EXCEP].[Physical4] AS [Physical4]
		, [PREP_EXCEP].[Physical5] AS [Physical5]
		, [PREP_EXCEP].[PhysicalPC] AS [PhysicalPC]
		, [PREP_EXCEP].[Addressee] AS [Addressee]
		, [PREP_EXCEP].[Post1] AS [Post1]
		, [PREP_EXCEP].[Post2] AS [Post2]
		, [PREP_EXCEP].[Post3] AS [Post3]
		, [PREP_EXCEP].[Post4] AS [Post4]
		, [PREP_EXCEP].[Post5] AS [Post5]
		, [PREP_EXCEP].[PostPC] AS [PostPC]
		, [PREP_EXCEP].[Delivered_To] AS [Delivered_To]
		, [PREP_EXCEP].[Telephone] AS [Telephone]
		, [PREP_EXCEP].[Telephone2] AS [Telephone2]
		, [PREP_EXCEP].[Fax1] AS [Fax1]
		, [PREP_EXCEP].[Fax2] AS [Fax2]
		, [PREP_EXCEP].[AccountTerms] AS [AccountTerms]
		, [PREP_EXCEP].[CT] AS [CT]
		, [PREP_EXCEP].[Tax_Number] AS [Tax_Number]
		, [PREP_EXCEP].[Registration] AS [Registration]
		, [PREP_EXCEP].[Credit_Limit] AS [Credit_Limit]
		, [PREP_EXCEP].[Interest_Rate] AS [Interest_Rate]
		, [PREP_EXCEP].[Discount] AS [Discount]
		, [PREP_EXCEP].[On_Hold] AS [On_Hold]
		, [PREP_EXCEP].[BFOpenType] AS [BFOpenType]
		, [PREP_EXCEP].[EMail] AS [EMail]
		, [PREP_EXCEP].[BankLink] AS [BankLink]
		, [PREP_EXCEP].[BranchCode] AS [BranchCode]
		, [PREP_EXCEP].[BankAccNum] AS [BankAccNum]
		, [PREP_EXCEP].[BankAccType] AS [BankAccType]
		, [PREP_EXCEP].[AutoDisc] AS [AutoDisc]
		, [PREP_EXCEP].[DiscMtrxRow] AS [DiscMtrxRow]
		, [PREP_EXCEP].[DCBalance] AS [DCBalance]
		, [PREP_EXCEP].[CheckTerms] AS [CheckTerms]
		, [PREP_EXCEP].[UseEmail] AS [UseEmail]
		, [PREP_EXCEP].[iBusTypeID] AS [iBusTypeID]
		, [PREP_EXCEP].[iBusClassID] AS [iBusClassID]
		, [PREP_EXCEP].[iCountryID] AS [iCountryID]
		, [PREP_EXCEP].[cAccDescription] AS [cAccDescription]
		, [PREP_EXCEP].[cWebPage] AS [cWebPage]
		, [PREP_EXCEP].[dTimeStamp] AS [dTimeStamp]
		, [PREP_EXCEP].[iAreasID] AS [iAreasID]
		, [PREP_EXCEP].[cBankRefNr] AS [cBankRefNr]
		, [PREP_EXCEP].[iCurrencyID] AS [iCurrencyID]
		, [PREP_EXCEP].[bStatPrint] AS [bStatPrint]
		, [PREP_EXCEP].[bStatEmail] AS [bStatEmail]
		, [PREP_EXCEP].[cStatEmailPass] AS [cStatEmailPass]
		, [PREP_EXCEP].[bForCurAcc] AS [bForCurAcc]
		, [PREP_EXCEP].[bRemittanceChequeEFTS] AS [bRemittanceChequeEFTS]
		, [PREP_EXCEP].[fForeignBalance] AS [fForeignBalance]
		, [PREP_EXCEP].[iSettlementTermsID] AS [iSettlementTermsID]
		, [PREP_EXCEP].[bSourceDocPrint] AS [bSourceDocPrint]
		, [PREP_EXCEP].[bSourceDocEmail] AS [bSourceDocEmail]
		, [PREP_EXCEP].[iEUCountryID] AS [iEUCountryID]
		, [PREP_EXCEP].[iDefTaxTypeID] AS [iDefTaxTypeID]
		, [PREP_EXCEP].[iAgeingTermID] AS [iAgeingTermID]
		, [PREP_EXCEP].[iBankDetailType] AS [iBankDetailType]
		, [PREP_EXCEP].[cBankAccHolder] AS [cBankAccHolder]
		, [PREP_EXCEP].[cIDNumber] AS [cIDNumber]
		, [PREP_EXCEP].[cPassportNumber] AS [cPassportNumber]
		, [PREP_EXCEP].[cBankCode] AS [cBankCode]
		, [PREP_EXCEP].[cSwiftCode] AS [cSwiftCode]
		, [PREP_EXCEP].[iSPQueueID] AS [iSPQueueID]
		, [PREP_EXCEP].[iBankDetailID] AS [iBankDetailID]
		, [PREP_EXCEP].[Vendor_iBranchID] AS [Vendor_iBranchID]
		, [PREP_EXCEP].[Vendor_dCreatedDate] AS [Vendor_dCreatedDate]
		, [PREP_EXCEP].[Vendor_dModifiedDate] AS [Vendor_dModifiedDate]
		, [PREP_EXCEP].[Vendor_iCreatedBranchID] AS [Vendor_iCreatedBranchID]
		, [PREP_EXCEP].[Vendor_iModifiedBranchID] AS [Vendor_iModifiedBranchID]
		, [PREP_EXCEP].[Vendor_iCreatedAgentID] AS [Vendor_iCreatedAgentID]
		, [PREP_EXCEP].[Vendor_iModifiedAgentID] AS [Vendor_iModifiedAgentID]
		, [PREP_EXCEP].[Vendor_iChangeSetID] AS [Vendor_iChangeSetID]
		, [PREP_EXCEP].[Vendor_Checksum] AS [Vendor_Checksum]
		, [PREP_EXCEP].[bTaxVerified] AS [bTaxVerified]
		, [PREP_EXCEP].[dDateTaxVerified] AS [dDateTaxVerified]
		, [PREP_EXCEP].[cRMCDApprovalNumber] AS [cRMCDApprovalNumber]
		, [PREP_EXCEP].[dRMCDApprovalDate] AS [dRMCDApprovalDate]
		, [PREP_EXCEP].[iTaxState] AS [iTaxState]
		, [PREP_EXCEP].[bObjectToProcess] AS [bObjectToProcess]
	FROM [PREP_EXCEP]
	INNER JOIN [dc].[LOAD_CYCLE_HIST] [LCI_SRC] ON  1 = 1
	INNER JOIN [dc].[EXECEPTION] [MEX_SRC] ON  1 = 1
	WHERE  [MEX_SRC].[DATATYPE] = '#'
	;
END;


END;

 
 


GO
