SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE PROCEDURE [SAGE200_EVO_PROC].[SRC_CSG_1_FOODS_PostGL_TDFT_INCR] AS 
/*
    ___  ___  ______  |  
   / _ \/ _ \|  ____| |  agile    
  / / \ \/ \ \ |__    |  automation
 / /  /\ \  \ \ __|   |  factory   
/_/  /_/\_\  \_\      | 

Vaultspeed version: 4.1.16.6, generation date: 2020/09/22 13:12:11
DV_NAME: CSG_DV - Release: CSG_DV_V11(11) - Comment: CSG_DV_V11 - Release date: 2020/09/22 12:36:07, 
BV release: init(1) - Comment: initial release - Release date: 2020/09/22 10:44:25, 
SRC_NAME: CSG_1_FOODS - Release: CSG_1_FOODS(6) - Comment: Release 6.0 - Release date: 2020/09/22 12:10:29
 */


BEGIN 
BEGIN -- TDFT_TGT

	TRUNCATE TABLE [dv_CSG_1_FOODS].[PostGL];

	WITH [DELTA_VIEW] AS 
	( 
		SELECT 
			  CAST('SRC'  AS VARCHAR) AS [DATATYPE]
			, [CDC_SRC].[AutoIdx] AS [AutoIdx]
			, [CDC_SRC].[AccountLink] AS [AccountLink]
			, [CDC_SRC].[Project] AS [Project]
			, [CDC_SRC].[Period] AS [Period]
			, [CDC_SRC].[Description] AS [Description]
			, [CDC_SRC].[Reference] AS [Reference]
			, [CDC_SRC].[cReference2] AS [cReference2]
			, [CDC_SRC].[TxDate] AS [TxDate]
			, [CDC_SRC].[Id] AS [Id]
			, [CDC_SRC].[TrCodeID] AS [TrCodeID]
			, [CDC_SRC].[Debit] AS [Debit]
			, [CDC_SRC].[Credit] AS [Credit]
			, [CDC_SRC].[iCurrencyID] AS [iCurrencyID]
			, [CDC_SRC].[fExchangeRate] AS [fExchangeRate]
			, [CDC_SRC].[fForeignDebit] AS [fForeignDebit]
			, [CDC_SRC].[fForeignCredit] AS [fForeignCredit]
			, [CDC_SRC].[TaxTypeID] AS [TaxTypeID]
			, [CDC_SRC].[Order_No] AS [Order_No]
			, [CDC_SRC].[ExtOrderNum] AS [ExtOrderNum]
			, [CDC_SRC].[cAuditNumber] AS [cAuditNumber]
			, [CDC_SRC].[Tax_Amount] AS [Tax_Amount]
			, [CDC_SRC].[fForeignTax] AS [fForeignTax]
			, [CDC_SRC].[DrCrAccount] AS [DrCrAccount]
			, [CDC_SRC].[JobCodeLink] AS [JobCodeLink]
			, [CDC_SRC].[CRCCheck] AS [CRCCheck]
			, [CDC_SRC].[DTStamp] AS [DTStamp]
			, [CDC_SRC].[UserName] AS [UserName]
			, [CDC_SRC].[iTaxPeriodID] AS [iTaxPeriodID]
			, [CDC_SRC].[cPayeeName] AS [cPayeeName]
			, [CDC_SRC].[bPrintCheque] AS [bPrintCheque]
			, [CDC_SRC].[RepID] AS [RepID]
			, [CDC_SRC].[fJCRepCost] AS [fJCRepCost]
			, [CDC_SRC].[iMFPID] AS [iMFPID]
			, [CDC_SRC].[bIsJCDocLine] AS [bIsJCDocLine]
			, [CDC_SRC].[bIsSTGLDocLine] AS [bIsSTGLDocLine]
			, [CDC_SRC].[iInvLineID] AS [iInvLineID]
			, [CDC_SRC].[iTxBranchID] AS [iTxBranchID]
			, [CDC_SRC].[cBankRef] AS [cBankRef]
			, [CDC_SRC].[bPBTPaid] AS [bPBTPaid]
			, [CDC_SRC].[iGLTaxAccountID] AS [iGLTaxAccountID]
			, [CDC_SRC].[bReconciled] AS [bReconciled]
			, [CDC_SRC].[xAttribute] AS [xAttribute]
			, [CDC_SRC].[PostGL_iBranchID] AS [PostGL_iBranchID]
			, [CDC_SRC].[PostGL_dCreatedDate] AS [PostGL_dCreatedDate]
			, [CDC_SRC].[PostGL_dModifiedDate] AS [PostGL_dModifiedDate]
			, [CDC_SRC].[PostGL_iCreatedBranchID] AS [PostGL_iCreatedBranchID]
			, [CDC_SRC].[PostGL_iModifiedBranchID] AS [PostGL_iModifiedBranchID]
			, [CDC_SRC].[PostGL_iCreatedAgentID] AS [PostGL_iCreatedAgentID]
			, [CDC_SRC].[PostGL_iModifiedAgentID] AS [PostGL_iModifiedAgentID]
			, [CDC_SRC].[PostGL_iChangeSetID] AS [PostGL_iChangeSetID]
			, [CDC_SRC].[PostGL_Checksum] AS [PostGL_Checksum]
			, [CDC_SRC].[iMajorIndustryCodeID] AS [iMajorIndustryCodeID]
			, [CDC_SRC].[iImportDeclarationID] AS [iImportDeclarationID]
		FROM [CSG_1_FOODS].[PostGL] [CDC_SRC]
	)
	, [PREPJOINBK] AS 
	( 
		SELECT
			  [DELTA_VIEW].[DATATYPE] AS [DATATYPE]
			, COALESCE(REPLACE([DELTA_VIEW].[AutoIdx],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_BIGINT]) AS [AutoIdx]
			, COALESCE(REPLACE([DELTA_VIEW].[AccountLink],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_INT]) AS [AccountLink]
			, COALESCE(REPLACE([DELTA_VIEW].[Project],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_INT]) AS [Project]
			, COALESCE(REPLACE([DELTA_VIEW].[Period],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_INT]) AS [Period]
			, [DELTA_VIEW].[Description] AS [Description]
			, [DELTA_VIEW].[Reference] AS [Reference]
			, [DELTA_VIEW].[cReference2] AS [cReference2]
			, [DELTA_VIEW].[TxDate] AS [TxDate]
			, [DELTA_VIEW].[Id] AS [Id]
			, REPLACE([DELTA_VIEW].[TrCodeID],',','') AS [TrCodeID]
			, REPLACE([DELTA_VIEW].[Debit],',','') AS [Debit]
			, REPLACE([DELTA_VIEW].[Credit],',','') AS [Credit]
			, REPLACE([DELTA_VIEW].[iCurrencyID],',','') AS [iCurrencyID]
			, REPLACE([DELTA_VIEW].[fExchangeRate],',','') AS [fExchangeRate]
			, REPLACE([DELTA_VIEW].[fForeignDebit],',','') AS [fForeignDebit]
			, REPLACE([DELTA_VIEW].[fForeignCredit],',','') AS [fForeignCredit]
			, REPLACE([DELTA_VIEW].[TaxTypeID],',','') AS [TaxTypeID]
			, [DELTA_VIEW].[Order_No] AS [Order_No]
			, [DELTA_VIEW].[ExtOrderNum] AS [ExtOrderNum]
			, [DELTA_VIEW].[cAuditNumber] AS [cAuditNumber]
			, REPLACE([DELTA_VIEW].[Tax_Amount],',','') AS [Tax_Amount]
			, REPLACE([DELTA_VIEW].[fForeignTax],',','') AS [fForeignTax]
			, REPLACE([DELTA_VIEW].[DrCrAccount],',','') AS [DrCrAccount]
			, REPLACE([DELTA_VIEW].[JobCodeLink],',','') AS [JobCodeLink]
			, REPLACE([DELTA_VIEW].[CRCCheck],',','') AS [CRCCheck]
			, [DELTA_VIEW].[DTStamp] AS [DTStamp]
			, [DELTA_VIEW].[UserName] AS [UserName]
			, REPLACE([DELTA_VIEW].[iTaxPeriodID],',','') AS [iTaxPeriodID]
			, [DELTA_VIEW].[cPayeeName] AS [cPayeeName]
			, REPLACE([DELTA_VIEW].[bPrintCheque],',','') AS [bPrintCheque]
			, REPLACE([DELTA_VIEW].[RepID],',','') AS [RepID]
			, REPLACE([DELTA_VIEW].[fJCRepCost],',','') AS [fJCRepCost]
			, REPLACE([DELTA_VIEW].[iMFPID],',','') AS [iMFPID]
			, REPLACE([DELTA_VIEW].[bIsJCDocLine],',','') AS [bIsJCDocLine]
			, REPLACE([DELTA_VIEW].[bIsSTGLDocLine],',','') AS [bIsSTGLDocLine]
			, REPLACE([DELTA_VIEW].[iInvLineID],',','') AS [iInvLineID]
			, REPLACE([DELTA_VIEW].[iTxBranchID],',','') AS [iTxBranchID]
			, [DELTA_VIEW].[cBankRef] AS [cBankRef]
			, REPLACE([DELTA_VIEW].[bPBTPaid],',','') AS [bPBTPaid]
			, REPLACE([DELTA_VIEW].[iGLTaxAccountID],',','') AS [iGLTaxAccountID]
			, REPLACE([DELTA_VIEW].[bReconciled],',','') AS [bReconciled]
			, [DELTA_VIEW].[xAttribute] AS [xAttribute]
			, REPLACE([DELTA_VIEW].[PostGL_iBranchID],',','') AS [PostGL_iBranchID]
			, [DELTA_VIEW].[PostGL_dCreatedDate] AS [PostGL_dCreatedDate]
			, [DELTA_VIEW].[PostGL_dModifiedDate] AS [PostGL_dModifiedDate]
			, REPLACE([DELTA_VIEW].[PostGL_iCreatedBranchID],',','') AS [PostGL_iCreatedBranchID]
			, REPLACE([DELTA_VIEW].[PostGL_iModifiedBranchID],',','') AS [PostGL_iModifiedBranchID]
			, REPLACE([DELTA_VIEW].[PostGL_iCreatedAgentID],',','') AS [PostGL_iCreatedAgentID]
			, REPLACE([DELTA_VIEW].[PostGL_iModifiedAgentID],',','') AS [PostGL_iModifiedAgentID]
			, REPLACE([DELTA_VIEW].[PostGL_iChangeSetID],',','') AS [PostGL_iChangeSetID]
			, [DELTA_VIEW].[PostGL_Checksum] AS [PostGL_Checksum]
			, REPLACE([DELTA_VIEW].[iMajorIndustryCodeID],',','') AS [iMajorIndustryCodeID]
			, REPLACE([DELTA_VIEW].[iImportDeclarationID],',','') AS [iImportDeclarationID]
		FROM [DELTA_VIEW]
		INNER JOIN [dc].[EXECEPTION] [MEX_BK_SRC] ON  1 = 1
		WHERE  [MEX_BK_SRC].[DATATYPE] = '#'
	)
	INSERT INTO [dv_CSG_1_FOODS].[PostGL](
		 [DATATYPE]
		,[AutoIdx]
		,[AccountLink]
		,[Project]
		,[Period]
		,[Description]
		,[Reference]
		,[cReference2]
		,[TxDate]
		,[Id]
		,[TrCodeID]
		,[Debit]
		,[Credit]
		,[iCurrencyID]
		,[fExchangeRate]
		,[fForeignDebit]
		,[fForeignCredit]
		,[TaxTypeID]
		,[Order_No]
		,[ExtOrderNum]
		,[cAuditNumber]
		,[Tax_Amount]
		,[fForeignTax]
		,[DrCrAccount]
		,[JobCodeLink]
		,[CRCCheck]
		,[DTStamp]
		,[UserName]
		,[iTaxPeriodID]
		,[cPayeeName]
		,[bPrintCheque]
		,[RepID]
		,[fJCRepCost]
		,[iMFPID]
		,[bIsJCDocLine]
		,[bIsSTGLDocLine]
		,[iInvLineID]
		,[iTxBranchID]
		,[cBankRef]
		,[bPBTPaid]
		,[iGLTaxAccountID]
		,[bReconciled]
		,[xAttribute]
		,[PostGL_iBranchID]
		,[PostGL_dCreatedDate]
		,[PostGL_dModifiedDate]
		,[PostGL_iCreatedBranchID]
		,[PostGL_iModifiedBranchID]
		,[PostGL_iCreatedAgentID]
		,[PostGL_iModifiedAgentID]
		,[PostGL_iChangeSetID]
		,[PostGL_Checksum]
		,[iMajorIndustryCodeID]
		,[iImportDeclarationID]
	)
	SELECT
		  [PREPJOINBK].[DATATYPE] AS [DATATYPE]
		, [PREPJOINBK].[AutoIdx] AS [AutoIdx]
		, [PREPJOINBK].[AccountLink] AS [AccountLink]
		, [PREPJOINBK].[Project] AS [Project]
		, [PREPJOINBK].[Period] AS [Period]
		, [PREPJOINBK].[Description] AS [Description]
		, [PREPJOINBK].[Reference] AS [Reference]
		, [PREPJOINBK].[cReference2] AS [cReference2]
		, [PREPJOINBK].[TxDate] AS [TxDate]
		, [PREPJOINBK].[Id] AS [Id]
		, [PREPJOINBK].[TrCodeID] AS [TrCodeID]
		, [PREPJOINBK].[Debit] AS [Debit]
		, [PREPJOINBK].[Credit] AS [Credit]
		, [PREPJOINBK].[iCurrencyID] AS [iCurrencyID]
		, [PREPJOINBK].[fExchangeRate] AS [fExchangeRate]
		, [PREPJOINBK].[fForeignDebit] AS [fForeignDebit]
		, [PREPJOINBK].[fForeignCredit] AS [fForeignCredit]
		, [PREPJOINBK].[TaxTypeID] AS [TaxTypeID]
		, [PREPJOINBK].[Order_No] AS [Order_No]
		, [PREPJOINBK].[ExtOrderNum] AS [ExtOrderNum]
		, [PREPJOINBK].[cAuditNumber] AS [cAuditNumber]
		, [PREPJOINBK].[Tax_Amount] AS [Tax_Amount]
		, [PREPJOINBK].[fForeignTax] AS [fForeignTax]
		, [PREPJOINBK].[DrCrAccount] AS [DrCrAccount]
		, [PREPJOINBK].[JobCodeLink] AS [JobCodeLink]
		, [PREPJOINBK].[CRCCheck] AS [CRCCheck]
		, [PREPJOINBK].[DTStamp] AS [DTStamp]
		, [PREPJOINBK].[UserName] AS [UserName]
		, [PREPJOINBK].[iTaxPeriodID] AS [iTaxPeriodID]
		, [PREPJOINBK].[cPayeeName] AS [cPayeeName]
		, [PREPJOINBK].[bPrintCheque] AS [bPrintCheque]
		, [PREPJOINBK].[RepID] AS [RepID]
		, [PREPJOINBK].[fJCRepCost] AS [fJCRepCost]
		, [PREPJOINBK].[iMFPID] AS [iMFPID]
		, [PREPJOINBK].[bIsJCDocLine] AS [bIsJCDocLine]
		, [PREPJOINBK].[bIsSTGLDocLine] AS [bIsSTGLDocLine]
		, [PREPJOINBK].[iInvLineID] AS [iInvLineID]
		, [PREPJOINBK].[iTxBranchID] AS [iTxBranchID]
		, [PREPJOINBK].[cBankRef] AS [cBankRef]
		, [PREPJOINBK].[bPBTPaid] AS [bPBTPaid]
		, [PREPJOINBK].[iGLTaxAccountID] AS [iGLTaxAccountID]
		, [PREPJOINBK].[bReconciled] AS [bReconciled]
		, [PREPJOINBK].[xAttribute] AS [xAttribute]
		, [PREPJOINBK].[PostGL_iBranchID] AS [PostGL_iBranchID]
		, [PREPJOINBK].[PostGL_dCreatedDate] AS [PostGL_dCreatedDate]
		, [PREPJOINBK].[PostGL_dModifiedDate] AS [PostGL_dModifiedDate]
		, [PREPJOINBK].[PostGL_iCreatedBranchID] AS [PostGL_iCreatedBranchID]
		, [PREPJOINBK].[PostGL_iModifiedBranchID] AS [PostGL_iModifiedBranchID]
		, [PREPJOINBK].[PostGL_iCreatedAgentID] AS [PostGL_iCreatedAgentID]
		, [PREPJOINBK].[PostGL_iModifiedAgentID] AS [PostGL_iModifiedAgentID]
		, [PREPJOINBK].[PostGL_iChangeSetID] AS [PostGL_iChangeSetID]
		, [PREPJOINBK].[PostGL_Checksum] AS [PostGL_Checksum]
		, [PREPJOINBK].[iMajorIndustryCodeID] AS [iMajorIndustryCodeID]
		, [PREPJOINBK].[iImportDeclarationID] AS [iImportDeclarationID]
	FROM [PREPJOINBK]
	INNER JOIN [dc].[LOAD_CYCLE_HIST] [LCI_SRC] ON  1 = 1
	LEFT OUTER JOIN [raw].[SAT_CSG_1_FOODS_GLTransaction] [SAT_SRC1] ON  CONVERT(BIGINT, [PREPJOINBK].[AutoIdx] , 1) = [SAT_SRC1].[AutoIdx] AND [SAT_SRC1].[LOAD_CYCLE_ID] =
		[LCI_SRC].[LOAD_CYCLE_ID]
	WHERE  [SAT_SRC1].[HK_GLTransaction] IS NULL
	;
END;


END;

 
 


GO
