SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE PROCEDURE [SAGE200_EVO_PROC].[SRC_CSG_1_FOODS_Accounts_TDFT_INCR] AS 
/*
    ___  ___  ______  |  
   / _ \/ _ \|  ____| |  agile    
  / / \ \/ \ \ |__    |  automation
 / /  /\ \  \ \ __|   |  factory   
/_/  /_/\_\  \_\      | 

Vaultspeed version: 4.1.16.6, generation date: 2020/09/22 13:12:11
DV_NAME: CSG_DV - Release: CSG_DV_V11(11) - Comment: CSG_DV_V11 - Release date: 2020/09/22 12:36:07, 
BV release: init(1) - Comment: initial release - Release date: 2020/09/22 10:44:25, 
SRC_NAME: CSG_1_FOODS - Release: CSG_1_FOODS(6) - Comment: Release 6.0 - Release date: 2020/09/22 12:10:29
 */


BEGIN 
BEGIN -- TDFT_TGT

	TRUNCATE TABLE [dv_CSG_1_FOODS].[Accounts];

	WITH [DELTA_VIEW] AS 
	( 
		SELECT 
			  CAST('SRC'  AS VARCHAR) AS [DATATYPE]
			, [CDC_SRC].[AccountLink] AS [AccountLink]
			, [CDC_SRC].[iGLSegment0ID] AS [iGLSegment0ID]
			, [CDC_SRC].[iGLSegment1ID] AS [iGLSegment1ID]
			, [CDC_SRC].[iGLSegment2ID] AS [iGLSegment2ID]
			, [CDC_SRC].[iGLSegment3ID] AS [iGLSegment3ID]
			, [CDC_SRC].[iGLSegment4ID] AS [iGLSegment4ID]
			, [CDC_SRC].[iGLSegment5ID] AS [iGLSegment5ID]
			, [CDC_SRC].[iGLSegment6ID] AS [iGLSegment6ID]
			, [CDC_SRC].[iGLSegment7ID] AS [iGLSegment7ID]
			, [CDC_SRC].[iGLSegment8ID] AS [iGLSegment8ID]
			, [CDC_SRC].[iGLSegment9ID] AS [iGLSegment9ID]
			, [CDC_SRC].[Master_Sub_Account] AS [Master_Sub_Account]
			, [CDC_SRC].[AccountLevel] AS [AccountLevel]
			, [CDC_SRC].[Account] AS [Account]
			, [CDC_SRC].[iAccountType] AS [iAccountType]
			, [CDC_SRC].[SubAccOfLink] AS [SubAccOfLink]
			, [CDC_SRC].[Dept] AS [Dept]
			, [CDC_SRC].[Brch] AS [Brch]
			, [CDC_SRC].[Jr] AS [Jr]
			, [CDC_SRC].[Description] AS [Description]
			, [CDC_SRC].[CaseAcc] AS [CaseAcc]
			, [CDC_SRC].[ActiveAccount] AS [ActiveAccount]
			, [CDC_SRC].[dAccountsTimeStamp] AS [dAccountsTimeStamp]
			, [CDC_SRC].[cNextChequeNum] AS [cNextChequeNum]
			, [CDC_SRC].[iReportCategoryID] AS [iReportCategoryID]
			, [CDC_SRC].[fBankStatementBalance] AS [fBankStatementBalance]
			, [CDC_SRC].[cExtDescription] AS [cExtDescription]
			, [CDC_SRC].[iTaxTypeINVID] AS [iTaxTypeINVID]
			, [CDC_SRC].[iTaxTypeCRNID] AS [iTaxTypeCRNID]
			, [CDC_SRC].[iTaxTypeGRVID] AS [iTaxTypeGRVID]
			, [CDC_SRC].[iTaxTypeRTSID] AS [iTaxTypeRTSID]
			, [CDC_SRC].[iAllowICSales] AS [iAllowICSales]
			, [CDC_SRC].[iAllowICPurchases] AS [iAllowICPurchases]
			, [CDC_SRC].[iMBReportingCategoryID] AS [iMBReportingCategoryID]
			, [CDC_SRC].[iMBCashFlowCategoryID] AS [iMBCashFlowCategoryID]
			, [CDC_SRC].[bMBIsAsset] AS [bMBIsAsset]
			, [CDC_SRC].[bMBIsGrant] AS [bMBIsGrant]
			, [CDC_SRC].[iMBAssetClassificationID] AS [iMBAssetClassificationID]
			, [CDC_SRC].[iMBAssetCategoryID] AS [iMBAssetCategoryID]
			, [CDC_SRC].[iMBAssetTypeID] AS [iMBAssetTypeID]
			, [CDC_SRC].[iMBGrantLevel1TypeID] AS [iMBGrantLevel1TypeID]
			, [CDC_SRC].[iMBGrantLevel2TypeID] AS [iMBGrantLevel2TypeID]
			, [CDC_SRC].[iMBGrantLevel3TypeID] AS [iMBGrantLevel3TypeID]
			, [CDC_SRC].[bIsBranchLoanAccount] AS [bIsBranchLoanAccount]
			, [CDC_SRC].[iForeignBankCurrencyID] AS [iForeignBankCurrencyID]
			, [CDC_SRC].[iForeignBankPEXAccID] AS [iForeignBankPEXAccID]
			, [CDC_SRC].[iForeignBankLEXAccID] AS [iForeignBankLEXAccID]
			, [CDC_SRC].[bRevalueWithSellingRate] AS [bRevalueWithSellingRate]
			, [CDC_SRC].[bPaymentsBasedTax] AS [bPaymentsBasedTax]
			, [CDC_SRC].[cBankName] AS [cBankName]
			, [CDC_SRC].[cBankAccountName] AS [cBankAccountName]
			, [CDC_SRC].[cBankCode] AS [cBankCode]
			, [CDC_SRC].[cBankAccountNumber] AS [cBankAccountNumber]
			, [CDC_SRC].[cBranchName] AS [cBranchName]
			, [CDC_SRC].[cSEPABranchCode] AS [cSEPABranchCode]
			, [CDC_SRC].[cBankRefNr] AS [cBankRefNr]
			, [CDC_SRC].[iAttributeGroupID] AS [iAttributeGroupID]
			, [CDC_SRC].[xAttribute] AS [xAttribute]
			, [CDC_SRC].[bForeignBankAcc] AS [bForeignBankAcc]
			, [CDC_SRC].[Accounts_iBranchID] AS [Accounts_iBranchID]
			, [CDC_SRC].[Accounts_dCreatedDate] AS [Accounts_dCreatedDate]
			, [CDC_SRC].[Accounts_dModifiedDate] AS [Accounts_dModifiedDate]
			, [CDC_SRC].[Accounts_iCreatedBranchID] AS [Accounts_iCreatedBranchID]
			, [CDC_SRC].[Accounts_iModifiedBranchID] AS [Accounts_iModifiedBranchID]
			, [CDC_SRC].[Accounts_iCreatedAgentID] AS [Accounts_iCreatedAgentID]
			, [CDC_SRC].[Accounts_iModifiedAgentID] AS [Accounts_iModifiedAgentID]
			, [CDC_SRC].[Accounts_iChangeSetID] AS [Accounts_iChangeSetID]
			, [CDC_SRC].[Accounts_Checksum] AS [Accounts_Checksum]
			, [CDC_SRC].[cBCloudBankAccountID] AS [cBCloudBankAccountID]
		FROM [CSG_1_FOODS].[Accounts] [CDC_SRC]
	)
	, [PREPJOINBK] AS 
	( 
		SELECT
			  [DELTA_VIEW].[DATATYPE] AS [DATATYPE]
			, COALESCE(REPLACE([DELTA_VIEW].[AccountLink],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_INT]) AS [AccountLink]
			, COALESCE(REPLACE([DELTA_VIEW].[iGLSegment0ID],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_INT]) AS [iGLSegment0ID]
			, COALESCE(REPLACE([DELTA_VIEW].[iGLSegment1ID],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_INT]) AS [iGLSegment1ID]
			, COALESCE(REPLACE([DELTA_VIEW].[iGLSegment2ID],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_INT]) AS [iGLSegment2ID]
			, COALESCE(REPLACE([DELTA_VIEW].[iGLSegment3ID],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_INT]) AS [iGLSegment3ID]
			, COALESCE(REPLACE([DELTA_VIEW].[iGLSegment4ID],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_INT]) AS [iGLSegment4ID]
			, COALESCE(REPLACE([DELTA_VIEW].[iGLSegment5ID],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_INT]) AS [iGLSegment5ID]
			, COALESCE(REPLACE([DELTA_VIEW].[iGLSegment6ID],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_INT]) AS [iGLSegment6ID]
			, COALESCE(REPLACE([DELTA_VIEW].[iGLSegment7ID],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_INT]) AS [iGLSegment7ID]
			, COALESCE(REPLACE([DELTA_VIEW].[iGLSegment8ID],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_INT]) AS [iGLSegment8ID]
			, COALESCE(REPLACE([DELTA_VIEW].[iGLSegment9ID],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_INT]) AS [iGLSegment9ID]
			, COALESCE(UPPER(REPLACE(REPLACE([DELTA_VIEW].[AccountLink],',',''),'.','.')),
				[MEX_BK_SRC].[KEY_ATTRIBUTE_INT]) AS [BK_GLAccount]
			, [DELTA_VIEW].[Master_Sub_Account] AS [Master_Sub_Account]
			, REPLACE([DELTA_VIEW].[AccountLevel],',','') AS [AccountLevel]
			, [DELTA_VIEW].[Account] AS [Account]
			, REPLACE([DELTA_VIEW].[iAccountType],',','') AS [iAccountType]
			, REPLACE([DELTA_VIEW].[SubAccOfLink],',','') AS [SubAccOfLink]
			, [DELTA_VIEW].[Dept] AS [Dept]
			, [DELTA_VIEW].[Brch] AS [Brch]
			, REPLACE([DELTA_VIEW].[Jr],',','') AS [Jr]
			, [DELTA_VIEW].[Description] AS [Description]
			, [DELTA_VIEW].[CaseAcc] AS [CaseAcc]
			, REPLACE([DELTA_VIEW].[ActiveAccount],',','') AS [ActiveAccount]
			, [DELTA_VIEW].[dAccountsTimeStamp] AS [dAccountsTimeStamp]
			, [DELTA_VIEW].[cNextChequeNum] AS [cNextChequeNum]
			, REPLACE([DELTA_VIEW].[iReportCategoryID],',','') AS [iReportCategoryID]
			, REPLACE([DELTA_VIEW].[fBankStatementBalance],',','') AS [fBankStatementBalance]
			, [DELTA_VIEW].[cExtDescription] AS [cExtDescription]
			, REPLACE([DELTA_VIEW].[iTaxTypeINVID],',','') AS [iTaxTypeINVID]
			, REPLACE([DELTA_VIEW].[iTaxTypeCRNID],',','') AS [iTaxTypeCRNID]
			, REPLACE([DELTA_VIEW].[iTaxTypeGRVID],',','') AS [iTaxTypeGRVID]
			, REPLACE([DELTA_VIEW].[iTaxTypeRTSID],',','') AS [iTaxTypeRTSID]
			, REPLACE([DELTA_VIEW].[iAllowICSales],',','') AS [iAllowICSales]
			, REPLACE([DELTA_VIEW].[iAllowICPurchases],',','') AS [iAllowICPurchases]
			, REPLACE([DELTA_VIEW].[iMBReportingCategoryID],',','') AS [iMBReportingCategoryID]
			, REPLACE([DELTA_VIEW].[iMBCashFlowCategoryID],',','') AS [iMBCashFlowCategoryID]
			, REPLACE([DELTA_VIEW].[bMBIsAsset],',','') AS [bMBIsAsset]
			, REPLACE([DELTA_VIEW].[bMBIsGrant],',','') AS [bMBIsGrant]
			, REPLACE([DELTA_VIEW].[iMBAssetClassificationID],',','') AS [iMBAssetClassificationID]
			, REPLACE([DELTA_VIEW].[iMBAssetCategoryID],',','') AS [iMBAssetCategoryID]
			, REPLACE([DELTA_VIEW].[iMBAssetTypeID],',','') AS [iMBAssetTypeID]
			, REPLACE([DELTA_VIEW].[iMBGrantLevel1TypeID],',','') AS [iMBGrantLevel1TypeID]
			, REPLACE([DELTA_VIEW].[iMBGrantLevel2TypeID],',','') AS [iMBGrantLevel2TypeID]
			, REPLACE([DELTA_VIEW].[iMBGrantLevel3TypeID],',','') AS [iMBGrantLevel3TypeID]
			, REPLACE([DELTA_VIEW].[bIsBranchLoanAccount],',','') AS [bIsBranchLoanAccount]
			, REPLACE([DELTA_VIEW].[iForeignBankCurrencyID],',','') AS [iForeignBankCurrencyID]
			, REPLACE([DELTA_VIEW].[iForeignBankPEXAccID],',','') AS [iForeignBankPEXAccID]
			, REPLACE([DELTA_VIEW].[iForeignBankLEXAccID],',','') AS [iForeignBankLEXAccID]
			, REPLACE([DELTA_VIEW].[bRevalueWithSellingRate],',','') AS [bRevalueWithSellingRate]
			, REPLACE([DELTA_VIEW].[bPaymentsBasedTax],',','') AS [bPaymentsBasedTax]
			, [DELTA_VIEW].[cBankName] AS [cBankName]
			, [DELTA_VIEW].[cBankAccountName] AS [cBankAccountName]
			, [DELTA_VIEW].[cBankCode] AS [cBankCode]
			, [DELTA_VIEW].[cBankAccountNumber] AS [cBankAccountNumber]
			, [DELTA_VIEW].[cBranchName] AS [cBranchName]
			, [DELTA_VIEW].[cSEPABranchCode] AS [cSEPABranchCode]
			, [DELTA_VIEW].[cBankRefNr] AS [cBankRefNr]
			, REPLACE([DELTA_VIEW].[iAttributeGroupID],',','') AS [iAttributeGroupID]
			, [DELTA_VIEW].[xAttribute] AS [xAttribute]
			, REPLACE([DELTA_VIEW].[bForeignBankAcc],',','') AS [bForeignBankAcc]
			, REPLACE([DELTA_VIEW].[Accounts_iBranchID],',','') AS [Accounts_iBranchID]
			, [DELTA_VIEW].[Accounts_dCreatedDate] AS [Accounts_dCreatedDate]
			, [DELTA_VIEW].[Accounts_dModifiedDate] AS [Accounts_dModifiedDate]
			, REPLACE([DELTA_VIEW].[Accounts_iCreatedBranchID],',','') AS [Accounts_iCreatedBranchID]
			, REPLACE([DELTA_VIEW].[Accounts_iModifiedBranchID],',','') AS [Accounts_iModifiedBranchID]
			, REPLACE([DELTA_VIEW].[Accounts_iCreatedAgentID],',','') AS [Accounts_iCreatedAgentID]
			, REPLACE([DELTA_VIEW].[Accounts_iModifiedAgentID],',','') AS [Accounts_iModifiedAgentID]
			, REPLACE([DELTA_VIEW].[Accounts_iChangeSetID],',','') AS [Accounts_iChangeSetID]
			, [DELTA_VIEW].[Accounts_Checksum] AS [Accounts_Checksum]
			, [DELTA_VIEW].[cBCloudBankAccountID] AS [cBCloudBankAccountID]
		FROM [DELTA_VIEW]
		INNER JOIN [dc].[EXECEPTION] [MEX_BK_SRC] ON  1 = 1
		WHERE  [MEX_BK_SRC].[DATATYPE] = '#'
	)
	INSERT INTO [dv_CSG_1_FOODS].[Accounts](
		 [DATATYPE]
		,[AccountLink]
		,[iGLSegment0ID]
		,[iGLSegment1ID]
		,[iGLSegment2ID]
		,[iGLSegment3ID]
		,[iGLSegment4ID]
		,[iGLSegment5ID]
		,[iGLSegment6ID]
		,[iGLSegment7ID]
		,[iGLSegment8ID]
		,[iGLSegment9ID]
		,[Master_Sub_Account]
		,[AccountLevel]
		,[Account]
		,[iAccountType]
		,[SubAccOfLink]
		,[Dept]
		,[Brch]
		,[Jr]
		,[Description]
		,[CaseAcc]
		,[ActiveAccount]
		,[dAccountsTimeStamp]
		,[cNextChequeNum]
		,[iReportCategoryID]
		,[fBankStatementBalance]
		,[cExtDescription]
		,[iTaxTypeINVID]
		,[iTaxTypeCRNID]
		,[iTaxTypeGRVID]
		,[iTaxTypeRTSID]
		,[iAllowICSales]
		,[iAllowICPurchases]
		,[iMBReportingCategoryID]
		,[iMBCashFlowCategoryID]
		,[bMBIsAsset]
		,[bMBIsGrant]
		,[iMBAssetClassificationID]
		,[iMBAssetCategoryID]
		,[iMBAssetTypeID]
		,[iMBGrantLevel1TypeID]
		,[iMBGrantLevel2TypeID]
		,[iMBGrantLevel3TypeID]
		,[bIsBranchLoanAccount]
		,[iForeignBankCurrencyID]
		,[iForeignBankPEXAccID]
		,[iForeignBankLEXAccID]
		,[bRevalueWithSellingRate]
		,[bPaymentsBasedTax]
		,[cBankName]
		,[cBankAccountName]
		,[cBankCode]
		,[cBankAccountNumber]
		,[cBranchName]
		,[cSEPABranchCode]
		,[cBankRefNr]
		,[iAttributeGroupID]
		,[xAttribute]
		,[bForeignBankAcc]
		,[Accounts_iBranchID]
		,[Accounts_dCreatedDate]
		,[Accounts_dModifiedDate]
		,[Accounts_iCreatedBranchID]
		,[Accounts_iModifiedBranchID]
		,[Accounts_iCreatedAgentID]
		,[Accounts_iModifiedAgentID]
		,[Accounts_iChangeSetID]
		,[Accounts_Checksum]
		,[cBCloudBankAccountID]
	)
	SELECT
		  [PREPJOINBK].[DATATYPE] AS [DATATYPE]
		, [PREPJOINBK].[AccountLink] AS [AccountLink]
		, [PREPJOINBK].[iGLSegment0ID] AS [iGLSegment0ID]
		, [PREPJOINBK].[iGLSegment1ID] AS [iGLSegment1ID]
		, [PREPJOINBK].[iGLSegment2ID] AS [iGLSegment2ID]
		, [PREPJOINBK].[iGLSegment3ID] AS [iGLSegment3ID]
		, [PREPJOINBK].[iGLSegment4ID] AS [iGLSegment4ID]
		, [PREPJOINBK].[iGLSegment5ID] AS [iGLSegment5ID]
		, [PREPJOINBK].[iGLSegment6ID] AS [iGLSegment6ID]
		, [PREPJOINBK].[iGLSegment7ID] AS [iGLSegment7ID]
		, [PREPJOINBK].[iGLSegment8ID] AS [iGLSegment8ID]
		, [PREPJOINBK].[iGLSegment9ID] AS [iGLSegment9ID]
		, [PREPJOINBK].[Master_Sub_Account] AS [Master_Sub_Account]
		, [PREPJOINBK].[AccountLevel] AS [AccountLevel]
		, [PREPJOINBK].[Account] AS [Account]
		, [PREPJOINBK].[iAccountType] AS [iAccountType]
		, [PREPJOINBK].[SubAccOfLink] AS [SubAccOfLink]
		, [PREPJOINBK].[Dept] AS [Dept]
		, [PREPJOINBK].[Brch] AS [Brch]
		, [PREPJOINBK].[Jr] AS [Jr]
		, [PREPJOINBK].[Description] AS [Description]
		, [PREPJOINBK].[CaseAcc] AS [CaseAcc]
		, [PREPJOINBK].[ActiveAccount] AS [ActiveAccount]
		, [PREPJOINBK].[dAccountsTimeStamp] AS [dAccountsTimeStamp]
		, [PREPJOINBK].[cNextChequeNum] AS [cNextChequeNum]
		, [PREPJOINBK].[iReportCategoryID] AS [iReportCategoryID]
		, [PREPJOINBK].[fBankStatementBalance] AS [fBankStatementBalance]
		, [PREPJOINBK].[cExtDescription] AS [cExtDescription]
		, [PREPJOINBK].[iTaxTypeINVID] AS [iTaxTypeINVID]
		, [PREPJOINBK].[iTaxTypeCRNID] AS [iTaxTypeCRNID]
		, [PREPJOINBK].[iTaxTypeGRVID] AS [iTaxTypeGRVID]
		, [PREPJOINBK].[iTaxTypeRTSID] AS [iTaxTypeRTSID]
		, [PREPJOINBK].[iAllowICSales] AS [iAllowICSales]
		, [PREPJOINBK].[iAllowICPurchases] AS [iAllowICPurchases]
		, [PREPJOINBK].[iMBReportingCategoryID] AS [iMBReportingCategoryID]
		, [PREPJOINBK].[iMBCashFlowCategoryID] AS [iMBCashFlowCategoryID]
		, [PREPJOINBK].[bMBIsAsset] AS [bMBIsAsset]
		, [PREPJOINBK].[bMBIsGrant] AS [bMBIsGrant]
		, [PREPJOINBK].[iMBAssetClassificationID] AS [iMBAssetClassificationID]
		, [PREPJOINBK].[iMBAssetCategoryID] AS [iMBAssetCategoryID]
		, [PREPJOINBK].[iMBAssetTypeID] AS [iMBAssetTypeID]
		, [PREPJOINBK].[iMBGrantLevel1TypeID] AS [iMBGrantLevel1TypeID]
		, [PREPJOINBK].[iMBGrantLevel2TypeID] AS [iMBGrantLevel2TypeID]
		, [PREPJOINBK].[iMBGrantLevel3TypeID] AS [iMBGrantLevel3TypeID]
		, [PREPJOINBK].[bIsBranchLoanAccount] AS [bIsBranchLoanAccount]
		, [PREPJOINBK].[iForeignBankCurrencyID] AS [iForeignBankCurrencyID]
		, [PREPJOINBK].[iForeignBankPEXAccID] AS [iForeignBankPEXAccID]
		, [PREPJOINBK].[iForeignBankLEXAccID] AS [iForeignBankLEXAccID]
		, [PREPJOINBK].[bRevalueWithSellingRate] AS [bRevalueWithSellingRate]
		, [PREPJOINBK].[bPaymentsBasedTax] AS [bPaymentsBasedTax]
		, [PREPJOINBK].[cBankName] AS [cBankName]
		, [PREPJOINBK].[cBankAccountName] AS [cBankAccountName]
		, [PREPJOINBK].[cBankCode] AS [cBankCode]
		, [PREPJOINBK].[cBankAccountNumber] AS [cBankAccountNumber]
		, [PREPJOINBK].[cBranchName] AS [cBranchName]
		, [PREPJOINBK].[cSEPABranchCode] AS [cSEPABranchCode]
		, [PREPJOINBK].[cBankRefNr] AS [cBankRefNr]
		, [PREPJOINBK].[iAttributeGroupID] AS [iAttributeGroupID]
		, [PREPJOINBK].[xAttribute] AS [xAttribute]
		, [PREPJOINBK].[bForeignBankAcc] AS [bForeignBankAcc]
		, [PREPJOINBK].[Accounts_iBranchID] AS [Accounts_iBranchID]
		, [PREPJOINBK].[Accounts_dCreatedDate] AS [Accounts_dCreatedDate]
		, [PREPJOINBK].[Accounts_dModifiedDate] AS [Accounts_dModifiedDate]
		, [PREPJOINBK].[Accounts_iCreatedBranchID] AS [Accounts_iCreatedBranchID]
		, [PREPJOINBK].[Accounts_iModifiedBranchID] AS [Accounts_iModifiedBranchID]
		, [PREPJOINBK].[Accounts_iCreatedAgentID] AS [Accounts_iCreatedAgentID]
		, [PREPJOINBK].[Accounts_iModifiedAgentID] AS [Accounts_iModifiedAgentID]
		, [PREPJOINBK].[Accounts_iChangeSetID] AS [Accounts_iChangeSetID]
		, [PREPJOINBK].[Accounts_Checksum] AS [Accounts_Checksum]
		, [PREPJOINBK].[cBCloudBankAccountID] AS [cBCloudBankAccountID]
	FROM [PREPJOINBK]
	INNER JOIN [dc].[LOAD_CYCLE_HIST] [LCI_SRC] ON  1 = 1
	LEFT OUTER JOIN [raw].[HUB_GLAccount] [HUB_SRC] ON  [PREPJOINBK].[BK_GLAccount] = [HUB_SRC].[BK_GLAccount] AND [HUB_SRC].[SOURCE_SYSTEM] = 'CSG_1_FOODS'
	LEFT OUTER JOIN [raw].[SAT_CSG_1_FOODS_GLAccount] [SAT_SRC1] ON  [HUB_SRC].[HK_GLAccount] = [SAT_SRC1].[HK_GLAccount] AND [SAT_SRC1].[LOAD_CYCLE_ID] = [LCI_SRC].[LOAD_CYCLE_ID]
	WHERE  [SAT_SRC1].[HK_GLAccount] IS NULL
	;
END;


END;

 
 


GO
