SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE PROCEDURE [SAGE200_EVO_PROC].[SRC_CSG_1_FOODS_PostAR_TDFT_INCR] AS 
/*
    ___  ___  ______  |  
   / _ \/ _ \|  ____| |  agile    
  / / \ \/ \ \ |__    |  automation
 / /  /\ \  \ \ __|   |  factory   
/_/  /_/\_\  \_\      | 

Vaultspeed version: 4.1.16.6, generation date: 2020/09/22 13:12:11
DV_NAME: CSG_DV - Release: CSG_DV_V11(11) - Comment: CSG_DV_V11 - Release date: 2020/09/22 12:36:07, 
BV release: init(1) - Comment: initial release - Release date: 2020/09/22 10:44:25, 
SRC_NAME: CSG_1_FOODS - Release: CSG_1_FOODS(6) - Comment: Release 6.0 - Release date: 2020/09/22 12:10:29
 */


BEGIN 
BEGIN -- TDFT_TGT

	TRUNCATE TABLE [dv_CSG_1_FOODS].[PostAR];

	WITH [DELTA_VIEW] AS 
	( 
		SELECT 
			  CAST('SRC'  AS VARCHAR) AS [DATATYPE]
			, [CDC_SRC].[AutoIdx] AS [AutoIdx]
			, [CDC_SRC].[AccountLink] AS [AccountLink]
			, [CDC_SRC].[Project] AS [Project]
			, [CDC_SRC].[Reference] AS [Reference]
			, [CDC_SRC].[cAuditNumber] AS [cAuditNumber]
			, [CDC_SRC].[cReference2] AS [cReference2]
			, [CDC_SRC].[TxDate] AS [TxDate]
			, [CDC_SRC].[Id] AS [Id]
			, [CDC_SRC].[TrCodeID] AS [TrCodeID]
			, [CDC_SRC].[Debit] AS [Debit]
			, [CDC_SRC].[Credit] AS [Credit]
			, [CDC_SRC].[iCurrencyID] AS [iCurrencyID]
			, [CDC_SRC].[fExchangeRate] AS [fExchangeRate]
			, [CDC_SRC].[fForeignDebit] AS [fForeignDebit]
			, [CDC_SRC].[fForeignCredit] AS [fForeignCredit]
			, [CDC_SRC].[Description] AS [Description]
			, [CDC_SRC].[TaxTypeID] AS [TaxTypeID]
			, [CDC_SRC].[Order_No] AS [Order_No]
			, [CDC_SRC].[ExtOrderNum] AS [ExtOrderNum]
			, [CDC_SRC].[Tax_Amount] AS [Tax_Amount]
			, [CDC_SRC].[fForeignTax] AS [fForeignTax]
			, [CDC_SRC].[Outstanding] AS [Outstanding]
			, [CDC_SRC].[fForeignOutstanding] AS [fForeignOutstanding]
			, [CDC_SRC].[cAllocs] AS [cAllocs]
			, [CDC_SRC].[InvNumKey] AS [InvNumKey]
			, [CDC_SRC].[RepID] AS [RepID]
			, [CDC_SRC].[LinkAccCode] AS [LinkAccCode]
			, [CDC_SRC].[TillID] AS [TillID]
			, [CDC_SRC].[CRCCheck] AS [CRCCheck]
			, [CDC_SRC].[DTStamp] AS [DTStamp]
			, [CDC_SRC].[UserName] AS [UserName]
			, [CDC_SRC].[iTaxPeriodID] AS [iTaxPeriodID]
			, [CDC_SRC].[fJCRepCost] AS [fJCRepCost]
			, [CDC_SRC].[iAge] AS [iAge]
			, [CDC_SRC].[dDateAged] AS [dDateAged]
			, [CDC_SRC].[iPostSettlementTermsID] AS [iPostSettlementTermsID]
			, [CDC_SRC].[iTxBranchID] AS [iTxBranchID]
			, [CDC_SRC].[iMBPropertyID] AS [iMBPropertyID]
			, [CDC_SRC].[iMBPortionID] AS [iMBPortionID]
			, [CDC_SRC].[iMBServiceID] AS [iMBServiceID]
			, [CDC_SRC].[iMBMeterID] AS [iMBMeterID]
			, [CDC_SRC].[iMBPropertyPortionServiceID] AS [iMBPropertyPortionServiceID]
			, [CDC_SRC].[bPBTPaid] AS [bPBTPaid]
			, [CDC_SRC].[iGLTaxAccountID] AS [iGLTaxAccountID]
			, [CDC_SRC].[iTransactionType] AS [iTransactionType]
			, [CDC_SRC].[PostAR_iBranchID] AS [PostAR_iBranchID]
			, [CDC_SRC].[PostAR_dCreatedDate] AS [PostAR_dCreatedDate]
			, [CDC_SRC].[PostAR_dModifiedDate] AS [PostAR_dModifiedDate]
			, [CDC_SRC].[PostAR_iCreatedBranchID] AS [PostAR_iCreatedBranchID]
			, [CDC_SRC].[PostAR_iModifiedBranchID] AS [PostAR_iModifiedBranchID]
			, [CDC_SRC].[PostAR_iCreatedAgentID] AS [PostAR_iCreatedAgentID]
			, [CDC_SRC].[PostAR_iModifiedAgentID] AS [PostAR_iModifiedAgentID]
			, [CDC_SRC].[PostAR_iChangeSetID] AS [PostAR_iChangeSetID]
			, [CDC_SRC].[PostAR_Checksum] AS [PostAR_Checksum]
			, [CDC_SRC].[SagePayExtra1] AS [SagePayExtra1]
			, [CDC_SRC].[SagePayExtra2] AS [SagePayExtra2]
			, [CDC_SRC].[SagePayExtra3] AS [SagePayExtra3]
			, [CDC_SRC].[iMajorIndustryCodeID] AS [iMajorIndustryCodeID]
			, [CDC_SRC].[iTaxBadDebtState] AS [iTaxBadDebtState]
		FROM [CSG_1_FOODS].[PostAR] [CDC_SRC]
	)
	, [PREPJOINBK] AS 
	( 
		SELECT
			  [DELTA_VIEW].[DATATYPE] AS [DATATYPE]
			, COALESCE(REPLACE([DELTA_VIEW].[AutoIdx],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_BIGINT]) AS [AutoIdx]
			, COALESCE(REPLACE([DELTA_VIEW].[AccountLink],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_INT]) AS [AccountLink]
			, COALESCE(REPLACE([DELTA_VIEW].[Project],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_INT]) AS [Project]
			, [DELTA_VIEW].[Reference] AS [Reference]
			, [DELTA_VIEW].[cAuditNumber] AS [cAuditNumber]
			, [DELTA_VIEW].[cReference2] AS [cReference2]
			, [DELTA_VIEW].[TxDate] AS [TxDate]
			, [DELTA_VIEW].[Id] AS [Id]
			, REPLACE([DELTA_VIEW].[TrCodeID],',','') AS [TrCodeID]
			, REPLACE([DELTA_VIEW].[Debit],',','') AS [Debit]
			, REPLACE([DELTA_VIEW].[Credit],',','') AS [Credit]
			, REPLACE([DELTA_VIEW].[iCurrencyID],',','') AS [iCurrencyID]
			, REPLACE([DELTA_VIEW].[fExchangeRate],',','') AS [fExchangeRate]
			, REPLACE([DELTA_VIEW].[fForeignDebit],',','') AS [fForeignDebit]
			, REPLACE([DELTA_VIEW].[fForeignCredit],',','') AS [fForeignCredit]
			, [DELTA_VIEW].[Description] AS [Description]
			, REPLACE([DELTA_VIEW].[TaxTypeID],',','') AS [TaxTypeID]
			, [DELTA_VIEW].[Order_No] AS [Order_No]
			, [DELTA_VIEW].[ExtOrderNum] AS [ExtOrderNum]
			, REPLACE([DELTA_VIEW].[Tax_Amount],',','') AS [Tax_Amount]
			, REPLACE([DELTA_VIEW].[fForeignTax],',','') AS [fForeignTax]
			, REPLACE([DELTA_VIEW].[Outstanding],',','') AS [Outstanding]
			, REPLACE([DELTA_VIEW].[fForeignOutstanding],',','') AS [fForeignOutstanding]
			, [DELTA_VIEW].[cAllocs] AS [cAllocs]
			, REPLACE([DELTA_VIEW].[InvNumKey],',','') AS [InvNumKey]
			, REPLACE([DELTA_VIEW].[RepID],',','') AS [RepID]
			, REPLACE([DELTA_VIEW].[LinkAccCode],',','') AS [LinkAccCode]
			, REPLACE([DELTA_VIEW].[TillID],',','') AS [TillID]
			, REPLACE([DELTA_VIEW].[CRCCheck],',','') AS [CRCCheck]
			, [DELTA_VIEW].[DTStamp] AS [DTStamp]
			, [DELTA_VIEW].[UserName] AS [UserName]
			, REPLACE([DELTA_VIEW].[iTaxPeriodID],',','') AS [iTaxPeriodID]
			, REPLACE([DELTA_VIEW].[fJCRepCost],',','') AS [fJCRepCost]
			, REPLACE([DELTA_VIEW].[iAge],',','') AS [iAge]
			, [DELTA_VIEW].[dDateAged] AS [dDateAged]
			, REPLACE([DELTA_VIEW].[iPostSettlementTermsID],',','') AS [iPostSettlementTermsID]
			, REPLACE([DELTA_VIEW].[iTxBranchID],',','') AS [iTxBranchID]
			, REPLACE([DELTA_VIEW].[iMBPropertyID],',','') AS [iMBPropertyID]
			, REPLACE([DELTA_VIEW].[iMBPortionID],',','') AS [iMBPortionID]
			, REPLACE([DELTA_VIEW].[iMBServiceID],',','') AS [iMBServiceID]
			, REPLACE([DELTA_VIEW].[iMBMeterID],',','') AS [iMBMeterID]
			, REPLACE([DELTA_VIEW].[iMBPropertyPortionServiceID],',','') AS [iMBPropertyPortionServiceID]
			, REPLACE([DELTA_VIEW].[bPBTPaid],',','') AS [bPBTPaid]
			, REPLACE([DELTA_VIEW].[iGLTaxAccountID],',','') AS [iGLTaxAccountID]
			, REPLACE([DELTA_VIEW].[iTransactionType],',','') AS [iTransactionType]
			, REPLACE([DELTA_VIEW].[PostAR_iBranchID],',','') AS [PostAR_iBranchID]
			, [DELTA_VIEW].[PostAR_dCreatedDate] AS [PostAR_dCreatedDate]
			, [DELTA_VIEW].[PostAR_dModifiedDate] AS [PostAR_dModifiedDate]
			, REPLACE([DELTA_VIEW].[PostAR_iCreatedBranchID],',','') AS [PostAR_iCreatedBranchID]
			, REPLACE([DELTA_VIEW].[PostAR_iModifiedBranchID],',','') AS [PostAR_iModifiedBranchID]
			, REPLACE([DELTA_VIEW].[PostAR_iCreatedAgentID],',','') AS [PostAR_iCreatedAgentID]
			, REPLACE([DELTA_VIEW].[PostAR_iModifiedAgentID],',','') AS [PostAR_iModifiedAgentID]
			, REPLACE([DELTA_VIEW].[PostAR_iChangeSetID],',','') AS [PostAR_iChangeSetID]
			, [DELTA_VIEW].[PostAR_Checksum] AS [PostAR_Checksum]
			, [DELTA_VIEW].[SagePayExtra1] AS [SagePayExtra1]
			, [DELTA_VIEW].[SagePayExtra2] AS [SagePayExtra2]
			, [DELTA_VIEW].[SagePayExtra3] AS [SagePayExtra3]
			, REPLACE([DELTA_VIEW].[iMajorIndustryCodeID],',','') AS [iMajorIndustryCodeID]
			, REPLACE([DELTA_VIEW].[iTaxBadDebtState],',','') AS [iTaxBadDebtState]
		FROM [DELTA_VIEW]
		INNER JOIN [dc].[EXECEPTION] [MEX_BK_SRC] ON  1 = 1
		WHERE  [MEX_BK_SRC].[DATATYPE] = '#'
	)
	INSERT INTO [dv_CSG_1_FOODS].[PostAR](
		 [DATATYPE]
		,[AutoIdx]
		,[AccountLink]
		,[Project]
		,[Reference]
		,[cAuditNumber]
		,[cReference2]
		,[TxDate]
		,[Id]
		,[TrCodeID]
		,[Debit]
		,[Credit]
		,[iCurrencyID]
		,[fExchangeRate]
		,[fForeignDebit]
		,[fForeignCredit]
		,[Description]
		,[TaxTypeID]
		,[Order_No]
		,[ExtOrderNum]
		,[Tax_Amount]
		,[fForeignTax]
		,[Outstanding]
		,[fForeignOutstanding]
		,[cAllocs]
		,[InvNumKey]
		,[RepID]
		,[LinkAccCode]
		,[TillID]
		,[CRCCheck]
		,[DTStamp]
		,[UserName]
		,[iTaxPeriodID]
		,[fJCRepCost]
		,[iAge]
		,[dDateAged]
		,[iPostSettlementTermsID]
		,[iTxBranchID]
		,[iMBPropertyID]
		,[iMBPortionID]
		,[iMBServiceID]
		,[iMBMeterID]
		,[iMBPropertyPortionServiceID]
		,[bPBTPaid]
		,[iGLTaxAccountID]
		,[iTransactionType]
		,[PostAR_iBranchID]
		,[PostAR_dCreatedDate]
		,[PostAR_dModifiedDate]
		,[PostAR_iCreatedBranchID]
		,[PostAR_iModifiedBranchID]
		,[PostAR_iCreatedAgentID]
		,[PostAR_iModifiedAgentID]
		,[PostAR_iChangeSetID]
		,[PostAR_Checksum]
		,[SagePayExtra1]
		,[SagePayExtra2]
		,[SagePayExtra3]
		,[iMajorIndustryCodeID]
		,[iTaxBadDebtState]
	)
	SELECT
		  [PREPJOINBK].[DATATYPE] AS [DATATYPE]
		, [PREPJOINBK].[AutoIdx] AS [AutoIdx]
		, [PREPJOINBK].[AccountLink] AS [AccountLink]
		, [PREPJOINBK].[Project] AS [Project]
		, [PREPJOINBK].[Reference] AS [Reference]
		, [PREPJOINBK].[cAuditNumber] AS [cAuditNumber]
		, [PREPJOINBK].[cReference2] AS [cReference2]
		, [PREPJOINBK].[TxDate] AS [TxDate]
		, [PREPJOINBK].[Id] AS [Id]
		, [PREPJOINBK].[TrCodeID] AS [TrCodeID]
		, [PREPJOINBK].[Debit] AS [Debit]
		, [PREPJOINBK].[Credit] AS [Credit]
		, [PREPJOINBK].[iCurrencyID] AS [iCurrencyID]
		, [PREPJOINBK].[fExchangeRate] AS [fExchangeRate]
		, [PREPJOINBK].[fForeignDebit] AS [fForeignDebit]
		, [PREPJOINBK].[fForeignCredit] AS [fForeignCredit]
		, [PREPJOINBK].[Description] AS [Description]
		, [PREPJOINBK].[TaxTypeID] AS [TaxTypeID]
		, [PREPJOINBK].[Order_No] AS [Order_No]
		, [PREPJOINBK].[ExtOrderNum] AS [ExtOrderNum]
		, [PREPJOINBK].[Tax_Amount] AS [Tax_Amount]
		, [PREPJOINBK].[fForeignTax] AS [fForeignTax]
		, [PREPJOINBK].[Outstanding] AS [Outstanding]
		, [PREPJOINBK].[fForeignOutstanding] AS [fForeignOutstanding]
		, [PREPJOINBK].[cAllocs] AS [cAllocs]
		, [PREPJOINBK].[InvNumKey] AS [InvNumKey]
		, [PREPJOINBK].[RepID] AS [RepID]
		, [PREPJOINBK].[LinkAccCode] AS [LinkAccCode]
		, [PREPJOINBK].[TillID] AS [TillID]
		, [PREPJOINBK].[CRCCheck] AS [CRCCheck]
		, [PREPJOINBK].[DTStamp] AS [DTStamp]
		, [PREPJOINBK].[UserName] AS [UserName]
		, [PREPJOINBK].[iTaxPeriodID] AS [iTaxPeriodID]
		, [PREPJOINBK].[fJCRepCost] AS [fJCRepCost]
		, [PREPJOINBK].[iAge] AS [iAge]
		, [PREPJOINBK].[dDateAged] AS [dDateAged]
		, [PREPJOINBK].[iPostSettlementTermsID] AS [iPostSettlementTermsID]
		, [PREPJOINBK].[iTxBranchID] AS [iTxBranchID]
		, [PREPJOINBK].[iMBPropertyID] AS [iMBPropertyID]
		, [PREPJOINBK].[iMBPortionID] AS [iMBPortionID]
		, [PREPJOINBK].[iMBServiceID] AS [iMBServiceID]
		, [PREPJOINBK].[iMBMeterID] AS [iMBMeterID]
		, [PREPJOINBK].[iMBPropertyPortionServiceID] AS [iMBPropertyPortionServiceID]
		, [PREPJOINBK].[bPBTPaid] AS [bPBTPaid]
		, [PREPJOINBK].[iGLTaxAccountID] AS [iGLTaxAccountID]
		, [PREPJOINBK].[iTransactionType] AS [iTransactionType]
		, [PREPJOINBK].[PostAR_iBranchID] AS [PostAR_iBranchID]
		, [PREPJOINBK].[PostAR_dCreatedDate] AS [PostAR_dCreatedDate]
		, [PREPJOINBK].[PostAR_dModifiedDate] AS [PostAR_dModifiedDate]
		, [PREPJOINBK].[PostAR_iCreatedBranchID] AS [PostAR_iCreatedBranchID]
		, [PREPJOINBK].[PostAR_iModifiedBranchID] AS [PostAR_iModifiedBranchID]
		, [PREPJOINBK].[PostAR_iCreatedAgentID] AS [PostAR_iCreatedAgentID]
		, [PREPJOINBK].[PostAR_iModifiedAgentID] AS [PostAR_iModifiedAgentID]
		, [PREPJOINBK].[PostAR_iChangeSetID] AS [PostAR_iChangeSetID]
		, [PREPJOINBK].[PostAR_Checksum] AS [PostAR_Checksum]
		, [PREPJOINBK].[SagePayExtra1] AS [SagePayExtra1]
		, [PREPJOINBK].[SagePayExtra2] AS [SagePayExtra2]
		, [PREPJOINBK].[SagePayExtra3] AS [SagePayExtra3]
		, [PREPJOINBK].[iMajorIndustryCodeID] AS [iMajorIndustryCodeID]
		, [PREPJOINBK].[iTaxBadDebtState] AS [iTaxBadDebtState]
	FROM [PREPJOINBK]
	INNER JOIN [dc].[LOAD_CYCLE_HIST] [LCI_SRC] ON  1 = 1
	LEFT OUTER JOIN [raw].[SAT_CSG_1_FOODS_ARTransaction] [SAT_SRC1] ON  CONVERT(BIGINT, [PREPJOINBK].[AutoIdx] , 1) = [SAT_SRC1].[AutoIdx] AND [SAT_SRC1].[LOAD_CYCLE_ID] =
		[LCI_SRC].[LOAD_CYCLE_ID]
	WHERE  [SAT_SRC1].[HK_ARTransaction] IS NULL
	;
END;


END;

 
 


GO
