SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE PROCEDURE [SAGE200_EVO_PROC].[SRC_CSG_1_FOODS_PostAP_TDFT_INCR] AS 
/*
    ___  ___  ______  |  
   / _ \/ _ \|  ____| |  agile    
  / / \ \/ \ \ |__    |  automation
 / /  /\ \  \ \ __|   |  factory   
/_/  /_/\_\  \_\      | 

Vaultspeed version: 4.1.16.6, generation date: 2020/09/22 13:12:11
DV_NAME: CSG_DV - Release: CSG_DV_V11(11) - Comment: CSG_DV_V11 - Release date: 2020/09/22 12:36:07, 
BV release: init(1) - Comment: initial release - Release date: 2020/09/22 10:44:25, 
SRC_NAME: CSG_1_FOODS - Release: CSG_1_FOODS(6) - Comment: Release 6.0 - Release date: 2020/09/22 12:10:29
 */


BEGIN 
BEGIN -- TDFT_TGT

	TRUNCATE TABLE [dv_CSG_1_FOODS].[PostAP];

	WITH [DELTA_VIEW] AS 
	( 
		SELECT 
			  CAST('SRC'  AS VARCHAR) AS [DATATYPE]
			, [CDC_SRC].[AutoIdx] AS [AutoIdx]
			, [CDC_SRC].[AccountLink] AS [AccountLink]
			, [CDC_SRC].[Project] AS [Project]
			, [CDC_SRC].[Reference] AS [Reference]
			, [CDC_SRC].[cAuditNumber] AS [cAuditNumber]
			, [CDC_SRC].[cReference2] AS [cReference2]
			, [CDC_SRC].[TxDate] AS [TxDate]
			, [CDC_SRC].[Id] AS [Id]
			, [CDC_SRC].[TrCodeID] AS [TrCodeID]
			, [CDC_SRC].[Debit] AS [Debit]
			, [CDC_SRC].[Credit] AS [Credit]
			, [CDC_SRC].[iCurrencyID] AS [iCurrencyID]
			, [CDC_SRC].[fExchangeRate] AS [fExchangeRate]
			, [CDC_SRC].[fForeignDebit] AS [fForeignDebit]
			, [CDC_SRC].[fForeignCredit] AS [fForeignCredit]
			, [CDC_SRC].[Description] AS [Description]
			, [CDC_SRC].[TaxTypeID] AS [TaxTypeID]
			, [CDC_SRC].[Order_No] AS [Order_No]
			, [CDC_SRC].[ExtOrderNum] AS [ExtOrderNum]
			, [CDC_SRC].[Tax_Amount] AS [Tax_Amount]
			, [CDC_SRC].[fForeignTax] AS [fForeignTax]
			, [CDC_SRC].[Outstanding] AS [Outstanding]
			, [CDC_SRC].[fForeignOutstanding] AS [fForeignOutstanding]
			, [CDC_SRC].[cAllocs] AS [cAllocs]
			, [CDC_SRC].[InvNumKey] AS [InvNumKey]
			, [CDC_SRC].[CRCCheck] AS [CRCCheck]
			, [CDC_SRC].[DTStamp] AS [DTStamp]
			, [CDC_SRC].[UserName] AS [UserName]
			, [CDC_SRC].[iTaxPeriodID] AS [iTaxPeriodID]
			, [CDC_SRC].[iAge] AS [iAge]
			, [CDC_SRC].[dDateAged] AS [dDateAged]
			, [CDC_SRC].[iPostSettlementTermsID] AS [iPostSettlementTermsID]
			, [CDC_SRC].[iTxBranchID] AS [iTxBranchID]
			, [CDC_SRC].[bPBTPaid] AS [bPBTPaid]
			, [CDC_SRC].[iGLTaxAccountID] AS [iGLTaxAccountID]
			, [CDC_SRC].[bTxOnHold] AS [bTxOnHold]
			, [CDC_SRC].[PostAP_iBranchID] AS [PostAP_iBranchID]
			, [CDC_SRC].[PostAP_dCreatedDate] AS [PostAP_dCreatedDate]
			, [CDC_SRC].[PostAP_dModifiedDate] AS [PostAP_dModifiedDate]
			, [CDC_SRC].[PostAP_iCreatedBranchID] AS [PostAP_iCreatedBranchID]
			, [CDC_SRC].[PostAP_iModifiedBranchID] AS [PostAP_iModifiedBranchID]
			, [CDC_SRC].[PostAP_iCreatedAgentID] AS [PostAP_iCreatedAgentID]
			, [CDC_SRC].[PostAP_iModifiedAgentID] AS [PostAP_iModifiedAgentID]
			, [CDC_SRC].[PostAP_iChangeSetID] AS [PostAP_iChangeSetID]
			, [CDC_SRC].[PostAP_Checksum] AS [PostAP_Checksum]
			, [CDC_SRC].[SagePayExtra1] AS [SagePayExtra1]
			, [CDC_SRC].[SagePayExtra2] AS [SagePayExtra2]
			, [CDC_SRC].[SagePayExtra3] AS [SagePayExtra3]
			, [CDC_SRC].[iTaxBadDebtState] AS [iTaxBadDebtState]
			, [CDC_SRC].[bReverseChargeApplied] AS [bReverseChargeApplied]
			, [CDC_SRC].[bReverseChargeCustoms] AS [bReverseChargeCustoms]
			, [CDC_SRC].[cReverseChargeAuditNr] AS [cReverseChargeAuditNr]
		FROM [CSG_1_FOODS].[PostAP] [CDC_SRC]
	)
	, [PREPJOINBK] AS 
	( 
		SELECT
			  [DELTA_VIEW].[DATATYPE] AS [DATATYPE]
			, COALESCE(REPLACE([DELTA_VIEW].[AutoIdx],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_BIGINT]) AS [AutoIdx]
			, COALESCE(REPLACE([DELTA_VIEW].[AccountLink],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_INT]) AS [AccountLink]
			, COALESCE(REPLACE([DELTA_VIEW].[Project],',',''),[MEX_BK_SRC].[KEY_ATTRIBUTE_INT]) AS [Project]
			, [DELTA_VIEW].[Reference] AS [Reference]
			, [DELTA_VIEW].[cAuditNumber] AS [cAuditNumber]
			, [DELTA_VIEW].[cReference2] AS [cReference2]
			, [DELTA_VIEW].[TxDate] AS [TxDate]
			, [DELTA_VIEW].[Id] AS [Id]
			, REPLACE([DELTA_VIEW].[TrCodeID],',','') AS [TrCodeID]
			, REPLACE([DELTA_VIEW].[Debit],',','') AS [Debit]
			, REPLACE([DELTA_VIEW].[Credit],',','') AS [Credit]
			, REPLACE([DELTA_VIEW].[iCurrencyID],',','') AS [iCurrencyID]
			, REPLACE([DELTA_VIEW].[fExchangeRate],',','') AS [fExchangeRate]
			, REPLACE([DELTA_VIEW].[fForeignDebit],',','') AS [fForeignDebit]
			, REPLACE([DELTA_VIEW].[fForeignCredit],',','') AS [fForeignCredit]
			, [DELTA_VIEW].[Description] AS [Description]
			, REPLACE([DELTA_VIEW].[TaxTypeID],',','') AS [TaxTypeID]
			, [DELTA_VIEW].[Order_No] AS [Order_No]
			, [DELTA_VIEW].[ExtOrderNum] AS [ExtOrderNum]
			, REPLACE([DELTA_VIEW].[Tax_Amount],',','') AS [Tax_Amount]
			, REPLACE([DELTA_VIEW].[fForeignTax],',','') AS [fForeignTax]
			, REPLACE([DELTA_VIEW].[Outstanding],',','') AS [Outstanding]
			, REPLACE([DELTA_VIEW].[fForeignOutstanding],',','') AS [fForeignOutstanding]
			, [DELTA_VIEW].[cAllocs] AS [cAllocs]
			, REPLACE([DELTA_VIEW].[InvNumKey],',','') AS [InvNumKey]
			, REPLACE([DELTA_VIEW].[CRCCheck],',','') AS [CRCCheck]
			, [DELTA_VIEW].[DTStamp] AS [DTStamp]
			, [DELTA_VIEW].[UserName] AS [UserName]
			, REPLACE([DELTA_VIEW].[iTaxPeriodID],',','') AS [iTaxPeriodID]
			, REPLACE([DELTA_VIEW].[iAge],',','') AS [iAge]
			, [DELTA_VIEW].[dDateAged] AS [dDateAged]
			, REPLACE([DELTA_VIEW].[iPostSettlementTermsID],',','') AS [iPostSettlementTermsID]
			, REPLACE([DELTA_VIEW].[iTxBranchID],',','') AS [iTxBranchID]
			, REPLACE([DELTA_VIEW].[bPBTPaid],',','') AS [bPBTPaid]
			, REPLACE([DELTA_VIEW].[iGLTaxAccountID],',','') AS [iGLTaxAccountID]
			, REPLACE([DELTA_VIEW].[bTxOnHold],',','') AS [bTxOnHold]
			, REPLACE([DELTA_VIEW].[PostAP_iBranchID],',','') AS [PostAP_iBranchID]
			, [DELTA_VIEW].[PostAP_dCreatedDate] AS [PostAP_dCreatedDate]
			, [DELTA_VIEW].[PostAP_dModifiedDate] AS [PostAP_dModifiedDate]
			, REPLACE([DELTA_VIEW].[PostAP_iCreatedBranchID],',','') AS [PostAP_iCreatedBranchID]
			, REPLACE([DELTA_VIEW].[PostAP_iModifiedBranchID],',','') AS [PostAP_iModifiedBranchID]
			, REPLACE([DELTA_VIEW].[PostAP_iCreatedAgentID],',','') AS [PostAP_iCreatedAgentID]
			, REPLACE([DELTA_VIEW].[PostAP_iModifiedAgentID],',','') AS [PostAP_iModifiedAgentID]
			, REPLACE([DELTA_VIEW].[PostAP_iChangeSetID],',','') AS [PostAP_iChangeSetID]
			, [DELTA_VIEW].[PostAP_Checksum] AS [PostAP_Checksum]
			, [DELTA_VIEW].[SagePayExtra1] AS [SagePayExtra1]
			, [DELTA_VIEW].[SagePayExtra2] AS [SagePayExtra2]
			, [DELTA_VIEW].[SagePayExtra3] AS [SagePayExtra3]
			, REPLACE([DELTA_VIEW].[iTaxBadDebtState],',','') AS [iTaxBadDebtState]
			, REPLACE([DELTA_VIEW].[bReverseChargeApplied],',','') AS [bReverseChargeApplied]
			, REPLACE([DELTA_VIEW].[bReverseChargeCustoms],',','') AS [bReverseChargeCustoms]
			, [DELTA_VIEW].[cReverseChargeAuditNr] AS [cReverseChargeAuditNr]
		FROM [DELTA_VIEW]
		INNER JOIN [dc].[EXECEPTION] [MEX_BK_SRC] ON  1 = 1
		WHERE  [MEX_BK_SRC].[DATATYPE] = '#'
	)
	INSERT INTO [dv_CSG_1_FOODS].[PostAP](
		 [DATATYPE]
		,[AutoIdx]
		,[AccountLink]
		,[Project]
		,[Reference]
		,[cAuditNumber]
		,[cReference2]
		,[TxDate]
		,[Id]
		,[TrCodeID]
		,[Debit]
		,[Credit]
		,[iCurrencyID]
		,[fExchangeRate]
		,[fForeignDebit]
		,[fForeignCredit]
		,[Description]
		,[TaxTypeID]
		,[Order_No]
		,[ExtOrderNum]
		,[Tax_Amount]
		,[fForeignTax]
		,[Outstanding]
		,[fForeignOutstanding]
		,[cAllocs]
		,[InvNumKey]
		,[CRCCheck]
		,[DTStamp]
		,[UserName]
		,[iTaxPeriodID]
		,[iAge]
		,[dDateAged]
		,[iPostSettlementTermsID]
		,[iTxBranchID]
		,[bPBTPaid]
		,[iGLTaxAccountID]
		,[bTxOnHold]
		,[PostAP_iBranchID]
		,[PostAP_dCreatedDate]
		,[PostAP_dModifiedDate]
		,[PostAP_iCreatedBranchID]
		,[PostAP_iModifiedBranchID]
		,[PostAP_iCreatedAgentID]
		,[PostAP_iModifiedAgentID]
		,[PostAP_iChangeSetID]
		,[PostAP_Checksum]
		,[SagePayExtra1]
		,[SagePayExtra2]
		,[SagePayExtra3]
		,[iTaxBadDebtState]
		,[bReverseChargeApplied]
		,[bReverseChargeCustoms]
		,[cReverseChargeAuditNr]
	)
	SELECT
		  [PREPJOINBK].[DATATYPE] AS [DATATYPE]
		, [PREPJOINBK].[AutoIdx] AS [AutoIdx]
		, [PREPJOINBK].[AccountLink] AS [AccountLink]
		, [PREPJOINBK].[Project] AS [Project]
		, [PREPJOINBK].[Reference] AS [Reference]
		, [PREPJOINBK].[cAuditNumber] AS [cAuditNumber]
		, [PREPJOINBK].[cReference2] AS [cReference2]
		, [PREPJOINBK].[TxDate] AS [TxDate]
		, [PREPJOINBK].[Id] AS [Id]
		, [PREPJOINBK].[TrCodeID] AS [TrCodeID]
		, [PREPJOINBK].[Debit] AS [Debit]
		, [PREPJOINBK].[Credit] AS [Credit]
		, [PREPJOINBK].[iCurrencyID] AS [iCurrencyID]
		, [PREPJOINBK].[fExchangeRate] AS [fExchangeRate]
		, [PREPJOINBK].[fForeignDebit] AS [fForeignDebit]
		, [PREPJOINBK].[fForeignCredit] AS [fForeignCredit]
		, [PREPJOINBK].[Description] AS [Description]
		, [PREPJOINBK].[TaxTypeID] AS [TaxTypeID]
		, [PREPJOINBK].[Order_No] AS [Order_No]
		, [PREPJOINBK].[ExtOrderNum] AS [ExtOrderNum]
		, [PREPJOINBK].[Tax_Amount] AS [Tax_Amount]
		, [PREPJOINBK].[fForeignTax] AS [fForeignTax]
		, [PREPJOINBK].[Outstanding] AS [Outstanding]
		, [PREPJOINBK].[fForeignOutstanding] AS [fForeignOutstanding]
		, [PREPJOINBK].[cAllocs] AS [cAllocs]
		, [PREPJOINBK].[InvNumKey] AS [InvNumKey]
		, [PREPJOINBK].[CRCCheck] AS [CRCCheck]
		, [PREPJOINBK].[DTStamp] AS [DTStamp]
		, [PREPJOINBK].[UserName] AS [UserName]
		, [PREPJOINBK].[iTaxPeriodID] AS [iTaxPeriodID]
		, [PREPJOINBK].[iAge] AS [iAge]
		, [PREPJOINBK].[dDateAged] AS [dDateAged]
		, [PREPJOINBK].[iPostSettlementTermsID] AS [iPostSettlementTermsID]
		, [PREPJOINBK].[iTxBranchID] AS [iTxBranchID]
		, [PREPJOINBK].[bPBTPaid] AS [bPBTPaid]
		, [PREPJOINBK].[iGLTaxAccountID] AS [iGLTaxAccountID]
		, [PREPJOINBK].[bTxOnHold] AS [bTxOnHold]
		, [PREPJOINBK].[PostAP_iBranchID] AS [PostAP_iBranchID]
		, [PREPJOINBK].[PostAP_dCreatedDate] AS [PostAP_dCreatedDate]
		, [PREPJOINBK].[PostAP_dModifiedDate] AS [PostAP_dModifiedDate]
		, [PREPJOINBK].[PostAP_iCreatedBranchID] AS [PostAP_iCreatedBranchID]
		, [PREPJOINBK].[PostAP_iModifiedBranchID] AS [PostAP_iModifiedBranchID]
		, [PREPJOINBK].[PostAP_iCreatedAgentID] AS [PostAP_iCreatedAgentID]
		, [PREPJOINBK].[PostAP_iModifiedAgentID] AS [PostAP_iModifiedAgentID]
		, [PREPJOINBK].[PostAP_iChangeSetID] AS [PostAP_iChangeSetID]
		, [PREPJOINBK].[PostAP_Checksum] AS [PostAP_Checksum]
		, [PREPJOINBK].[SagePayExtra1] AS [SagePayExtra1]
		, [PREPJOINBK].[SagePayExtra2] AS [SagePayExtra2]
		, [PREPJOINBK].[SagePayExtra3] AS [SagePayExtra3]
		, [PREPJOINBK].[iTaxBadDebtState] AS [iTaxBadDebtState]
		, [PREPJOINBK].[bReverseChargeApplied] AS [bReverseChargeApplied]
		, [PREPJOINBK].[bReverseChargeCustoms] AS [bReverseChargeCustoms]
		, [PREPJOINBK].[cReverseChargeAuditNr] AS [cReverseChargeAuditNr]
	FROM [PREPJOINBK]
	INNER JOIN [dc].[LOAD_CYCLE_HIST] [LCI_SRC] ON  1 = 1
	LEFT OUTER JOIN [raw].[SAT_CSG_1_FOODS_APTransaction] [SAT_SRC1] ON  CONVERT(BIGINT, [PREPJOINBK].[AutoIdx] , 1) = [SAT_SRC1].[AutoIdx] AND [SAT_SRC1].[LOAD_CYCLE_ID] =
		[LCI_SRC].[LOAD_CYCLE_ID]
	WHERE  [SAT_SRC1].[HK_APTransaction] IS NULL
	;
END;


END;

 
 


GO
