SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
CREATE PROCEDURE [SAGE200_EVO_PROC].EXT_CSG_1_FOODS_PostGL_INIT AS 
/*
    ___  ___  ______  |  
   / _ \/ _ \|  ____| |  agile    
  / / \ \/ \ \ |__    |  automation
 / /  /\ \  \ \ __|   |  factory   
/_/  /_/\_\  \_\      | 

Vaultspeed version: 4.1.16.6, generation date: 2020/09/22 13:12:11
DV_NAME: CSG_DV - Release: CSG_DV_V11(11) - Comment: CSG_DV_V11 - Release date: 2020/09/22 12:36:07, 
BV release: init(1) - Comment: initial release - Release date: 2020/09/22 10:44:25, 
SRC_NAME: CSG_1_FOODS - Release: CSG_1_FOODS(6) - Comment: Release 6.0 - Release date: 2020/09/22 12:10:29
 */


BEGIN 
BEGIN -- EXT_TGT

	TRUNCATE TABLE [CSG_1_FOODS_ext].[PostGL];

	WITH [PREP_EXCEP] AS 
	( 
		SELECT 
			  '+' AS [CHANGE_TYPE]
			, 'SRC' AS [DATATYPE]
			, NULL AS [LOAD_CYCLE_ID]
			, COALESCE( CONVERT(BIGINT, REPLACE([INI_SRC].[AutoIdx],',','') , 1), CONVERT(BIGINT,
				[MEX_INR_SRC].[KEY_ATTRIBUTE_BIGINT] , 1)) AS [AutoIdx]
			, COALESCE( CONVERT(INT, REPLACE([INI_SRC].[AccountLink],',','') , 1), CONVERT(INT,
				[MEX_INR_SRC].[KEY_ATTRIBUTE_INT] , 1)) AS [AccountLink]
			, COALESCE( CONVERT(INT, REPLACE([INI_SRC].[Project],',','') , 1), CONVERT(INT,
				[MEX_INR_SRC].[KEY_ATTRIBUTE_INT] , 1)) AS [Project]
			, COALESCE( CONVERT(INT, REPLACE([INI_SRC].[Period],',','') , 1), CONVERT(INT,
				[MEX_INR_SRC].[KEY_ATTRIBUTE_INT] , 1)) AS [Period]
			, [INI_SRC].[Description]  AS [Description]
			, [INI_SRC].[Reference]  AS [Reference]
			, [INI_SRC].[cReference2]  AS [cReference2]
			, CONVERT(DATETIME2, [INI_SRC].[TxDate] , 103) AS [TxDate]
			, [INI_SRC].[Id]  AS [Id]
			, CONVERT(INT, [INI_SRC].[TrCodeID] , 1) AS [TrCodeID]
			, CONVERT(FLOAT, [INI_SRC].[Debit] , 1) AS [Debit]
			, CONVERT(FLOAT, [INI_SRC].[Credit] , 1) AS [Credit]
			, CONVERT(INT, [INI_SRC].[iCurrencyID] , 1) AS [iCurrencyID]
			, CONVERT(FLOAT, [INI_SRC].[fExchangeRate] , 1) AS [fExchangeRate]
			, CONVERT(FLOAT, [INI_SRC].[fForeignDebit] , 1) AS [fForeignDebit]
			, CONVERT(FLOAT, [INI_SRC].[fForeignCredit] , 1) AS [fForeignCredit]
			, CONVERT(INT, [INI_SRC].[TaxTypeID] , 1) AS [TaxTypeID]
			, [INI_SRC].[Order_No]  AS [Order_No]
			, [INI_SRC].[ExtOrderNum]  AS [ExtOrderNum]
			, [INI_SRC].[cAuditNumber]  AS [cAuditNumber]
			, CONVERT(FLOAT, [INI_SRC].[Tax_Amount] , 1) AS [Tax_Amount]
			, CONVERT(FLOAT, [INI_SRC].[fForeignTax] , 1) AS [fForeignTax]
			, CONVERT(INT, [INI_SRC].[DrCrAccount] , 1) AS [DrCrAccount]
			, CONVERT(INT, [INI_SRC].[JobCodeLink] , 1) AS [JobCodeLink]
			, CONVERT(FLOAT, [INI_SRC].[CRCCheck] , 1) AS [CRCCheck]
			, CONVERT(DATETIME2, [INI_SRC].[DTStamp] , 103) AS [DTStamp]
			, [INI_SRC].[UserName]  AS [UserName]
			, CONVERT(INT, [INI_SRC].[iTaxPeriodID] , 1) AS [iTaxPeriodID]
			, [INI_SRC].[cPayeeName]  AS [cPayeeName]
			, CONVERT(BIT, [INI_SRC].[bPrintCheque] , 1) AS [bPrintCheque]
			, CONVERT(INT, [INI_SRC].[RepID] , 1) AS [RepID]
			, CONVERT(FLOAT, [INI_SRC].[fJCRepCost] , 1) AS [fJCRepCost]
			, CONVERT(INT, [INI_SRC].[iMFPID] , 1) AS [iMFPID]
			, CONVERT(BIT, [INI_SRC].[bIsJCDocLine] , 1) AS [bIsJCDocLine]
			, CONVERT(BIT, [INI_SRC].[bIsSTGLDocLine] , 1) AS [bIsSTGLDocLine]
			, CONVERT(BIGINT, [INI_SRC].[iInvLineID] , 1) AS [iInvLineID]
			, CONVERT(INT, [INI_SRC].[iTxBranchID] , 1) AS [iTxBranchID]
			, [INI_SRC].[cBankRef]  AS [cBankRef]
			, CONVERT(BIT, [INI_SRC].[bPBTPaid] , 1) AS [bPBTPaid]
			, CONVERT(INT, [INI_SRC].[iGLTaxAccountID] , 1) AS [iGLTaxAccountID]
			, CONVERT(BIT, [INI_SRC].[bReconciled] , 1) AS [bReconciled]
			, [INI_SRC].[xAttribute]  AS [xAttribute]
			, CONVERT(INT, [INI_SRC].[PostGL_iBranchID] , 1) AS [PostGL_iBranchID]
			, CONVERT(DATETIME2, [INI_SRC].[PostGL_dCreatedDate] , 103) AS [PostGL_dCreatedDate]
			, CONVERT(DATETIME2, [INI_SRC].[PostGL_dModifiedDate] , 103) AS [PostGL_dModifiedDate]
			, CONVERT(INT, [INI_SRC].[PostGL_iCreatedBranchID] , 1) AS [PostGL_iCreatedBranchID]
			, CONVERT(INT, [INI_SRC].[PostGL_iModifiedBranchID] , 1) AS [PostGL_iModifiedBranchID]
			, CONVERT(INT, [INI_SRC].[PostGL_iCreatedAgentID] , 1) AS [PostGL_iCreatedAgentID]
			, CONVERT(INT, [INI_SRC].[PostGL_iModifiedAgentID] , 1) AS [PostGL_iModifiedAgentID]
			, CONVERT(INT, [INI_SRC].[PostGL_iChangeSetID] , 1) AS [PostGL_iChangeSetID]
			, CAST([INI_SRC].[PostGL_Checksum]  AS BINARY) AS [PostGL_Checksum]
			, CONVERT(INT, [INI_SRC].[iMajorIndustryCodeID] , 1) AS [iMajorIndustryCodeID]
			, CONVERT(INT, [INI_SRC].[iImportDeclarationID] , 1) AS [iImportDeclarationID]
		FROM [CSG_1_FOODS].[PostGL] [INI_SRC]
		INNER JOIN [dc].[EXECEPTION] [MEX_INR_SRC] ON  [MEX_INR_SRC].[DATATYPE] = '#'
		UNION 
		SELECT 
			  '+' AS [CHANGE_TYPE]
			, [MEX_EXT_SRC].[DATATYPE] AS [DATATYPE]
			, CONVERT(int, [MEX_EXT_SRC].[LOAD_CYCLE_ID] ) AS [LOAD_CYCLE_ID]
			, CONVERT(BIGINT, [MEX_EXT_SRC].[KEY_ATTRIBUTE_BIGINT] , 1) AS [AutoIdx]
			, CONVERT(INT, [MEX_EXT_SRC].[KEY_ATTRIBUTE_INT] , 1) AS [AccountLink]
			, CONVERT(INT, [MEX_EXT_SRC].[KEY_ATTRIBUTE_INT] , 1) AS [Project]
			, CONVERT(INT, [MEX_EXT_SRC].[KEY_ATTRIBUTE_INT] , 1) AS [Period]
			, [MEX_EXT_SRC].[KEY_ATTRIBUTE_VARCHAR]  AS [Description]
			, [MEX_EXT_SRC].[KEY_ATTRIBUTE_VARCHAR]  AS [Reference]
			, [MEX_EXT_SRC].[KEY_ATTRIBUTE_VARCHAR]  AS [cReference2]
			, CONVERT(DATETIME2, [MEX_EXT_SRC].[ATTRIBUTE_DATETIME2] , 103) AS [TxDate]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Id]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [TrCodeID]
			, CONVERT(FLOAT, [MEX_EXT_SRC].[ATTRIBUTE_FLOAT] , 1) AS [Debit]
			, CONVERT(FLOAT, [MEX_EXT_SRC].[ATTRIBUTE_FLOAT] , 1) AS [Credit]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iCurrencyID]
			, CONVERT(FLOAT, [MEX_EXT_SRC].[ATTRIBUTE_FLOAT] , 1) AS [fExchangeRate]
			, CONVERT(FLOAT, [MEX_EXT_SRC].[ATTRIBUTE_FLOAT] , 1) AS [fForeignDebit]
			, CONVERT(FLOAT, [MEX_EXT_SRC].[ATTRIBUTE_FLOAT] , 1) AS [fForeignCredit]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [TaxTypeID]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [Order_No]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [ExtOrderNum]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cAuditNumber]
			, CONVERT(FLOAT, [MEX_EXT_SRC].[ATTRIBUTE_FLOAT] , 1) AS [Tax_Amount]
			, CONVERT(FLOAT, [MEX_EXT_SRC].[ATTRIBUTE_FLOAT] , 1) AS [fForeignTax]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [DrCrAccount]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [JobCodeLink]
			, CONVERT(FLOAT, [MEX_EXT_SRC].[ATTRIBUTE_FLOAT] , 1) AS [CRCCheck]
			, CONVERT(DATETIME2, [MEX_EXT_SRC].[ATTRIBUTE_DATETIME2] , 103) AS [DTStamp]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [UserName]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iTaxPeriodID]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cPayeeName]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [bPrintCheque]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [RepID]
			, CONVERT(FLOAT, [MEX_EXT_SRC].[ATTRIBUTE_FLOAT] , 1) AS [fJCRepCost]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iMFPID]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [bIsJCDocLine]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [bIsSTGLDocLine]
			, CONVERT(BIGINT, [MEX_EXT_SRC].[ATTRIBUTE_BIGINT] , 1) AS [iInvLineID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iTxBranchID]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [cBankRef]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [bPBTPaid]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iGLTaxAccountID]
			, CONVERT(BIT, [MEX_EXT_SRC].[ATTRIBUTE_BIT] , 1) AS [bReconciled]
			, [MEX_EXT_SRC].[ATTRIBUTE_VARCHAR]  AS [xAttribute]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [PostGL_iBranchID]
			, CONVERT(DATETIME2, [MEX_EXT_SRC].[ATTRIBUTE_DATETIME2] , 103) AS [PostGL_dCreatedDate]
			, CONVERT(DATETIME2, [MEX_EXT_SRC].[ATTRIBUTE_DATETIME2] , 103) AS [PostGL_dModifiedDate]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [PostGL_iCreatedBranchID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [PostGL_iModifiedBranchID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [PostGL_iCreatedAgentID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [PostGL_iModifiedAgentID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [PostGL_iChangeSetID]
			, CAST([MEX_EXT_SRC].[ATTRIBUTE_BINARY]  AS BINARY) AS [PostGL_Checksum]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iMajorIndustryCodeID]
			, CONVERT(INT, [MEX_EXT_SRC].[ATTRIBUTE_INT] , 1) AS [iImportDeclarationID]
		FROM [dc].[EXECEPTION] [MEX_EXT_SRC]
	)
	INSERT INTO [CSG_1_FOODS_ext].[PostGL](
		 [LOAD_CYCLE_ID]
		,[LOADDT]
		,[CHANGE_TYPE]
		,[DATATYPE]
		,[AutoIdx]
		,[AccountLink]
		,[Project]
		,[Period]
		,[BK_AutoIdx]
		,[BK_Description]
		,[BK_Reference]
		,[BK_cReference2]
		,[Description]
		,[Reference]
		,[cReference2]
		,[BK_FK_AccountLink_AccountLink]
		,[TxDate]
		,[Id]
		,[TrCodeID]
		,[Debit]
		,[Credit]
		,[iCurrencyID]
		,[fExchangeRate]
		,[fForeignDebit]
		,[fForeignCredit]
		,[TaxTypeID]
		,[Order_No]
		,[ExtOrderNum]
		,[cAuditNumber]
		,[Tax_Amount]
		,[fForeignTax]
		,[DrCrAccount]
		,[JobCodeLink]
		,[CRCCheck]
		,[DTStamp]
		,[UserName]
		,[iTaxPeriodID]
		,[cPayeeName]
		,[bPrintCheque]
		,[RepID]
		,[fJCRepCost]
		,[iMFPID]
		,[bIsJCDocLine]
		,[bIsSTGLDocLine]
		,[iInvLineID]
		,[iTxBranchID]
		,[cBankRef]
		,[bPBTPaid]
		,[iGLTaxAccountID]
		,[bReconciled]
		,[xAttribute]
		,[PostGL_iBranchID]
		,[PostGL_dCreatedDate]
		,[PostGL_dModifiedDate]
		,[PostGL_iCreatedBranchID]
		,[PostGL_iModifiedBranchID]
		,[PostGL_iCreatedAgentID]
		,[PostGL_iModifiedAgentID]
		,[PostGL_iChangeSetID]
		,[PostGL_Checksum]
		,[iMajorIndustryCodeID]
		,[iImportDeclarationID]
	)
	SELECT
		  COALESCE([PREP_EXCEP].[LOAD_CYCLE_ID],[LCI_SRC].[LOAD_CYCLE_ID]) AS [LOAD_CYCLE_ID]
		, [LCI_SRC].[LOADDT] AS [LOADDT]
		, [PREP_EXCEP].[CHANGE_TYPE] AS [CHANGE_TYPE]
		, [PREP_EXCEP].[DATATYPE] AS [DATATYPE]
		, [PREP_EXCEP].[AutoIdx] AS [AutoIdx]
		, [PREP_EXCEP].[AccountLink] AS [AccountLink]
		, [PREP_EXCEP].[Project] AS [Project]
		, [PREP_EXCEP].[Period] AS [Period]
		, COALESCE(UPPER( CONVERT(VARCHAR, [PREP_EXCEP].[AutoIdx] , 1)),[MEX_SRC].[KEY_ATTRIBUTE_BIGINT]) AS [BK_AutoIdx]
		, COALESCE(UPPER(REPLACE([PREP_EXCEP].[Description],'|','\' + '|')),[MEX_SRC].[KEY_ATTRIBUTE_VARCHAR]) AS [BK_Description]
		, COALESCE(UPPER(REPLACE([PREP_EXCEP].[Reference],'|','\' + '|')),[MEX_SRC].[KEY_ATTRIBUTE_VARCHAR]) AS [BK_Reference]
		, COALESCE(UPPER(REPLACE([PREP_EXCEP].[cReference2],'|','\' + '|')),[MEX_SRC].[KEY_ATTRIBUTE_VARCHAR]) AS [BK_cReference2]
		, [PREP_EXCEP].[Description] AS [Description]
		, [PREP_EXCEP].[Reference] AS [Reference]
		, [PREP_EXCEP].[cReference2] AS [cReference2]
		, UPPER( CONVERT(VARCHAR, [PREP_EXCEP].[AccountLink] , 1)) AS [BK_FK_AccountLink_AccountLink]
		, [PREP_EXCEP].[TxDate] AS [TxDate]
		, [PREP_EXCEP].[Id] AS [Id]
		, [PREP_EXCEP].[TrCodeID] AS [TrCodeID]
		, [PREP_EXCEP].[Debit] AS [Debit]
		, [PREP_EXCEP].[Credit] AS [Credit]
		, [PREP_EXCEP].[iCurrencyID] AS [iCurrencyID]
		, [PREP_EXCEP].[fExchangeRate] AS [fExchangeRate]
		, [PREP_EXCEP].[fForeignDebit] AS [fForeignDebit]
		, [PREP_EXCEP].[fForeignCredit] AS [fForeignCredit]
		, [PREP_EXCEP].[TaxTypeID] AS [TaxTypeID]
		, [PREP_EXCEP].[Order_No] AS [Order_No]
		, [PREP_EXCEP].[ExtOrderNum] AS [ExtOrderNum]
		, [PREP_EXCEP].[cAuditNumber] AS [cAuditNumber]
		, [PREP_EXCEP].[Tax_Amount] AS [Tax_Amount]
		, [PREP_EXCEP].[fForeignTax] AS [fForeignTax]
		, [PREP_EXCEP].[DrCrAccount] AS [DrCrAccount]
		, [PREP_EXCEP].[JobCodeLink] AS [JobCodeLink]
		, [PREP_EXCEP].[CRCCheck] AS [CRCCheck]
		, [PREP_EXCEP].[DTStamp] AS [DTStamp]
		, [PREP_EXCEP].[UserName] AS [UserName]
		, [PREP_EXCEP].[iTaxPeriodID] AS [iTaxPeriodID]
		, [PREP_EXCEP].[cPayeeName] AS [cPayeeName]
		, [PREP_EXCEP].[bPrintCheque] AS [bPrintCheque]
		, [PREP_EXCEP].[RepID] AS [RepID]
		, [PREP_EXCEP].[fJCRepCost] AS [fJCRepCost]
		, [PREP_EXCEP].[iMFPID] AS [iMFPID]
		, [PREP_EXCEP].[bIsJCDocLine] AS [bIsJCDocLine]
		, [PREP_EXCEP].[bIsSTGLDocLine] AS [bIsSTGLDocLine]
		, [PREP_EXCEP].[iInvLineID] AS [iInvLineID]
		, [PREP_EXCEP].[iTxBranchID] AS [iTxBranchID]
		, [PREP_EXCEP].[cBankRef] AS [cBankRef]
		, [PREP_EXCEP].[bPBTPaid] AS [bPBTPaid]
		, [PREP_EXCEP].[iGLTaxAccountID] AS [iGLTaxAccountID]
		, [PREP_EXCEP].[bReconciled] AS [bReconciled]
		, [PREP_EXCEP].[xAttribute] AS [xAttribute]
		, [PREP_EXCEP].[PostGL_iBranchID] AS [PostGL_iBranchID]
		, [PREP_EXCEP].[PostGL_dCreatedDate] AS [PostGL_dCreatedDate]
		, [PREP_EXCEP].[PostGL_dModifiedDate] AS [PostGL_dModifiedDate]
		, [PREP_EXCEP].[PostGL_iCreatedBranchID] AS [PostGL_iCreatedBranchID]
		, [PREP_EXCEP].[PostGL_iModifiedBranchID] AS [PostGL_iModifiedBranchID]
		, [PREP_EXCEP].[PostGL_iCreatedAgentID] AS [PostGL_iCreatedAgentID]
		, [PREP_EXCEP].[PostGL_iModifiedAgentID] AS [PostGL_iModifiedAgentID]
		, [PREP_EXCEP].[PostGL_iChangeSetID] AS [PostGL_iChangeSetID]
		, [PREP_EXCEP].[PostGL_Checksum] AS [PostGL_Checksum]
		, [PREP_EXCEP].[iMajorIndustryCodeID] AS [iMajorIndustryCodeID]
		, [PREP_EXCEP].[iImportDeclarationID] AS [iImportDeclarationID]
	FROM [PREP_EXCEP]
	INNER JOIN [dc].[LOAD_CYCLE_HIST] [LCI_SRC] ON  1 = 1
	INNER JOIN [dc].[EXECEPTION] [MEX_SRC] ON  1 = 1
	WHERE  [MEX_SRC].[DATATYPE] = '#'
	;
END;


END;

 
 


GO
