USE [InfoMart]
GO
/****** Object:  Table [dbo].[Numbers]    Script Date: 3/22/2020 17:22:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Numbers](
	[n] [bigint] NULL
) ON [PRIMARY]
GO
/****** Object:  Index [n]    Script Date: 3/22/2020 17:22:53 ******/
CREATE UNIQUE CLUSTERED INDEX [n] ON [dbo].[Numbers]
(
	[n] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
