SET IDENTITY_INSERT [benchmark].[BenchmarkTSQL] ON 

INSERT [benchmark].[BenchmarkTSQL] ([BenchmarkTSQLID], [TSQLStatementGUID], [StepRowNumber], [StartBenchmark], [EndBenchmark], [StartStep], [EndStep], [StepDuration], [DurationAccuracy], [TsqlStatementBefore], [TsqlStatement], [TsqlStatementAfter], [ClearCache], [PrintStepInfo], [OriginalLogin], [AdditionalInfo]) VALUES (21, N'C031CB46-D009-4EFA-9D2A-164568E5D47B', 1, CAST(N'2021-05-26T15:47:15.2435573' AS DateTime2), CAST(N'2021-05-26T15:47:41.1184765' AS DateTime2), CAST(N'2021-05-26T15:47:16.2651295' AS DateTime2), CAST(N'2021-05-26T15:47:17.8285394' AS DateTime2), 1563, N'ms', N'WAITFOR DELAY ''00:00:01'';', N'SELECT TOP(100000) * FROM sys.objects AS o1 CROSS JOIN sys.objects AS o2 CROSS JOIN sys.objects AS o3;

        SET @additionalXMLOUT = (
        SELECT [Option], [Enabled]
        FROM (
               SELECT ''DISABLE_DEF_CNST_CHK'' AS "Option", CASE @@options & 1     WHEN 0 THEN 0 ELSE 1 END AS "Enabled" UNION ALL
               SELECT ''IMPLICIT_TRANSACTIONS''           , CASE @@options & 2     WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''CURSOR_CLOSE_ON_COMMIT''          , CASE @@options & 4     WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_WARNINGS''                   , CASE @@options & 8     WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_PADDING''                    , CASE @@options & 16    WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_NULLS''                      , CASE @@options & 32    WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ARITHABORT''                      , CASE @@options & 64    WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ARITHIGNORE''                     , CASE @@options & 128   WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''QUOTED_IDENTIFIER''               , CASE @@options & 256   WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''NOCOUNT''                         , CASE @@options & 512   WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_NULL_DFLT_ON''               , CASE @@options & 1024  WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_NULL_DFLT_OFF''              , CASE @@options & 2048  WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''CONCAT_NULL_YIELDS_NULL''         , CASE @@options & 4096  WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''NUMERIC_ROUNDABORT''              , CASE @@options & 8192  WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''XACT_ABORT''                      , CASE @@options & 16384 WHEN 0 THEN 0 ELSE 1 END
        ) AS s
        FOR XML RAW
        );', N'WAITFOR DELAY ''00:00:02'';', 1, 1, N'[sa]', N'<row Option="DISABLE_DEF_CNST_CHK" Enabled="0" /><row Option="IMPLICIT_TRANSACTIONS" Enabled="0" /><row Option="CURSOR_CLOSE_ON_COMMIT" Enabled="0" /><row Option="ANSI_WARNINGS" Enabled="1" /><row Option="ANSI_PADDING" Enabled="1" /><row Option="ANSI_NULLS" Enabled="1" /><row Option="ARITHABORT" Enabled="1" /><row Option="ARITHIGNORE" Enabled="0" /><row Option="QUOTED_IDENTIFIER" Enabled="1" /><row Option="NOCOUNT" Enabled="1" /><row Option="ANSI_NULL_DFLT_ON" Enabled="1" /><row Option="ANSI_NULL_DFLT_OFF" Enabled="0" /><row Option="CONCAT_NULL_YIELDS_NULL" Enabled="1" /><row Option="NUMERIC_ROUNDABORT" Enabled="0" /><row Option="XACT_ABORT" Enabled="0" />')
INSERT [benchmark].[BenchmarkTSQL] ([BenchmarkTSQLID], [TSQLStatementGUID], [StepRowNumber], [StartBenchmark], [EndBenchmark], [StartStep], [EndStep], [StepDuration], [DurationAccuracy], [TsqlStatementBefore], [TsqlStatement], [TsqlStatementAfter], [ClearCache], [PrintStepInfo], [OriginalLogin], [AdditionalInfo]) VALUES (22, N'C031CB46-D009-4EFA-9D2A-164568E5D47B', 2, CAST(N'2021-05-26T15:47:15.2435573' AS DateTime2), CAST(N'2021-05-26T15:47:41.1184765' AS DateTime2), CAST(N'2021-05-26T15:47:20.9609307' AS DateTime2), CAST(N'2021-05-26T15:47:22.5955088' AS DateTime2), 1635, N'ms', N'WAITFOR DELAY ''00:00:01'';', N'SELECT TOP(100000) * FROM sys.objects AS o1 CROSS JOIN sys.objects AS o2 CROSS JOIN sys.objects AS o3;

        SET @additionalXMLOUT = (
        SELECT [Option], [Enabled]
        FROM (
               SELECT ''DISABLE_DEF_CNST_CHK'' AS "Option", CASE @@options & 1     WHEN 0 THEN 0 ELSE 1 END AS "Enabled" UNION ALL
               SELECT ''IMPLICIT_TRANSACTIONS''           , CASE @@options & 2     WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''CURSOR_CLOSE_ON_COMMIT''          , CASE @@options & 4     WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_WARNINGS''                   , CASE @@options & 8     WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_PADDING''                    , CASE @@options & 16    WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_NULLS''                      , CASE @@options & 32    WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ARITHABORT''                      , CASE @@options & 64    WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ARITHIGNORE''                     , CASE @@options & 128   WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''QUOTED_IDENTIFIER''               , CASE @@options & 256   WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''NOCOUNT''                         , CASE @@options & 512   WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_NULL_DFLT_ON''               , CASE @@options & 1024  WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_NULL_DFLT_OFF''              , CASE @@options & 2048  WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''CONCAT_NULL_YIELDS_NULL''         , CASE @@options & 4096  WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''NUMERIC_ROUNDABORT''              , CASE @@options & 8192  WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''XACT_ABORT''                      , CASE @@options & 16384 WHEN 0 THEN 0 ELSE 1 END
        ) AS s
        FOR XML RAW
        );', N'WAITFOR DELAY ''00:00:02'';', 1, 1, N'[sa]', N'<row Option="DISABLE_DEF_CNST_CHK" Enabled="0" /><row Option="IMPLICIT_TRANSACTIONS" Enabled="0" /><row Option="CURSOR_CLOSE_ON_COMMIT" Enabled="0" /><row Option="ANSI_WARNINGS" Enabled="1" /><row Option="ANSI_PADDING" Enabled="1" /><row Option="ANSI_NULLS" Enabled="1" /><row Option="ARITHABORT" Enabled="1" /><row Option="ARITHIGNORE" Enabled="0" /><row Option="QUOTED_IDENTIFIER" Enabled="1" /><row Option="NOCOUNT" Enabled="1" /><row Option="ANSI_NULL_DFLT_ON" Enabled="1" /><row Option="ANSI_NULL_DFLT_OFF" Enabled="0" /><row Option="CONCAT_NULL_YIELDS_NULL" Enabled="1" /><row Option="NUMERIC_ROUNDABORT" Enabled="0" /><row Option="XACT_ABORT" Enabled="0" />')
INSERT [benchmark].[BenchmarkTSQL] ([BenchmarkTSQLID], [TSQLStatementGUID], [StepRowNumber], [StartBenchmark], [EndBenchmark], [StartStep], [EndStep], [StepDuration], [DurationAccuracy], [TsqlStatementBefore], [TsqlStatement], [TsqlStatementAfter], [ClearCache], [PrintStepInfo], [OriginalLogin], [AdditionalInfo]) VALUES (23, N'C031CB46-D009-4EFA-9D2A-164568E5D47B', 3, CAST(N'2021-05-26T15:47:15.2435573' AS DateTime2), CAST(N'2021-05-26T15:47:41.1184765' AS DateTime2), CAST(N'2021-05-26T15:47:25.6776412' AS DateTime2), CAST(N'2021-05-26T15:47:27.3546617' AS DateTime2), 1677, N'ms', N'WAITFOR DELAY ''00:00:01'';', N'SELECT TOP(100000) * FROM sys.objects AS o1 CROSS JOIN sys.objects AS o2 CROSS JOIN sys.objects AS o3;

        SET @additionalXMLOUT = (
        SELECT [Option], [Enabled]
        FROM (
               SELECT ''DISABLE_DEF_CNST_CHK'' AS "Option", CASE @@options & 1     WHEN 0 THEN 0 ELSE 1 END AS "Enabled" UNION ALL
               SELECT ''IMPLICIT_TRANSACTIONS''           , CASE @@options & 2     WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''CURSOR_CLOSE_ON_COMMIT''          , CASE @@options & 4     WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_WARNINGS''                   , CASE @@options & 8     WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_PADDING''                    , CASE @@options & 16    WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_NULLS''                      , CASE @@options & 32    WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ARITHABORT''                      , CASE @@options & 64    WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ARITHIGNORE''                     , CASE @@options & 128   WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''QUOTED_IDENTIFIER''               , CASE @@options & 256   WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''NOCOUNT''                         , CASE @@options & 512   WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_NULL_DFLT_ON''               , CASE @@options & 1024  WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_NULL_DFLT_OFF''              , CASE @@options & 2048  WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''CONCAT_NULL_YIELDS_NULL''         , CASE @@options & 4096  WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''NUMERIC_ROUNDABORT''              , CASE @@options & 8192  WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''XACT_ABORT''                      , CASE @@options & 16384 WHEN 0 THEN 0 ELSE 1 END
        ) AS s
        FOR XML RAW
        );', N'WAITFOR DELAY ''00:00:02'';', 1, 1, N'[sa]', N'<row Option="DISABLE_DEF_CNST_CHK" Enabled="0" /><row Option="IMPLICIT_TRANSACTIONS" Enabled="0" /><row Option="CURSOR_CLOSE_ON_COMMIT" Enabled="0" /><row Option="ANSI_WARNINGS" Enabled="1" /><row Option="ANSI_PADDING" Enabled="1" /><row Option="ANSI_NULLS" Enabled="1" /><row Option="ARITHABORT" Enabled="1" /><row Option="ARITHIGNORE" Enabled="0" /><row Option="QUOTED_IDENTIFIER" Enabled="1" /><row Option="NOCOUNT" Enabled="1" /><row Option="ANSI_NULL_DFLT_ON" Enabled="1" /><row Option="ANSI_NULL_DFLT_OFF" Enabled="0" /><row Option="CONCAT_NULL_YIELDS_NULL" Enabled="1" /><row Option="NUMERIC_ROUNDABORT" Enabled="0" /><row Option="XACT_ABORT" Enabled="0" />')
INSERT [benchmark].[BenchmarkTSQL] ([BenchmarkTSQLID], [TSQLStatementGUID], [StepRowNumber], [StartBenchmark], [EndBenchmark], [StartStep], [EndStep], [StepDuration], [DurationAccuracy], [TsqlStatementBefore], [TsqlStatement], [TsqlStatementAfter], [ClearCache], [PrintStepInfo], [OriginalLogin], [AdditionalInfo]) VALUES (24, N'C031CB46-D009-4EFA-9D2A-164568E5D47B', 4, CAST(N'2021-05-26T15:47:15.2435573' AS DateTime2), CAST(N'2021-05-26T15:47:41.1184765' AS DateTime2), CAST(N'2021-05-26T15:47:30.4384275' AS DateTime2), CAST(N'2021-05-26T15:47:32.1352362' AS DateTime2), 1697, N'ms', N'WAITFOR DELAY ''00:00:01'';', N'SELECT TOP(100000) * FROM sys.objects AS o1 CROSS JOIN sys.objects AS o2 CROSS JOIN sys.objects AS o3;

        SET @additionalXMLOUT = (
        SELECT [Option], [Enabled]
        FROM (
               SELECT ''DISABLE_DEF_CNST_CHK'' AS "Option", CASE @@options & 1     WHEN 0 THEN 0 ELSE 1 END AS "Enabled" UNION ALL
               SELECT ''IMPLICIT_TRANSACTIONS''           , CASE @@options & 2     WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''CURSOR_CLOSE_ON_COMMIT''          , CASE @@options & 4     WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_WARNINGS''                   , CASE @@options & 8     WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_PADDING''                    , CASE @@options & 16    WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_NULLS''                      , CASE @@options & 32    WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ARITHABORT''                      , CASE @@options & 64    WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ARITHIGNORE''                     , CASE @@options & 128   WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''QUOTED_IDENTIFIER''               , CASE @@options & 256   WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''NOCOUNT''                         , CASE @@options & 512   WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_NULL_DFLT_ON''               , CASE @@options & 1024  WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_NULL_DFLT_OFF''              , CASE @@options & 2048  WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''CONCAT_NULL_YIELDS_NULL''         , CASE @@options & 4096  WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''NUMERIC_ROUNDABORT''              , CASE @@options & 8192  WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''XACT_ABORT''                      , CASE @@options & 16384 WHEN 0 THEN 0 ELSE 1 END
        ) AS s
        FOR XML RAW
        );', N'WAITFOR DELAY ''00:00:02'';', 1, 1, N'[sa]', N'<row Option="DISABLE_DEF_CNST_CHK" Enabled="0" /><row Option="IMPLICIT_TRANSACTIONS" Enabled="0" /><row Option="CURSOR_CLOSE_ON_COMMIT" Enabled="0" /><row Option="ANSI_WARNINGS" Enabled="1" /><row Option="ANSI_PADDING" Enabled="1" /><row Option="ANSI_NULLS" Enabled="1" /><row Option="ARITHABORT" Enabled="1" /><row Option="ARITHIGNORE" Enabled="0" /><row Option="QUOTED_IDENTIFIER" Enabled="1" /><row Option="NOCOUNT" Enabled="1" /><row Option="ANSI_NULL_DFLT_ON" Enabled="1" /><row Option="ANSI_NULL_DFLT_OFF" Enabled="0" /><row Option="CONCAT_NULL_YIELDS_NULL" Enabled="1" /><row Option="NUMERIC_ROUNDABORT" Enabled="0" /><row Option="XACT_ABORT" Enabled="0" />')
INSERT [benchmark].[BenchmarkTSQL] ([BenchmarkTSQLID], [TSQLStatementGUID], [StepRowNumber], [StartBenchmark], [EndBenchmark], [StartStep], [EndStep], [StepDuration], [DurationAccuracy], [TsqlStatementBefore], [TsqlStatement], [TsqlStatementAfter], [ClearCache], [PrintStepInfo], [OriginalLogin], [AdditionalInfo]) VALUES (25, N'C031CB46-D009-4EFA-9D2A-164568E5D47B', 5, CAST(N'2021-05-26T15:47:15.2435573' AS DateTime2), CAST(N'2021-05-26T15:47:41.1184765' AS DateTime2), CAST(N'2021-05-26T15:47:35.2100551' AS DateTime2), CAST(N'2021-05-26T15:47:39.0567803' AS DateTime2), 3846, N'ms', N'WAITFOR DELAY ''00:00:01'';', N'SELECT TOP(100000) * FROM sys.objects AS o1 CROSS JOIN sys.objects AS o2 CROSS JOIN sys.objects AS o3;

        SET @additionalXMLOUT = (
        SELECT [Option], [Enabled]
        FROM (
               SELECT ''DISABLE_DEF_CNST_CHK'' AS "Option", CASE @@options & 1     WHEN 0 THEN 0 ELSE 1 END AS "Enabled" UNION ALL
               SELECT ''IMPLICIT_TRANSACTIONS''           , CASE @@options & 2     WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''CURSOR_CLOSE_ON_COMMIT''          , CASE @@options & 4     WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_WARNINGS''                   , CASE @@options & 8     WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_PADDING''                    , CASE @@options & 16    WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_NULLS''                      , CASE @@options & 32    WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ARITHABORT''                      , CASE @@options & 64    WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ARITHIGNORE''                     , CASE @@options & 128   WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''QUOTED_IDENTIFIER''               , CASE @@options & 256   WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''NOCOUNT''                         , CASE @@options & 512   WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_NULL_DFLT_ON''               , CASE @@options & 1024  WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''ANSI_NULL_DFLT_OFF''              , CASE @@options & 2048  WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''CONCAT_NULL_YIELDS_NULL''         , CASE @@options & 4096  WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''NUMERIC_ROUNDABORT''              , CASE @@options & 8192  WHEN 0 THEN 0 ELSE 1 END UNION ALL
               SELECT ''XACT_ABORT''                      , CASE @@options & 16384 WHEN 0 THEN 0 ELSE 1 END
        ) AS s
        FOR XML RAW
        );', N'WAITFOR DELAY ''00:00:02'';', 1, 1, N'[sa]', N'<row Option="DISABLE_DEF_CNST_CHK" Enabled="0" /><row Option="IMPLICIT_TRANSACTIONS" Enabled="0" /><row Option="CURSOR_CLOSE_ON_COMMIT" Enabled="0" /><row Option="ANSI_WARNINGS" Enabled="1" /><row Option="ANSI_PADDING" Enabled="1" /><row Option="ANSI_NULLS" Enabled="1" /><row Option="ARITHABORT" Enabled="1" /><row Option="ARITHIGNORE" Enabled="0" /><row Option="QUOTED_IDENTIFIER" Enabled="1" /><row Option="NOCOUNT" Enabled="1" /><row Option="ANSI_NULL_DFLT_ON" Enabled="1" /><row Option="ANSI_NULL_DFLT_OFF" Enabled="0" /><row Option="CONCAT_NULL_YIELDS_NULL" Enabled="1" /><row Option="NUMERIC_ROUNDABORT" Enabled="0" /><row Option="XACT_ABORT" Enabled="0" />')
SET IDENTITY_INSERT [benchmark].[BenchmarkTSQL] OFF
